/*
*    ╔═╗╦  ╔═╗╔═╗╔═╗  ╔╗ ╦ ╦╔╦╗╔╦╗╔═╗╔╗╔
*    ║  ║  ║ ║╚═╗║╣   ╠╩╗║ ║ ║  ║ ║ ║║║║
*    ╚═╝╩═╝╚═╝╚═╝╚═╝  ╚═╝╚═╝ ╩  ╩ ╚═╝╝╚╝
*/
/* Close button opacity */
#TabsToolbar .close-icon {
  filter: opacity(0.4) !important;
  transition: ease 0.6s all !important;
}

#TabsToolbar .close-icon:hover {
  background-color:  transparent !important;
  /*! fill-opacity: 0 !important; */
  fill:  #ccc !important;
  filter: opacity(1) !important;
}

/* Only show close buttons on background tabs when hovering with the mouse */
.tabbrowser-tab:not([selected]):not([pinned]) .tab-close-button {
  display: block !important;
/*   stroke-opacity: 0 !important; */
  fill-opacity: 0 !important;
}

.tabbrowser-tab:not([selected]):not([pinned]):hover .tab-close-button {
/*   stroke-opacity: 1 !important; */
  fill-opacity: 1 !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔╦╗╔═╗╔╗   ╔╦╗╦╔╦╗╦  ╔═╗
*     ║ ╠═╣╠╩╗   ║ ║ ║ ║  ║╣
*     ╩ ╩ ╩╚═╝   ╩ ╩ ╩ ╩═╝╚═╝
*/
/* Centered text */
.tab-text {
  text-align: center !important;
}

.tab-label {
  -moz-box-flex: 1 !important;
  text-align: center !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╔═╗╦  ╦╦╔═╗╔═╗╔╗╔╔═╗
*    ╠╣ ╠═╣╚╗╔╝║║  ║ ║║║║╚═╗
*    ╚  ╩ ╩ ╚╝ ╩╚═╝╚═╝╝╚╝╚═╝
*/
/* Inactive tabs favicons */
.tab-icon-image:not([selected="true"]):not([pinned]) {
  filter: opacity(0.5) !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔╦╗╔═╗╔╗   ╦ ╦╦╔╦╗╔╦╗╦ ╦
*     ║ ╠═╣╠╩╗  ║║║║ ║║ ║ ╠═╣
*     ╩ ╩ ╩╚═╝  ╚╩╝╩═╩╝ ╩ ╩ ╩
*/
/* Set tabs minimum width */
.tabbrowser-tab {
  --tab-min-width: 100px !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╔═╗╔═╗╔═╗╦═╗╔═╗╔╦╗╔═╗╦═╗
*    ╚═╗║╣ ╠═╝╠═╣╠╦╝╠═╣ ║ ║ ║╠╦╝
*    ╚═╝╚═╝╩  ╩ ╩╩╚═╩ ╩ ╩ ╚═╝╩╚═
*/
/* Separator Style - Smaller seperators with margin on top and bottom */
.tabbrowser-tab:not(:-moz-any(:hover, [beforehovered="true"])):before,
.tabbrowser-tab:not(:-moz-any(:hover, [beforehovered="true"])):after {
  margin-block: 5px 4px !important;
}

.tabbrowser-tab:-moz-any(:hover, [beforehovered="true"]):before,
.tabbrowser-tab:-moz-any(:hover, [beforehovered="true"]):after,
#tabbrowser-tabs:not([movingtab])>#tabbrowser-arrowscrollbox>.tabbrowser-tab[beforeselected-visible]::after,
#tabbrowser-tabs[movingtab]>#tabbrowser-arrowscrollbox>.tabbrowser-tab[visuallyselected]::before,
.tabbrowser-tab[visuallyselected]::after {
  margin-top: 1px !important;
  margin-bottom: 0px !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔╦╗╔═╗╔╗   ╦  ╦╔╗╔╔═╗
*     ║ ╠═╣╠╩╗  ║  ║║║║║╣
*     ╩ ╩ ╩╚═╝  ╩═╝╩╝╚╝╚═╝
*/
/* Tab line color in normal mode and private mode*/
#main-window #tabbrowser-tabs {
  --tab-line-color: #3498db !important;
}

#main-window[privatebrowsingmode] #tabbrowser-tabs {
  --tab-line-color: #8e44ad !important;
}