/*
*    ╦ ╦╦ ╦╦╔╦╗╔═╗  ╔═╗╦  ╔═╗╔═╗╦ ╦  ╔═╗╦═╗ ╦
*    ║║║╠═╣║ ║ ║╣   ╠╣ ║  ╠═╣╚═╗╠═╣  ╠╣ ║╔╩╦╝
*    ╚╩╝╩ ╩╩ ╩ ╚═╝  ╚  ╩═╝╩ ╩╚═╝╩ ╩  ╚  ╩╩ ╚═
*/
/* Removes white loading page */
@-moz-document url-prefix(about:blank) {
    html>body:empty {
        background-color: #323030 !important;
        margin: 0 !important;
    }
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╔╗ ╔═╗╦ ╦╔╦╗  ╔═╗╔╦╗╔╦╗╔═╗╔╗╔╔═╗
*    ╠═╣╠╩╗║ ║║ ║ ║   ╠═╣ ║║ ║║║ ║║║║╚═╗
*    ╩ ╩╚═╝╚═╝╚═╝ ╩   ╩ ╩═╩╝═╩╝╚═╝╝╚╝╚═╝
*/
/* about:addons Options tab white flash fix */
@-moz-document url-prefix(chrome: //) {

    addon-details .inline-options-stack {
        background: var(--in-content-box-background) !important;
    }
}

/* ------------------------------------------------------------------ */

/*
*    ╦  ╦╦╔═╗╦ ╦   ╔═╗╔═╗╦ ╦╦═╗╔═╗╔═╗
*    ╚╗╔╝║║╣ ║║║───╚═╗║ ║║ ║╠╦╝║  ║╣
*     ╚╝ ╩╚═╝╚╩╝   ╚═╝╚═╝╚═╝╩╚═╚═╝╚═╝
*/
/* View-source pages */
@-moz-document url-prefix(view-source) {
    :root {
        --theme-highlight-pink: #ff7de9;
        --theme-highlight-blue: #75BFFF;
        --theme-highlight-purple: #B98EFF;
        --theme-highlight-red: #FF7DE9;
        background-color: #2a2a2a !important;
        color: #ddd !important;
    }

    pre[id]:before, span[id]:before {
        color: #aaa !important;
    }

    .highlight .end-tag, .highlight .start-tag {
        color: var(--theme-highlight-blue) !important;
    }

    .highlight .comment {
        color: var(--theme-highlight-pink) !important;
    }

    .highlight .cdata {
        color: #c06 !important;
    }

    .highlight .doctype {
        color: #86DE74 !important;
    }

    .highlight .pi {
        color: var(--theme-highlight-red) !important;
    }

    .highlight .entity {
        color: #27ae60 !important;
    }

    .highlight .attribute-name {
        color: var(--theme-highlight-pink) !important;
    }

    .highlight .attribute-value {
        color: var(--theme-highlight-purple) !important;
    }

    .highlight .markupdeclaration {
        color: #4682b4 !important;
    }

    .highlight .error,
    .highlight .error > :-moz-any(.start-tag, .end-tag, .comment, .cdata, .doctype, .pi, .entity, .attribute-name, .attribute-value) {
        color: #de7474 !important;
    }
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╔═╗╦  ╔═╗╦═╗╔═╗
*    ║  ║ ║║  ║ ║╠╦╝╚═╗
*    ╚═╝╚═╝╩═╝╚═╝╩╚═╚═╝
*/

@-moz-document url-prefix(about:newtab), url-prefix(about:home),
url-prefix(about:webrtc), url-prefix(about:debugging) {
    :root {
        --back-1: #2f2f2f;
        --back-2: #3f3f3f;
        --back-3: #2a2a2a;
        --back-4: #3a3a3a;
        --back-5: #202020;
        --back-6: #4a4a4a;

        --border-1: #232323;
        --border-2: #1e1e1e;
        --border-3: #323030;
        --border-4: #555;

        --text-1: #ccc;
        --text-2: #ddd;
        --text-3: #aaa;

        --accent-1: #3498db;
        --accent-2: #0a8dff;
        --accent-3: #3867d6;
        --accent-4: #4b7bec;
    }
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╔╗ ╔═╗╦ ╦╔╦╗  ╔╗╔╔═╗╦ ╦╔╦╗╔═╗╔╗
*    ╠═╣╠╩╗║ ║║ ║ ║   ║║║║╣ ║║║ ║ ╠═╣╠╩╗
*    ╩ ╩╚═╝╚═╝╚═╝ ╩   ╝╚╝╚═╝╚╩╝ ╩ ╩ ╩╚═╝
*/
/* about:newtab */
@-moz-document url-prefix(about:newtab), url-prefix(about:home) {
    body {
        --newtab-background-color: var(--back-3) !important;
        --newtab-border-primary-color: var(--border-2) !important;
        --newtab-border-secondary-color: var(--border-4) !important;
        --newtab-element-active-color: var(--border-2) !important;
        --newtab-element-hover-color: var(--back-5) !important;
        --newtab-link-primary-color: var(--accent-1) !important;
        --newtab-text-primary-color: var(--text-1) !important;
        --newtab-text-secondary-color: var(--text-3) !important;
        --newtab-icon-primary-color: var(--text-1) !important;
        --newtab-icon-secondary-color: var(--text-3) !important;
        --newtab-inner-box-shadow-color: var(--border-2) !important;
        --newtab-section-header-text-color: var(--text-2) !important;
        --newtab-section-active-contextmenu-color: var(--text-2) !important;
        --newtab-snippets-background-color: var(--back-2) !important;
        --newtab-contextmenu-background-color: var(--back-4) !important;
        --newtab-contextmenu-button-color: var(--back-2) !important;
        --newtab-modal-color: var(--back-1) !important;
        --newtab-overlay-color: rgba(68, 68, 68, 0.8) !important;
        --newtab-textbox-background-color: var(--back-5) !important;
        --newtab-button-secondary-color: var(--back-6) !important;
        --newtab-search-icon-color: var(--text-3) !important;
        --newtab-topsites-background-color: var(--back-6) !important;
        --newtab-search-dropdown-color: var(--back-6) !important;
        --newtab-search-dropdown-header-color: var(--back-4) !important;
        --newtab-search-header-background-color: var(--back-1) !important;
        --newtab-topsites-icon-shadow: inset 0 0 0 1px var(--border-2) !important;
        --newtab-card-active-outline-color: var(--accent-2) !important;
        --newtab-card-background-color: var(--back-2) !important;
        --newtab-card-shadow: 0 1px 4px 0 var(--border-1) !important;

        --size: 150px !important;
    }

    .ds-header, .ds-layout .section-title span {
        color: var(--newtab-text-secondary-color) !important;
    }

    .ds-top-sites .top-sites .top-site-outer .top-site-inner > a:-moz-any(:hover) .tile {
        box-shadow: 0 0 0 5px var(--newtab-card-active-outline-color) !important;
    }

    body:not(.inline-onboarding) .fixed-search .search-wrapper {
        border-bottom: solid 1px var(--newtab-border-primary-color) !important;
    }

    .ds-outer-wrapper-breakpoint-override main {
        width: calc(calc(var(--size) + 38px) * 8) !important;
    }

    .top-site-outer .top-site-inner,
    .top-site-outer .tile {
        width: var(--size) !important;
        height: var(--size) !important;
    }

    .ds-top-sites .top-sites .top-site-outer {
        padding: 0px 17px !important;
    }

    .top-site-outer .tile, .top-site-outer .screenshot, .top-site-outer .top-site-icon,
    .ds-top-sites .top-sites .top-site-outer .top-site-inner > a:-moz-any(:hover) .tile {
        border-radius: 0 !important;
    }
}

/*
*    ╔═╗╔╗ ╔═╗╦ ╦╔╦╗  ╔╦╗╔═╗╔╗ ╦ ╦╔═╗╔═╗╦╔╗╔╔═╗
*    ╠═╣╠╩╗║ ║║ ║ ║    ║║║╣ ╠╩╗║ ║║ ╦║ ╦║║║║║ ╦
*    ╩ ╩╚═╝╚═╝╚═╝ ╩   ═╩╝╚═╝╚═╝╚═╝╚═╝╚═╝╩╝╚╝╚═╝
*/
/* about:debugging */
@-moz-document url-prefix(about:debugging) {
    :root {
        --grey-50: var(--text-3) !important;
    }

    html, body {
        color: var(--text-1) !important;
        background: var(--back-3) !important;
    }

    .card {
        background-color: var(--back-4) !important;
        box-shadow: 0 1px 4px var(--border-2) !important;
    }

    .connect-section__header {
        color: var(--text-2) !important;
    }

    .sidebar-fixed-item__icon, .icon-label__icon {
        fill: var(--text-1) !important;
    }

    .connect-section__header__icon, .sidebar__footer__icon,
    .debug-target-item__icon[src^="chrome"] {
        filter: invert(0.8) !important;
    }

    .default-button {
        color: var(--text-2) !important;
        background-color: var(--back-1) !important;
    }

    .default-button:active, .default-button:hover {
        background-color: var(--border-2) !important;
    }

    .default-input {
        border-color: var(--border-3) !important;
        color: var(--text-1) !important;
        background-color: var(--back-2) !important;
    }

    .sidebar-item--selectable a, .sidebar__footer a {
        color: var(--text-1) !important;
    }

    .separator, .connect-section__extra, .fieldpair,
    .debug-target-item__additional_actions {
        border-color: var(--border-2) !important;
    }

    .sidebar-item--selected a {
        color: var(--accent-2) !important;
    }

    .sidebar-item--selected .sidebar-fixed-item__icon {
        fill: var(--accent-2) !important;
    }

    .service-worker-action__status:not(.service-worker-action__status--running)::before {
        background-color: var(--red-60) !important;
    }
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╔╗ ╔═╗╦ ╦╔╦╗  ╦ ╦╔═╗╔╗ ╦═╗╔╦╗╔═╗
*    ╠═╣╠╩╗║ ║║ ║ ║   ║║║║╣ ╠╩╗╠╦╝ ║ ║
*    ╩ ╩╚═╝╚═╝╚═╝ ╩   ╚╩╝╚═╝╚═╝╩╚═ ╩ ╚═╝
*/
/* about:webrtc */
@-moz-document url-prefix(about:webrtc) {
    html {
        background-color: var(--back-3) !important;
        color: var(--text-1) !important;
    }

    #content > div, .peer-connection > h3 {
        background-color: var(--back-4) !important;
        border-color: var(--border-3) !important;
    }

    .section-heading > button:hover {
        background-color: var(--back-1) !important;
        border: 1px solid var(--border-2) !important;
    }

    .fold-trigger {
        color: var(--text-1) !important;
    }

    table {
        color: var(--text-1) !important;
        background-color: var(--back-2) !important;
    }

    .peer-connection table tr {
        background-color: var(--back-4) !important;
    }

    .trickled {
        background-color: var(--back-2) !important;
        color: var(--text-1) !important;
    }

    .peer-connection table tr:first-of-type {
        background-color: var(--back-3) !important;
        color: var(--text-1) !important;
    }
}