/*
*    ╔╦╗╔═╗╔═╗╦ ╔╦╗╦╔═╗╔═╗
*     ║ ║ ║║ ║║  ║ ║╠═╝╚═╗
*     ╩ ╚═╝╚═╝╩═╝╩ ╩╩  ╚═╝
*      ---- Tooltips ----
*/

tooltip {
  appearance: none;
  padding: 4px 10px;
  background: var(--bg-dark);
  border-color: var(--bg-dark-hover);
  color: var(--text);
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╦ ╦╔═╗╔═╗╦╔═╔╗ ╔═╗═╗ ╦╔═╗╔═╗
*    ║  ╠═╣║╣ ║  ╠╩╗╠╩╗║ ║╔╩╦╝║╣ ╚═╗
*    ╚═╝╩ ╩╚═╝╚═╝╩ ╩╚═╝╚═╝╩ ╚═╚═╝╚═╝
*		     ----- Checkboxes -----  
*/

:is(.browserContainer > findbar, #customization-container, #editBookmarkPanel) .checkbox-check {
  --checkbox-border-color: var(--cb-border);
  --checkbox-unchecked-bgcolor: var(--cb-bg);
}

:is(.browserContainer > findbar, #customization-container, #editBookmarkPanel) checkbox:not([disabled="true"]):hover > .checkbox-check {
  --checkbox-border-color: var(--cb-hover-border);
}

:is(.browserContainer > findbar, #customization-container, #editBookmarkPanel) .checkbox-check[checked] {
  --checkbox-checked-border-color: var(--cb-checked-border);
  --checkbox-checked-bgcolor: var(--cb-checked-bg);
  background-image: var(--check) !important;
  background-size: 11px;
}

:is(.browserContainer > findbar, #customization-container, #editBookmarkPanel) checkbox:not([disabled="true"]):hover > .checkbox-check[checked] {
  --checkbox-checked-hover-bgcolor: var(--cb-checked-hover-bg);
}

:is(.browserContainer > findbar, #customization-container, #editBookmarkPanel) .checkbox-check[disabled] {
  background-color: var(--cb-disabled-background);
  border-color: var(--cb-disabled-border);
}

/* ------------------------------------------------------------------ */

/*
*    ╦═╗╔═╗╔╦╗╦╔═╗╔═╗
*    ╠╦╝╠═╣ ║║║║ ║╚═╗
*    ╩╚═╩ ╩═╩╝╩╚═╝╚═╝
*   ----- Radios -----  
*/

:is(#unknownContentTypeWindow) .radio-check {
  appearance: none !important;
  margin-right: 2px !important;
  padding: 6px;
  background-color: var(--cb-bg);
  border: 1px solid var(--cb-border);
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px var(--cb-bg);
}

:is(#unknownContentTypeWindow) .radio-check[selected] {
  background-color: var(--cb-checked-bg);
  border-color: var(--cb-hover-border);
}

:is(#unknownContentTypeWindow) radio:hover .radio-check {
  border-color: var(--cb-hover-border);
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╦ ╦╔╦╗╔═╗  ╔═╗╔═╗╔╦╗╔═╗╦  ╔═╗╔╦╗╔═╗  ╦  ╦╔═╗╔╦╗╔═╗
*    ╠═╣║ ║ ║ ║ ║  ║  ║ ║║║║╠═╝║  ║╣  ║ ║╣   ║  ║╚═╗ ║ ╚═╗
*    ╩ ╩╚═╝ ╩ ╚═╝  ╚═╝╚═╝╩ ╩╩  ╩═╝╚═╝ ╩ ╚═╝  ╩═╝╩╚═╝ ╩ ╚═╝
*            ----- Auto Complete List Boxes ----- 
*/

#PopupAutoComplete {
  --panel-border-color: var(--border) !important;
}

#PopupAutoComplete > richlistbox {
  background: var(--bg) !important;
  color: var(--text) !important;
}

#PopupAutoComplete > richlistbox richlistitem {
  padding: 4px 8px 6px !important;
  color: var(--text) !important;
}

#PopupAutoComplete > richlistbox richlistitem:is(:hover, :active) {
  background-color: var(--accent-light) !important;
}

#PopupAutoComplete > richlistbox richlistitem[selected="true"] {
  background-color: var(--accent) !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╦═╗╦═╗╔═╗╦ ╦  ╔═╗╔═╗╔╗╔╔═╗╦  ╔═╗
*    ╠═╣╠╦╝╠╦╝║ ║║║║  ╠═╝╠═╣║║║║╣ ║  ╚═╗
*    ╩ ╩╩╚═╩╚═╚═╝╚╩╝  ╩  ╩ ╩╝╚╝╚═╝╩═╝╚═╝
*		     ----- Arrow Panels ----- 
*/

panel[type="arrow"] {
  --lwt-text-color: var(--text) !important;
  --arrowpanel-color: var(--text) !important;
  
  --arrowpanel-background: var(--bg) !important;
  --arrowpanel-dimmed: var(--bg-hover) !important;
  --arrowpanel-dimmed-further: var(--bg-dark-hover) !important;
  --arrowpanel-dimmed-even-further: var(--bg-darkest) !important;
  --arrowpanel-border-color: var(--border) !important;
  
  --panel-description-color: var(--text-light) !important;
  --panel-disabled-color: var(--disabled) !important;
  
  --panel-item-hover-bgcolor: var(--arrowpanel-dimmed);
  --panel-item-active-bgcolor: var(--arrowpanel-dimmed-further);
  
  --panel-separator-color: var(--separator) !important;
  
  --panel-banner-item-background-color: var(--bg-darker) !important;
  --panel-banner-item-hover-bgcolor: var(--bg-dark-hover) !important;
  --panel-banner-item-active-bgcolor: var(--bg-darkest) !important;
  --panel-banner-item-color: var(--text) !important;
  
  --button-primary-bgcolor: var(--accent);
  --button-primary-hover-bgcolor: var(--accent-light);
  --button-primary-active-bgcolor: var(--accent-dark);
  --button-primary-color: var(--text);
  --button-text-color-primary: var(--text-bright);
  --button-text-color-primary-hover: var(--text-bright);
  
  --button-bgcolor: var(--bg-hover);
  --button-hover-bgcolor: var(--bg-dark-hover);
  --button-active-bgcolor: var(--border);
  --button-background-color-hover: var(--bg-hover);
  --button-background-color-ghost-hover: var(--bg-hover);
  
  --panel-border-radius: 0 !important;
  --arrowpanel-border-radius: 0 !important;
  --arrowpanel-menuitem-border-radius: 0 !important;
  --button-border-radius: 0.3rem !important;
  
  --input-bgcolor: var(--bg-dim);
  --input-color: var(--text);
  --input-border-color: var(--bg-hover);
}

#downloadsListBox > richlistitem {
  border-radius: var(--arrowpanel-menuitem-border-radius) !important;
}

input:where(:not([type="radio" i], [type="checkbox" i], [type="range" i])), textarea {
  border-radius: var(--button-border-radius) !important;
}

#unified-extensions-panel .panel-header + toolbarseparator {
  color: transparent !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╔═╗╔╗╔╔╦╗╔═╗═╗ ╦╔╦╗  ╔╦╗╔═╗╔╗╔╦ ╦╔═╗
*    ║  ║ ║║║║ ║ ║╣ ╔╩╦╝ ║   ║║║║╣ ║║║║ ║╚═╗
*    ╚═╝╚═╝╝╚╝ ╩ ╚═╝╩ ╚═ ╩   ╩ ╩╚═╝╝╚╝╚═╝╚═╝
*		       ----- Context Menus ----- 
*/

:is(#autohide-context, #backForwardMenu, #contentAreaContextMenu, #downloadsContextMenu, .new-tab-popup, #new-tab-button-popup, #pageActionContextMenu, #placesContext, #sidebar-history-menu, #sidebar-synced-tabs-context-menu, #sidebarMenu-popup, #SyncedTabsSidebarContext, #tabContextMenu, #textbox-contextmenu, #toolbar-context-menu, #unified-extensions-context-menu), 
:is([data-l10n-id="page-info-page"], [data-l10n-id="places-library"], [data-l10n-id="places-open-in-container-tab"], #contentAreaContextMenu, #customization-container, #main-menubar, .sidebar-panel, #SyncedTabsSidebarContext, #tabContextMenu, #textbox-contextmenu, #toolbar-context-menu, #urlbar) menupopup
{
  --panel-padding: 0 !important;
  --panel-background: var(--bg) !important;
  --panel-border-color: transparent !important;
  --panel-border-radius: 0 !important;
  --panel-color: var(--text) !important;
  --panel-shadow: 0 !important;
  appearance: none !important;
  min-width: 220px !important;
  margin: 0 !important;
  padding: 4px;
  background: var(--panel-background) !important;
  border: 1px solid var(--border) !important;

  /* Menuitem */
  > :is(menuitem, menu) {
    appearance: none !important;
    min-height: 28px !important;
    margin: 0 !important;
    padding: 4px 12px !important;
    border-radius: 0 !important;
  }
  
  &[needsgutter] > :is(menuitem, menu) {
    padding-inline-start: 6px !important;
    
    .menu-icon {
      margin-inline-end: 6px !important
    }
  }

  /* Separator */
  menuseparator {
    appearance: none !important;
    margin: 3px 5px !important;
    padding: 0 !important;
  }

  menuseparator::before {
    border-top: 1px solid var(--separator) !important; 
  }

  /* Disabled */
  :is(menuitem, menu)[disabled="true"] {
    background-color: var(--panel-background) !important;
    color: var(--disabled) !important;

    &:is(:hover, [_moz-menuactive="true"]) {
      background-color: var(--bg-dark) !important;
    }
  }

  /* Hover */
  :is(menu, menuitem):not([disabled="true"]):is(:hover, [_moz-menuactive="true"]) {
    background-color: var(--bg-hover) !important;
    color: currentColor !important;
  }

  /* Keyboard Shortcut Text */
  .menu-accel, .menu-iconic-accel {
    color: var(--disabled);
  }

  /* Checkbox & Radio */
/*   @media not (-moz-windows-non-native-menus) {
    menuitem[checked="true"][type="checkbox"] > .menu-iconic-left {
      appearance: none !important;
      margin-inline: 7px 6px !important;
      padding: 6px 0 0 !important;
      border: solid var(--text);
      border-width: 0 0 2px 2px;
      transform: rotate(-45deg) scale(.75);
      outline: 2px solid lime !important;
    }

    menuitem[checked="true"][type="radio"] > .menu-iconic-left {
      appearance: none !important;
      height: 17px !important;
      margin-inline: 7px 6px !important;
      background: var(--text);
      border: solid var(--text);
      border-radius: 100%;
      transform: scale(0.5);
    }
  } */

  /* Menu Right Arrow Icon */
  .menu-right, > menu::after {
    appearance: none !important;
    -moz-context-properties: fill, fill-opacity;
    list-style-image: url("chrome://global/skin/icons/arrow-right.svg") !important;
    fill: currentColor !important;
  }
}

menupopup > menugroup {
  padding: 0 !important;
  background-color: red !important;
}

/* Menuitem */
menupopup[needsgutter] menu:not([icon], .menu-iconic), 
menupopup[needsgutter] menuitem:not([checked="true"], [icon], .menuitem-iconic) {
	padding-inline-start: 1rem !important;
}

/* Main menu selected */
#main-menubar > menu[_moz-menuactive="true"] {
  background-color: var(--bg-hover) !important;
  color: var(--text) !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╦ ╦╔═╗╔╦╗╔╗ ╦ ╦╦═╗╔═╗╔═╗╦═╗  ╔╦╗╔═╗╔╗╔╦ ╦
*    ╠═╣╠═╣║║║╠╩╗║ ║╠╦╝║ ╦║╣ ╠╦╝  ║║║║╣ ║║║║ ║
*    ╩ ╩╩ ╩╩ ╩╚═╝╚═╝╩╚═╚═╝╚═╝╩╚═  ╩ ╩╚═╝╝╚╝╚═╝
*		       ----- Hamburger menu -----
*/

#appMenu-multiView panelview {
  min-width: 300px !important;
}

.panel-header {
  background: var(--bg-hover) !important;
  border-bottom: 1px solid var(--border) !important;
}

#appMenu-multiView .panel-header + toolbarseparator {
  color: transparent !important;
}

#appMenu-multiView toolbarseparator {
  color: var(--bg-dim) !important;
}

.PanelUI-subView .panel-header .subviewbutton {
  cursor: pointer;
}

.subviewbutton[shortcut]::after {
  color: var(--disabled) !important;
}

#PanelUI-whatsNew .panelMenu-toggleWhatsNew-checkbox {
  border-top-color: var(--border) !important;
}

#PanelUI-whatsNew:not(:hover) .checkbox-check {
  background-color: var(--bg-dim) !important;
  border-color: var(--bg-hover) !important;
}

#PanelUI-whatsNew:hover .checkbox-check {
  background-color: var(--bg-dim) !important;
}

/* -- Zoom & Fullscreen Buttons -- */
#appMenu-zoomReset-button2 {
  background-color: var(--bg) !important;
  border-color: var(--text) !important;
}

#appMenu-fullscreen-button2:not(:hover) > .toolbarbutton-icon {
  background-color: var(--bg) !important;
}

#appMenu-zoomReduce-button2:not([disabled]) > .toolbarbutton-icon, 
#appMenu-zoomEnlarge-button2:not([disabled]) > .toolbarbutton-icon {
  stroke: var(--bg) !important;
}

#appMenu-zoomReduce-button2:not([disabled]):hover > .toolbarbutton-icon, 
#appMenu-zoomEnlarge-button2:not([disabled]):hover > .toolbarbutton-icon {
  fill: var(--text) !important;
  stroke: var(--bg-darker) !important;
}

/* -- Adds icons to main menu items which were removed in Proton -- */
/* Code from forked from https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/iconized_main_menu.css */
/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/iconized_main_menu.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */
#appMenu-zoom-controls::before,
#appMenu-fxa-status2[fxastatus] > toolbarbutton::before,
:where(#appMenu-mainView) > .panel-subview-body > .subviewbutton > .toolbarbutton-icon {
  fill: currentColor;
  -moz-context-properties: fill;
  margin-inline: 0 8px !important;
}

#appMenu-zoom-controls::before,
#appMenu-fxa-status2[fxastatus] > toolbarbutton::before {
  display: flex;
  content: "";
  width: 16px;
  height: 16px;
}

#appMenu-new-tab-button2 { list-style-image: url("chrome://browser/skin/new-tab.svg") }
#appMenu-new-window-button2 { list-style-image: url("chrome://browser/skin/window.svg") }
#appMenu-new-private-window-button2 { list-style-image: url("chrome://browser/skin/privateBrowsing.svg") }
#appMenu-bookmarks-button { list-style-image: url("chrome://browser/skin/bookmark-star-on-tray.svg") }
#appMenu-history-button { list-style-image: url("chrome://browser/skin/history.svg") }
#appMenu-downloads-button { list-style-image: url("chrome://browser/skin/downloads/downloads.svg") }
#appMenu-passwords-button { list-style-image: url("chrome://browser/skin/login.svg") }
#appMenu-extensions-themes-button { list-style-image: url("chrome://mozapps/skin/extensions/extension.svg") }
#appMenu-print-button2 { list-style-image: url("chrome://global/skin/icons/print.svg") }
#appMenu-save-file-button2 { list-style-image: url("chrome://browser/skin/save.svg") }
#appMenu-find-button2 { list-style-image: url("chrome://global/skin/icons/search-glass.svg") }
#appMenu-settings-button { list-style-image: url("chrome://global/skin/icons/settings.svg") }
#appMenu-more-button2 { list-style-image: url("chrome://global/skin/icons/developer.svg") }
#appMenu-report-broken-site-button { list-style-image: url("chrome://global/skin/icons/warning.svg") }
#appMenu-help-button2 { list-style-image: url("chrome://global/skin/icons/info.svg") }
#appMenu-quit-button2 {
  list-style-image: url("chrome://devtools/skin/images/search-clear.svg");

  & > .toolbarbutton-icon {
    -moz-context-properties: fill, stroke;
    stroke: transparent;
  }
}

#appMenu-translate-button { list-style-image: url("chrome://browser/skin/translations.svg") }
#appMenu-zoom-controls::before { background-image: url("chrome://browser/skin/fullscreen.svg") }

/* Use account-button icon for signed in sync item */
#appMenu-fxa-status2[fxastatus] > toolbarbutton::before { background-image: var(--avatar-image-url) }

/* Add somewhat hacky separator to zoom controls so it looks consistent */
#appMenu-mainView > .panel-subview-body::after {
  content: "";
  display: flex;
  border-bottom: 1px solid var(--panel-separator-color);
  margin: 0.325rem 0.65rem;
}

#appMenu-translate-button ~ * {
  order: 2;
}

/* ------------------------------------------------------------------ */

/*
*    ╔╗ ╔═╗╔═╗╦╔═╔╦╗╔═╗╦═╗╦╔═╔═╗  ╔═╗╔═╗╔═╗╦ ╦╔═╗
*    ╠╩╗║ ║║ ║╠╩╗║║║╠═╣╠╦╝╠╩╗╚═╗  ╠═╝║ ║╠═╝║ ║╠═╝
*    ╚═╝╚═╝╚═╝╩ ╩╩ ╩╩ ╩╩╚═╩ ╩╚═╝  ╩  ╚═╝╩  ╚═╝╩
*		       ----- Bookmarks Popup -----
*/

#editBookmarkPanelFavicon[src] {
  background-color: var(--bg) !important;
}

#editBookmarkPanel .expander-up, #editBookmarkPanel .expander-down {
  border: none !important;
  border-radius: var(--arrowpanel-menuitem-border-radius);
}

#editBookmarkPanel > #editBookmarkHeaderSeparator {
  color: transparent !important;
}

/* -- Inputs -- */
#editBookmarkPanelRows input, 
#editBMPanel_namePicker, #editBMPanel_tagsField {
  --input-bgcolor: var(--bg-dim);
  --input-border-color: var(--bg-hover);
}

#editBookmarkPanelRows input:hover,
#editBMPanel_namePicker:hover, #editBMPanel_tagsField:hover {
  --input-border-color: var(--accent) !important;
}

#editBMPanel_namePicker:focus-visible, #editBMPanel_tagsField:focus-visible {
  outline: 2px solid var(--accent) !important;
}

#editBMPanel_namePicker::selection, #editBMPanel_tagsField::selection {
  background-color: var(--accent) !important;
}

/* -- Dropdown -- */
#editBookmarkPanel {
  --button-background-color: var(--bg-darker);
  --button-background-color-hover: var(--bg-darkest);
}

#editBMPanel_folderMenuList[open="true"] {
  background-color: var(--bg-darkest) !important;
}

#editBMPanel_folderMenuList menupopup {
  --panel-background: var(--bg-darker) !important;
  --panel-border-color: var(--border) !important;
}

#editBMPanel_folderMenuList menupopup menuitem {
  background-color: transparent !important;
  color: var(--text) !important;
}

#editBMPanel_folderMenuList menuitem:is(:hover, :active) {
  background-color: var(--accent-light) !important;
}

#editBMPanel_folderMenuList menuitem[_moz-menuactive="true"] {
  background: var(--accent) !important;
}

/* -- Location & Tags Expanded Panels -- */
#editBMPanel_folderTreeRow tree,
#editBMPanel_tagsSelectorRow richlistbox {
  appearance: none !important;
  background: var(--bg-dark) !important;
  border: 1px solid var(--border) !important;
  color: var(--text) !important;
}
#editBMPanel_tagsSelectorRow richlistitem {
  border: 1px solid var(--bg-dark);
}

#editBMPanel_folderTreeRow treechildren::-moz-tree-row(hover),
#editBMPanel_tagsSelectorRow richlistitem:hover {
  background-color: var(--bg-dark-hover) !important;
  border-color: var(--bg-dark-hover) !important;
}

#editBMPanel_folderTreeRow treechildren::-moz-tree-row(selected) {
  background-color: var(--accent-dark) !important;
}

#editBMPanel_folderTreeRow treechildren::-moz-tree-row(selected, focus),
#editBMPanel_tagsSelectorRow richlistitem[selected="true"] {
  background-color: var(--accent) !important;
  border-color: var(--accent-dark) !important;
  color: currentColor !important;
}

#editBMPanel_folderTreeRow treechildren::-moz-tree-cell-text(selected),
#editBMPanel_folderTreeRow treechildren::-moz-tree-image(selected),
#editBMPanel_folderTreeRow treechildren::-moz-tree-twisty(selected) {
  color: currentColor !important;
}

/* -- Tags Auto Complete List -- */
#editBMPanel_tagsAutocomplete {
  --panel-border-color: var(--border) !important;
}

#editBMPanel_tagsAutocomplete richlistbox {
  background-color: var(--bg-darker) !important;
}

#editBMPanel_tagsAutocomplete richlistbox richlistitem {
  padding: 4px 8px 6px !important;
}

#editBMPanel_tagsAutocomplete richlistbox richlistitem:is(:hover, :active) {
  background-color: var(--accent-light) !important;
}

#editBMPanel_tagsAutocomplete richlistbox richlistitem[selected="true"] {
  background-color: var(--accent) !important;
}

/* -- Tags Panel Checkbox -- */
#editBMPanel_tagsSelector > richlistitem {
  display: flex;
  align-items: center;
}

#editBMPanel_tagsSelector > richlistitem > image {
  appearance: none !important;
  height: 17px;
  width: 17px;
  background: var(--bg-dim) !important;
  border: 1px solid var(--bg-dim) !important;
  border-radius: 2px;
}

#editBMPanel_tagsSelector > richlistitem:not([checked="true"]):hover > image {
  background-color: var(--disabled) !important;
  border-color: var(--disabled) !important;
} 

#editBMPanel_tagsSelector > richlistitem[checked="true"] > image {
  background: var(--disabled) var(--check) no-repeat center / 10px !important;
  border-color: var(--disabled) !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╦ ╦╔═╗╔╦╗╔═╗╔╦╗╦╔═╗╔═╗  ╔╦╗╔═╗╔╗╔╦ ╦
*    ║  ║ ║╚═╗ ║ ║ ║║║║║╔═╝║╣   ║║║║╣ ║║║║ ║
*    ╚═╝╚═╝╚═╝ ╩ ╚═╝╩ ╩╩╚═╝╚═╝  ╩ ╩╚═╝╝╚╝╚═╝
*		      ----- Customize Menu ----- 
*/

#customization-container {
  background-color: var(--bg) !important;
  background-image: linear-gradient(var(--bg-hover), var(--bg) 45px) !important;
  color: var(--text) !important;
}

#customization-header {
  text-shadow: 0 0 1em var(--border), 0 0 1em var(--border), 0 0 .5em var(--border) !important;
}

/* -- Overflow Menu -- */
#customization-panelWrapper>.panel-arrowbox>.panel-arrow[side="top"] {
  fill: var(--bg-dark) !important;
  stroke: var(--border) !important;
}

#customization-panelWrapper > .panel-arrowcontent {
  background-color: var(--bg-dark) !important;
  border-color: var(--border) !important;
  color: var(--text) !important;
  box-shadow: 0 0 4px var(--border) !important;
}

#customization-panelHolder>#widget-overflow-fixed-list:not(:empty) {
  border-color: var(--separator) !important;
}

/* -- Footer -- */
#customization-footer {
  margin-inline: 10px;
  padding-inline: 0 !important;
  border-top-color: var(--separator) !important;
}

.customizationmode-button:not(#customization-done-button) {
  background-color: var(--bg-darker) !important;
  border-color: var(--bg-darker) !important;
  border-radius: 4px !important;
  color: var(--text) !important;
}

.customizationmode-button:not(#customization-done-button, [disabled]):hover {
  background-color: var(--bg-dark-hover) !important;
  border-color: var(--bg-dark-hover) !important;
}

.customizationmode-button:not(#customization-done-button, [disabled]):active {
  background-color: var(--bg-darkest) !important;
  border-color: var(--bg-darkest) !important;
}

#customization-done-button {
  background-color: var(--accent) !important;
  border-color: var(--accent) !important;
  color: var(--text) !important;
}

#customization-done-button:not([disabled]):hover {
  background-color: var(--accent-light) !important;
  border-color: var(--accent-light) !important;
}

#customization-done-button:not([disabled]):active {
  background-color: var(--accent-dark) !important;
  border-color: var(--accent-dark) !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╦╔╦╗╔═╗╔╗ ╔═╗╦═╗
*    ╚═╗║ ║║║╣ ╠╩╗╠═╣╠╦╝
*    ╚═╝╩═╩╝╚═╝╚═╝╩ ╩╩╚═
*    ----- Sidebar -----
*/

:root {
  --sidebar-background-color: var(--bg) !important;
  --sidebar-text-color: var(--text) !important;
  --sidebar-box-background: var(--bg-darkest) !important;
  --sidebar-box-border-color: var(--bg-darkest) !important;
}

#sidebar-box {
  background: var(--bg) !important;
  color: var(--text) !important;
}

#sidebar {
  border-radius: 0 !important;
}

@-moz-document url-prefix("chrome://browser/content/sidebar") {
  :root {
    scrollbar-width: thin;
  }
  
  #input {
    background-color: var(--bg-darker) !important;
    border: 1px solid var(--border) !important;
    border-radius: 4px !important;
    color: var(--text-bright) !important;
    
    &:hover {
      outline: 1px solid var(--accent-light) !important;
    }
    
    &:focus-visible {
      outline: 2px solid var(--accent-light) !important;
    }
  }
  
  .sidebar-panel, sidebar-tab-row {
    border-radius: 0 !important;
  }
  
  moz-card {
    --card-border-radius: 4px !important;
    border-radius: 4px !important;
  }
  
  .moz-card {
    padding-block-end: 0 !important;
  }
  
  #content {
    background: var(--bg-darker) !important;
  }
  
  sidebar-tab-row:is(:hover, :focus-visible) {
    background-color: var(--bg-darkest) !important;
  }
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╦╔╗╔╔╦╗╔╗ ╔═╗╦═╗
*    ╠╣ ║║║║ ║║╠╩╗╠═╣╠╦╝
*    ╚  ╩╝╚╝═╩╝╚═╝╩ ╩╩╚═
*    ----- Findbar ----- 
*/

.browserContainer > findbar {
  background: var(--bg) !important;
  border-top-color: var(--border) !important;
  color: var(--text) !important;
}

.findbar-textbox {
  background: var(--cb-bg) !important;
  border: 1px solid var(--cb-border) !important;
  color: var(--text) !important;
}

.findbar-find-previous,
.findbar-find-next {
  background-color: var(--bg-darker) !important;
}

.findbar-find-previous {
  margin-right: 5px !important;
}

.findbar-find-previous[disabled="true"] > .toolbarbutton-icon,
.findbar-find-next[disabled="true"] > .toolbarbutton-icon {
  opacity: 1 !important;
  fill: var(--disabled) !important;
}

.findbar-find-previous:not([disabled="true"]):hover,
.findbar-find-next:not([disabled="true"]):hover {
  background-color: var(--bg-dark-hover) !important;
  fill: #fff !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╦  ╔═╗╦═╗╔╦╗╔═╗  ╔═╗╔═╗╔═╗╦ ╦╔═╗
*    ╠═╣║  ║╣ ╠╦╝ ║ ╚═╗  ╠═╝║ ║╠═╝║ ║╠═╝
*    ╩ ╩╩═╝╚═╝╩╚═ ╩ ╚═╝  ╩  ╚═╝╩  ╚═╝╩
*		     ----- Alerts Popup -----
*/

#alertBox {
  background: var(--bg) !important;
  border-color: var(--border) !important;
  border-radius: 4px !important;
  color: var(--text) !important;
}

#alertSettings {
  -moz-context-properties: fill, fill-opacity !important;
  margin: 0px 2px -3px 0px !important;
  padding: 3px !important;
  color: inherit !important;
  border-radius: 2px !important;
  transform: scale(0.91, 0.91) !important;
}

#alertSettings:hover,
#alertSettings[open] {
  background-color: var(--hover) !important;
}

/* Close Icons */
#alertBox .close-icon {
  box-sizing: border-box;
  margin-block: 2px -2px !important;
  margin-inline-end: 4px !important;
  scale: 0.9;
}

/* Screenshot Alert Image */
#alertImage[src$="copied-notification.svg"] {
  filter: invert(0.75);
}

/* ------------------------------------------------------------------ */

/*
*    ╔╦╗╦╔═╗╦  ╔═╗╔═╗  ╔╗ ╔═╗═╗ ╦╔═╗╔═╗
*     ║║║╠═╣║  ║ ║║ ╦  ╠╩╗║ ║╔╩╦╝║╣ ╚═╗
*    ═╩╝╩╩ ╩╩═╝╚═╝╚═╝  ╚═╝╚═╝╩ ╚═╚═╝╚═╝
*		     ----- Dialog Boxes ----- 
*/

#unknownContentTypeWindow, #SiteDataRemoveSelectedDialog {
  background: var(--bg) !important;
  color: var(--text) !important;
}

@-moz-document url(chrome://mozapps/content/downloads/unknownContentType.xhtml) {
  /* -- Checkbox -- */
  .checkbox-check {
    appearance: none !important;
    height: 15px;
    width: 15px;
    background: var(--cb-bg) !important;
    border: 1px solid var(--cb-border) !important;
  }

  checkbox:not([disabled="true"]):hover > .checkbox-check {
    border-color: var(--cb-hover-border) !important;
  }

  .checkbox-check[checked] {
    background: var(--cb-checked-bg) var(--check) no-repeat center / 10px !important;
    border-color: var(--cb-checked-border) !important;
  }

  checkbox:not([disabled="true"]):hover > .checkbox-check[checked] {
    background-color: var(--cb-checked-hover-bg) !important;
  }

  .checkbox-check[disabled] {
    background-color: var(--cb-disabled-background) !important;
    border-color: var(--cb-disabled-border) !important;
  }

  /* -- Dropdown -- */
  menulist {
    appearance: none !important;
    padding: 5px 7px !important;
    background: var(--bg-hover) !important;
    border: 1px solid var(--bg-darker) !important;
    border-radius: 4px;
  }

  menuseparator {
    appearance: none !important;
    margin: 3px 5px !important;
    padding: 0 !important;
    border-top: 1px solid var(--separator) !important;
    border-bottom: none !important;
  }

  menulist:is(:hover, [_moz-menuactive="true"], [open="true"]) {
    background: var(--bg-dark-hover);
  }

  menulist > menupopup {
    --panel-background: var(--bg-dark) !important;
    --panel-border-color: var(--border) !important;
    --panel-color: var(--text) !important;
    padding-top: 2px;
  }

  menulist menuitem:is(:hover, [_moz-menuactive="true"]):not([disabled="true"]) {
    background-color: var(--accent) !important;
  }

  #label-box {
    background: transparent !important;
    color: var(--text) !important;
  }
}

@-moz-document url(chrome://mozapps/content/downloads/unknownContentType.xhtml), 
  url(chrome://browser/content/preferences/dialogs/siteDataRemoveSelected.xhtml) {
  /* -- Buttons -- */
  button {
    appearance: none !important;
    min-width: 5em !important;
    padding: 8px 16px !important;
    border: 0 !important;
    border-radius: 4px !important;
  }
  
  button:not([disabled]) {
    background-color: var(--accent) !important;
    color: var(--text) !important;
  }
  
  button:not([disabled]):hover {
    background-color: var(--accent-light) !important;
  }
  
  button:not([disabled]):active {
    background-color: var(--accent-dark) !important;
  }
  
  button[disabled] {
    background-color: var(--disabled) !important;
    color: var(--bg) !important;
  }
}