/*
*    ╔═╗╔═╗╦  ╔═╗╦═╗╔═╗
*    ║  ║ ║║  ║ ║╠╦╝╚═╗
*    ╚═╝╚═╝╩═╝╚═╝╩╚═╚═╝
*		 ----- Colors -----
*/

:root {
	--context-background: #393838;
	--context-background-2: #323030;
	--context-border: #151515;
	--context-disabled: #6d6d6d;
	--context-text: #ccc;
	--context-hover: #252525;
	--context-separator: #555;
	--context-gradient: linear-gradient(#2a2a2a, #323030);
	
	--tick: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
}

/* Toolbar Icon hover & active */
:root:-moz-lwtheme-brighttext, toolbar[brighttext] {
	--toolbarbutton-hover-background: var(--context-border) !important;
	--toolbarbutton-active-background: var(--context-border) !important;
	/* changed from context-border to context-hover in order to make the findbar buttons look lighter */
}

/* Arrow Panels */
panel[type="arrow"] {
	--arrowpanel-background: var(--context-background) !important;
	--arrowpanel-border-color: var(--context-border) !important;
	--arrowpanel-color: var(--context-text) !important;
}


/* ------------------------------------------------------------------ */

/* Findbar */
.browserContainer > findbar {
	background-color: var(--context-background) !important;
	border-top-color: var(--context-border) !important;
	color: var(--context-text) !important;
}
.findbar-container > hbox:nth-child(1) {
	border-color: red !important;
}
.findbar-textbox {
	background: var(--context-separator) !important;
	border-color: var(--context-border) !important;
	color: var(--context-text) !important;
}
.findbar-find-previous, .findbar-find-next {
	background-color: var(--context-background-2) !important;
	border-color: var(--context-hover) !important;
}
.findbar-find-previous[disabled="true"] > .toolbarbutton-icon, 
.findbar-find-next[disabled="true"] > .toolbarbutton-icon {
	opacity: 1 !important;
	fill: var(--context-disabled) !important;
}
.findbar-find-previous:not([disabled="true"]):hover, 
.findbar-find-next:not([disabled="true"]):hover {
	background-color: var(--context-hover) !important;
}
findbar toolbarbutton:-moz-focusring {
	outline: 1px solid var(--context-border) !important;
	background-color: var(--context-hover) !important;
}
.findbar-button:hover {
	background-color: var(--context-hover) !important;
}
.findbar-button:not([disabled="true"]):is([checked="true"], :hover:active) {
	background-color: var(--context-border) !important;
}
findbar .close-icon .toolbarbutton-icon {
	padding: 4px 0 0 4px;
	list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12px' height='12px' viewBox='0 0 180 180' %3E%3Cg fill='%23ccc'%3E%3Cpath d='M121.325,10.925l-8.5-8.399c-2.3-2.3-6.1-2.3-8.5,0l-42.4,42.399L18.726,1.726c-2.301-2.301-6.101-2.301-8.5,0l-8.5,8.5 c-2.301,2.3-2.301,6.1,0,8.5l43.1,43.1l-42.3,42.5c-2.3,2.3-2.3,6.1,0,8.5l8.5,8.5c2.3,2.3,6.1,2.3,8.5,0l42.399-42.4l42.4,42.4 c2.3,2.3,6.1,2.3,8.5,0l8.5-8.5c2.3-2.3,2.3-6.1,0-8.5l-42.5-42.4l42.4-42.399C123.625,17.125,123.625,13.325,121.325,10.925z'/%3E%3C/g%3E%3C/svg%3E") !important;
}
findbar .close-icon:hover .toolbarbutton-icon {
	background-color: var(--context-hover);
}

/* ------------------------------------------------------------------ */

/* ----- Customize Menu ----- */
#customization-container {
	background-color: var(--context-background) !important;
	background-image: linear-gradient(var(--context-hover), var(--context-background) 45px) !important;
	color: var(--context-text) !important;
}
#customization-header {
	text-shadow: 0 0 1em var(--context-border), 0 0 1em var(--context-border), 0 0 .5em var(--context-border) !important;
}
#customization-panelWrapper > .panel-arrowbox > .panel-arrow[side="top"] {
	fill: var(--context-background-2) !important;
	stroke: var(--context-border) !important;
}

/* -- Overflow Menu -- */
#customization-panelWrapper > .panel-arrowcontent {
	background-color: var(--context-background-2) !important;
	border-color: var(--context-border) !important;
	color: var(--context-text) !important;
	box-shadow: 0 0 4px var(--context-border) !important;
}
#customization-panelHolder > #widget-overflow-fixed-list:not(:empty) {
	border-color: var(--context-separator) !important;
}

/* -- Footer -- */
/* Panels/Menus */
#customization-lwtheme-menu-header, #customization-lwtheme-menu-recommended {
	background-color: var(--context-background-2) !important;
	border-bottom-color: var(--context-border) !important;
}
.customization-uidensity-menuitem[active="true"], .customization-uidensity-menuitem:hover, 
.customization-lwtheme-menu-theme[active="true"], .customization-lwtheme-menu-theme:hover {
	background-color: var(--context-hover) !important;
	border-color: var(--context-border) !important;;
}
#customization-lwtheme-menu-footer {
	background: linear-gradient(var(--context-background-2) 60%, transparent) border-box !important;
	border-top-color: var(--context-border) !important;
}
.customization-lwtheme-menu-footeritem:first-child, #customization-uidensity-touch-spacer {
	border-color: var(--context-border) !important;
}
.customization-lwtheme-menu-footeritem:hover {
	background: linear-gradient(var(--context-hover) 40%, transparent) padding-box !important;
}

/* Checkboxes */
#customization-container .checkbox-check {
	-moz-appearance: none !important;
	background-color: var(--context-disabled);
	border: 1px solid var(--context-border)
}
#customization-container .checkbox-check[checked] {
	background:  var(--context-disabled) var(--tick) no-repeat center 2px / 10px;
}

/* Buttons */
#customization-container button {
	-moz-appearance: none !important;
	background-color: var(--context-hover) !important;
	border: 1px solid var(--context-border) !important;
	border-radius: 3px !important;
	color: var(--context-text) !important;
	padding: 3px !important;
}
#customization-container button[label="Cancel"] {
	background-color: var(--context-background-2) !important;
	border-color: var(--context-hover) !important;
}
#customization-container button[label="OK"]:not(:hover) {
	background-color: var(--context-separator) !important;
}
#customization-container button:hover {
	background-color: var(--context-border) !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╦ ╦╔═╗╔╦╗╔╗ ╦ ╦╦═╗╔═╗╔═╗╦═╗  ╔╦╗╔═╗╔╗╔╦ ╦
*    ╠═╣╠═╣║║║╠╩╗║ ║╠╦╝║ ╦║╣ ╠╦╝  ║║║║╣ ║║║║ ║
*    ╩ ╩╩ ╩╩ ╩╚═╝╚═╝╩╚═╚═╝╚═╝╩╚═  ╩ ╩╚═╝╝╚╝╚═╝
*		 ----- Hamburger menu -----
*/

.panel-subview-body, #appMenu-zoomReset-button {
	color: var(--context-text) !important;
	border-color: var(--context-text) !important;
	background-color: var(--context-background) !important;
}
.subviewbutton.panel-subview-footer {
	background-color: var(--context-background) !important;
	border-top: 0px solid !important;
}
.panel-header {
	border-bottom: 1px solid var(--context-background) !important;
	background: var(--context-hover) !important;
}
.panel-subview-footer, [class^="PanelUI-"], .subviewbutton {
	color: var(--context-text) !important;
}
.PanelUI-subView .panel-header .subviewbutton {
	cursor: pointer;
}
.subview-subheader, panelview .toolbarbutton-1,
.subviewbutton:not(.panel-subview-footer), .widget-overflow-list .toolbarbutton-1 {
	margin: 0px 2px !important;
}
.subviewbutton:hover {
	background-color: var(--context-hover) !important;
}
#widget-overflow-mainView > .panel-subview-body > toolbarseparator,
.PanelUI-subView toolbarseparator, .cui-widget-panelview menuseparator,
.cui-widget-panel toolbarseparator {
	-moz-appearance: none !important;
	border-top: 1px solid var(--context-separator) !important;
	margin: 3px 5px !important;
}
.subviewbutton[shortcut]::after {
	color: #666 !important;
}
#appMenu-popup .subviewbutton .toolbarbutton-text, #appMenu-popup .panel-arrowcontent,
panelmultiview .toolbaritem-combined-buttons>label, .subviewbutton[shortcut]::after {
/*	font-family: Fira Sans !important;*/
	font-size: 12px !important;
}
#PanelUI-whatsNew :not(:hover) .checkbox-check {
	border-color: var(--context-hover) !important;
	background-color: var(--context-background) !important;
	fill: var(--context-text) !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔╦╗╔═╗╦═╗╔═╗  ╔╦╗╔═╗╔═╗╦  ╔═╗  ╔╦╗╦═╗╔═╗╔═╗╔╦╗╔═╗╦ ╦╔╗╔
*    ║║║║ ║╠╦╝║╣    ║ ║ ║║ ║║  ╚═╗   ║║╠╦╝║ ║╠═╝ ║║║ ║║║║║║║
*    ╩ ╩╚═╝╩╚═╚═╝   ╩ ╚═╝╚═╝╩═╝╚═╝  ═╩╝╩╚═╚═╝╩  ═╩╝╚═╝╚╩╝╝╚╝
*		 ----- More tools dropdown -----
*/

panelview .toolbarbutton-1:not(:-moz-any([disabled], [open], :active)):-moz-any(:hover, :focus) {
	background: var(--context-hover) !important;
}
.subviewbutton.panel-subview-footer {
	background-color: var(--context-hover) !important;
	border-top: 1px solid var(--context-border) !important;
	transition: ease 0.5s !important;
}
.subviewbutton.panel-subview-footer:hover {
	background-image: var(--context-gradient) !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╔═╗╔╗╔╔╦╗╔═╗═╗ ╦╔╦╗  ╔╦╗╔═╗╔╗╔╦ ╦╔═╗
*    ║  ║ ║║║║ ║ ║╣ ╔╩╦╝ ║   ║║║║╣ ║║║║ ║╚═╗
*    ╚═╝╚═╝╝╚╝ ╩ ╚═╝╩ ╚═ ╩   ╩ ╩╚═╝╝╚╝╚═╝╚═╝
*		 ----- Context Menus -----
*/

/* Screenshot Icon */
#screenshots_mozilla_org-menuitem-_create-screenshot > .menu-iconic-left {
	filter: invert(0.75) !important;
}

/* Main menu selected */
#main-menubar > menu[_moz-menuactive="true"] {
	background-color: var(--context-hover) !important;
}

/* Panel Arrows */
#mainPopupSet, #customizationui-widget-panel[viewId="PanelUI-developer"]  {
	--arrowpanel-background: var(--context-background) !important;
}

/* Base */
.menu-accel, .menu-iconic-accel {
	color: var(--context-disabled);
}

#backForwardMenu, #contentAreaContextMenu, #customizationPaletteItemContextMenu,
#customizationPanelItemContextMenu, #customization-toolbar-menu, #downloadsContextMenu,
#new-tab-button-popup, #pageActionContextMenu, #PlacesChevronPopup, #placesContext,
.search-one-offs-context-menu, #SyncedTabsSidebarContext, #SyncedTabsSidebarTabsFilterContext,
#tabContextMenu, #tabs-newtab-button-popup, #textbox-contextmenu, .textbox-contextmenu,
#toolbar-context-menu, #toolbox-menu, #widget-overflow > #customizationPanelItemContextMenu,
#back-button > menupopup, #backForwardMenu menupopup, #contentAreaContextMenu menupopup,
#customizationPaletteItemContextMenu menupopup, #customizationPanelItemContextMenu menupopup,
#customization-toolbar-menu menupopup, #downloadsContextMenu menupopup, #forward-button > menupopup,
#main-menubar menupopup, #new-tab-button-popup menupopup, #pageActionContextMenu menupopup,
#PlacesChevronPopup menupopup, #placesContext menupopup, #PlacesToolbarItems .bookmark-item menupopup,
.search-one-offs-context-menu menupopup, #SyncedTabsSidebarContext menupopup,
#tabContextMenu menupopup, #textbox-contextmenu menupopup, .textbox-contextmenu menupopup,
#toolbar-context-menu menupopup, #toolbox-menu menupopup, #viewButton > menupopup,
#widget-overflow > #customizationPanelItemContextMenu menupopup,
#back-button > menupopup menupopup, #forward-button > menupopup menupopup,
#viewButton > menupopup menupopup {
	-moz-appearance: none !important;
	background-color: var(--context-background) !important;
	border: 1px solid var(--context-border) !important;
	padding: 4px 2px 4px 2px !important;
	margin: 0px 0px 0px 0px !important;
	min-width: 226px !important;
}

#back-button > menupopup :-moz-any(menuitem, menu),
#backForwardMenu :-moz-any(menuitem, menu),
#contentAreaContextMenu :-moz-any(menuitem, menu),
#customizationPaletteItemContextMenu :-moz-any(menuitem, menu),
#customizationPanelItemContextMenu :-moz-any(menuitem, menu),
#customization-toolbar-menu :-moz-any(menuitem, menu),
#downloadsContextMenu :-moz-any(menuitem, menu),
#forward-button > menupopup :-moz-any(menuitem, menu),
#main-menubar menupopup :-moz-any(menuitem, menu),
#new-tab-button-popup :-moz-any(menuitem, menu),
#pageActionContextMenu :-moz-any(menuitem, menu),
#PlacesChevronPopup :-moz-any(menuitem, menu),
#placesContext :-moz-any(menuitem, menu),
#PlacesToolbarItems .bookmark-item menupopup :-moz-any(menuitem, menu),
.search-one-offs-context-menu :-moz-any(menuitem, menu),
#SyncedTabsSidebarContext :-moz-any(menuitem, menu),
#tabContextMenu :-moz-any(menuitem, menu),
#tabs-newtab-button-popup :-moz-any(menuitem, menu),
.textbox-contextmenu :-moz-any(menuitem, menu),
#toolbar-context-menu :-moz-any(menuitem, menu),
#toolbox-menu :-moz-any(menuitem, menu),
.urlbar-input-box .textbox-contextmenu :-moz-any(menuitem, menu),
#viewButton > menupopup :-moz-any(menuitem, menu),
#widget-overflow #customizationPanelItemContextMenu :-moz-any(menuitem, menu) {
	-moz-appearance: none !important;
	color: var(--context-text) !important;
	padding: 0px 0px 2px 0px !important;
	min-height: 22px !important;
}

#back-button > menupopup menugroup, #backForwardMenu menugroup,
#contentAreaContextMenu menugroup, #customizationPaletteItemContextMenu menugroup,
#customizationPanelItemContextMenu menugroup, #customization-toolbar-menu menugroup,
#downloadsContextMenu menugroup, #forward-button > menupopup menugroup,
#main-menubar menupopup menugroup, #new-tab-button-popup menugroup,
#pageActionContextMenu menugroup, #PlacesChevronPopup menugroup,
#placesContext menugroup, #PlacesToolbarItems .bookmark-item menupopup menugroup,
.search-one-offs-context-menu menugroup, #SyncedTabsSidebarContext menugroup,
#tabContextMenu menugroup, #tabs-newtab-button-popup menugroup,
.textbox-contextmenu menugroup, #toolbar-context-menu menugroup,
#toolbox-menu menugroup, .urlbar-input-box .textbox-contextmenu menugroup,
#viewButton > menupopup menugroup,
#widget-overflow #customizationPanelItemContextMenu menugroup {
	padding: 0px !important;
	background-color: transparent !important;
}

#back-button > menupopup menuseparator, #backForwardMenu menuseparator,
#contentAreaContextMenu menuseparator, #customizationPaletteItemContextMenu menuseparator,
#customizationPanelItemContextMenu menuseparator, #customization-toolbar-menu menuseparator,
#downloadsContextMenu menuseparator, #forward-button > menupopup menuseparator,
#main-menubar menupopup menuseparator, #new-tab-button-popup menuseparator,
#pageActionContextMenu menuseparator, #PlacesChevronPopup menuseparator,
#placesContext menuseparator, #PlacesToolbarItems .bookmark-item menupopup menuseparator,
.search-one-offs-context-menu menuseparator, #SyncedTabsSidebarContext menuseparator,
#tabContextMenu menuseparator, #tabs-newtab-button-popup menuseparator,
.textbox-contextmenu menuseparator, #toolbar-context-menu menuseparator,
#toolbox-menu menuseparator, .urlbar-input-box .textbox-contextmenu menuseparator,
#viewButton > menupopup menuseparator,
#widget-overflow > #customizationPanelItemContextMenu menuseparator {
	-moz-appearance: none !important;
	margin: 3px 5px !important;
	padding: 0 !important;
	border-top: 1px solid var(--context-separator) !important;
	border-bottom: none !important;
}

/* Checkbox and Radio Items */
#back-button menuitem[type="checkbox"],
#back-button > menupopup menuitem[type="checkbox"],
#backForwardMenu menuitem[type="checkbox"],
#contentAreaContextMenu menuitem[type="checkbox"],
#customizationPaletteItemContextMenu menuitem[type="checkbox"],
#customizationPanelItemContextMenu menuitem[type="checkbox"],
#customization-toolbar-menu menuitem[type="checkbox"],
#downloadsContextMenu menuitem[type="checkbox"],
#forward-button menuitem[type="checkbox"],
#forward-button > menupopup menuitem[type="checkbox"],
#main-menubar menupopup menuitem[type="checkbox"],
#new-tab-button-popup menuitem[type="checkbox"],
#pageActionContextMenu menuitem[type="checkbox"],
#PlacesChevronPopup menuitem[type="checkbox"],
#placesContext menuitem[type="checkbox"],
#PlacesToolbarItems .bookmark-item menupopup menuitem[type="checkbox"],
.search-one-offs-context-menu menuitem[type="checkbox"],
#SyncedTabsSidebarContext menuitem[type="checkbox"],
#tabContextMenu menuitem[type="checkbox"],
#tabs-newtab-button-popup menuitem[type="checkbox"],
.textbox-contextmenu menuitem[type="checkbox"],
#toolbar-context-menu menuitem[type="checkbox"],
#toolbox-menu menuitem[type="checkbox"],
.urlbar-input-box .textbox-contextmenu menuitem[type="checkbox"],
#viewButton > menupopup menuitem[type="checkbox"],
#widget-overflow > #customizationPanelItemContextMenu menuitem[type="checkbox"] {
	-moz-appearance: none !important;
}

#back-button menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#back-button > menupopup menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#backForwardMenu menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#contentAreaContextMenu menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#customizationPaletteItemContextMenu menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#customizationPanelItemContextMenu menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#customization-toolbar-menu menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#downloadsContextMenu menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#forward-button menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#forward-button > menupopup menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#main-menubar menupopup menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#new-tab-button-popup menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#pageActionContextMenu menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#PlacesChevronPopup menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#placesContext menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#PlacesToolbarItems .bookmark-item menupopup menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
.search-one-offs-context-menu menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#SyncedTabsSidebarContext menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#tabContextMenu menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#tabs-newtab-button-popup menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
.textbox-contextmenu menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#toolbar-context-menu menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#toolbox-menu menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
.urlbar-input-box .textbox-contextmenu menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#viewButton > menupopup menuitem[checked="true"][type="checkbox"] > .menu-iconic-left,
#widget-overflow > #customizationPanelItemContextMenu menuitem[checked="true"][type="checkbox"] > .menu-iconic-left
{
	-moz-appearance: none !important;
	padding: 7px 0px 0px 0px !important;
	margin-left: 7px !important;
	margin-right: -7px !important;
	border: solid var(--context-text);
	border-width: 0px 0px 2px 2px;
	transform: rotate(-45deg) scale(.75);
}

#back-button menuitem[type="radio"],
#back-button > menupopup menuitem[type="radio"],
#backForwardMenu menuitem[type="radio"],
#contentAreaContextMenu menuitem[type="radio"],
#customizationPaletteItemContextMenu menuitem[type="radio"],
#customizationPanelItemContextMenu menuitem[type="radio"],
#customization-toolbar-menu menuitem[type="radio"],
#downloadsContextMenu menuitem[type="radio"],
#forward-button menuitem[type="radio"],
#forward-button > menupopup menuitem[type="radio"],
#main-menubar menupopup menuitem[type="radio"],
#new-tab-button-popup menuitem[type="radio"],
#pageActionContextMenu menuitem[type="radio"],
#PlacesChevronPopup menuitem[type="radio"],
#placesContext menuitem[type="radio"],
#PlacesToolbarItems .bookmark-item menupopup menuitem[type="radio"],
.search-one-offs-context-menu menuitem[type="radio"],
#SyncedTabsSidebarContext menuitem[type="radio"],
#tabContextMenu menuitem[type="radio"],
#tabs-newtab-button-popup menuitem[type="radio"],
.textbox-contextmenu menuitem[type="radio"],
#toolbar-context-menu menuitem[type="radio"],
#toolbox-menu menuitem[type="radio"],
.urlbar-input-box .textbox-contextmenu menuitem[type="radio"],
#viewButton > menupopup menuitem[type="radio"],
#widget-overflow > #customizationPanelItemContextMenu menuitem[type="radio"] {
	-moz-appearance: none !important;
}

#back-button menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#back-button > menupopup menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#backForwardMenu menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#contentAreaContextMenu menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#customizationPaletteItemContextMenu menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#customizationPanelItemContextMenu menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#customization-toolbar-menu menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#downloadsContextMenu menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#forward-button menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#forward-button > menupopup menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#main-menubar menupopup menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#new-tab-button-popup menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#pageActionContextMenu menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#PlacesChevronPopup menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#placesContext menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#PlacesToolbarItems .bookmark-item menupopup menuitem[checked="true"][type="radio"] > .menu-iconic-left,
.search-one-offs-context-menu menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#SyncedTabsSidebarContext menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#tabContextMenu menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#tabs-newtab-button-popup menuitem[checked="true"][type="radio"] > .menu-iconic-left,
.textbox-contextmenu menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#toolbar-context-menu menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#toolbox-menu menuitem[checked="true"][type="radio"] > .menu-iconic-left,
.urlbar-input-box .textbox-contextmenu menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#viewButton > menupopup menuitem[checked="true"][type="radio"] > .menu-iconic-left,
#widget-overflow > #customizationPanelItemContextMenu menuitem[checked="true"][type="radio"] > .menu-iconic-left
{
	-moz-appearance: none !important;
	border: solid var(--context-text);
	height: 17px !important;
	border-radius: 100%;
	background: var(--context-text);
	margin-left: 7px !important;
	margin-right: -7px !important;
	margin-top: 1px !important;
	padding: 1px !important;
	transform: scale(0.5);
}

#back-button menuitem[type="checkbox"] > .menu-iconic-text,
#back-button > menupopup menuitem[type="checkbox"] > .menu-iconic-text,
#backForwardMenu menuitem[type="checkbox"] > .menu-iconic-text,
#contentAreaContextMenu menuitem[type="checkbox"] > .menu-iconic-text,
#customizationPaletteItemContextMenu menuitem[type="checkbox"] > .menu-iconic-text,
#customizationPanelItemContextMenu menuitem[type="checkbox"] > .menu-iconic-text,
#customization-toolbar-menu menuitem[type="checkbox"] > .menu-iconic-text,
#downloadsContextMenu menuitem[type="checkbox"] > .menu-iconic-text,
#forward-button menuitem[type="checkbox"] > .menu-iconic-text,
#forward-button > menupopup menuitem[type="checkbox"] > .menu-iconic-text,
#main-menubar menupopup menuitem[type="checkbox"] > .menu-iconic-text,
#new-tab-button-popup menuitem[type="checkbox"] > .menu-iconic-text,
#pageActionContextMenu menuitem[type="checkbox"] > .menu-iconic-text,
#PlacesChevronPopup menuitem[type="checkbox"] > .menu-iconic-text,
#placesContext menuitem[type="checkbox"] > .menu-iconic-text,
#PlacesToolbarItems .bookmark-item menupopup menuitem[type="checkbox"] > .menu-iconic-text,
.search-one-offs-context-menu menuitem[type="checkbox"] > .menu-iconic-text,
#SyncedTabsSidebarContext menuitem[type="checkbox"] > .menu-iconic-text,
#tabContextMenu menuitem[type="checkbox"] > .menu-iconic-text,
#tabs-newtab-button-popup menuitem[type="checkbox"] > .menu-iconic-text,
.textbox-contextmenu menuitem[type="checkbox"] > .menu-iconic-text,
#toolbar-context-menu menuitem[type="checkbox"] > .menu-iconic-text,
#toolbox-menu menuitem[type="checkbox"] > .menu-iconic-text,
.urlbar-input-box .textbox-contextmenu menuitem[type="checkbox"] > .menu-iconic-text,
#viewButton > menupopup menuitem[type="checkbox"] > .menu-iconic-text,
#widget-overflow > #customizationPanelItemContextMenu menuitem[type="checkbox"] > .menu-iconic-text
{
	margin-left: 15px !important;
	-moz-appearance: none !important;
}

#back-button menuitem[type="radio"] > .menu-iconic-text,
#back-button > menupopup menuitem[type="radio"] > .menu-iconic-text,
#backForwardMenu menuitem[type="radio"] > .menu-iconic-text,
#contentAreaContextMenu menuitem[type="radio"] > .menu-iconic-text,
#customizationPaletteItemContextMenu menuitem[type="radio"] > .menu-iconic-text,
#customizationPanelItemContextMenu menuitem[type="radio"] > .menu-iconic-text,
#customization-toolbar-menu menuitem[type="radio"] > .menu-iconic-text,
#downloadsContextMenu menuitem[type="radio"] > .menu-iconic-text,
#forward-button menuitem[type="radio"] > .menu-iconic-text,
#forward-button > menupopup menuitem[type="radio"] > .menu-iconic-text,
#main-menubar menupopup menuitem[type="radio"] > .menu-iconic-text,
#new-tab-button-popup menuitem[type="radio"] > .menu-iconic-text,
#pageActionContextMenu menuitem[type="radio"] > .menu-iconic-text,
#PlacesChevronPopup menuitem[type="radio"] > .menu-iconic-text,
#placesContext menuitem[type="radio"] > .menu-iconic-text,
#PlacesToolbarItems .bookmark-item menupopup menuitem[type="radio"] > .menu-iconic-text,
.search-one-offs-context-menu menuitem[type="radio"] > .menu-iconic-text,
#SyncedTabsSidebarContext menuitem[type="radio"] > .menu-iconic-text,
#tabContextMenu menuitem[type="radio"] > .menu-iconic-text,
#tabs-newtab-button-popup menuitem[type="radio"] > .menu-iconic-text,
.textbox-contextmenu menuitem[type="radio"] > .menu-iconic-text,
#toolbar-context-menu menuitem[type="radio"] > .menu-iconic-text,
#toolbox-menu menuitem[type="radio"] > .menu-iconic-text,
.urlbar-input-box .textbox-contextmenu menuitem[type="radio"] > .menu-iconic-text,
#viewButton > menupopup menuitem[type="radio"] > .menu-iconic-text,
#widget-overflow > #customizationPanelItemContextMenu menuitem[type="radio"] > .menu-iconic-text
{
	padding-left: 13px !important;
	-moz-appearance: none !important;
}

/* Disabled */
#back-button > menupopup :-moz-any(menuitem, menu)[disabled="true"],
#backForwardMenu :-moz-any(menuitem, menu)[disabled="true"],
#contentAreaContextMenu :-moz-any(menuitem, menu)[disabled="true"],
#customizationPaletteItemContextMenu :-moz-any(menuitem, menu)[disabled="true"],
#customizationPanelItemContextMenu :-moz-any(menuitem, menu)[disabled="true"],
#customization-toolbar-menu :-moz-any(menuitem, menu)[disabled="true"],
#downloadsContextMenu :-moz-any(menuitem, menu)[disabled="true"],
#forward-button > menupopup :-moz-any(menuitem, menu)[disabled="true"],
#main-menubar menupopup :-moz-any(menuitem, menu)[disabled="true"],
#new-tab-button-popup :-moz-any(menuitem, menu)[disabled="true"],
#pageActionContextMenu :-moz-any(menuitem, menu)[disabled="true"],
#PlacesChevronPopup :-moz-any(menuitem, menu)[disabled="true"],
#placesContext :-moz-any(menuitem, menu)[disabled="true"],
#PlacesToolbarItems .bookmark-item menupopup :-moz-any(menuitem, menu)[disabled="true"],
.search-one-offs-context-menu :-moz-any(menuitem, menu)[disabled="true"],
#SyncedTabsSidebarContext :-moz-any(menuitem, menu)[disabled="true"],
#tabContextMenu :-moz-any(menuitem, menu)[disabled="true"],
#tabs-newtab-button-popup :-moz-any(menuitem, menu)[disabled="true"],
.textbox-contextmenu :-moz-any(menuitem, menu)[disabled="true"],
#toolbar-context-menu :-moz-any(menuitem, menu)[disabled="true"],
#toolbox-menu :-moz-any(menuitem, menu)[disabled="true"],
.urlbar-input-box .textbox-contextmenu :-moz-any(menuitem, menu)[disabled="true"],
#viewButton > menupopup :-moz-any(menuitem, menu)[disabled="true"],
#widget-overflow #customizationPanelItemContextMenu :-moz-any(menuitem, menu)[disabled="true"]
{
	-moz-appearance: none !important;
	color: var(--context-disabled) !important;
	background-color: transparent !important;
}

/* Hover */
#back-button > menupopup :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#backForwardMenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#customizationPaletteItemContextMenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#customizationPanelItemContextMenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#customization-toolbar-menu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#downloadsContextMenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#forward-button > menupopup :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#main-menubar menupopup :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#new-tab-button-popup :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#contentAreaContextMenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#pageActionContextMenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#PlacesChevronPopup :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#placesContext :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#PlacesToolbarItems .bookmark-item menupopup :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
.search-one-offs-context-menu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#SyncedTabsSidebarContext :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#tabContextMenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#tabs-newtab-button-popup :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
.textbox-contextmenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#toolbar-context-menu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#toolbox-menu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
.urlbar-input-box .textbox-contextmenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#viewButton > menupopup :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"]),
#widget-overflow #customizationPanelItemContextMenu :-moz-any(menu, menuitem):-moz-any(:hover, [_moz-menuactive="true"]):not([disabled="true"])
{
	-moz-appearance: none !important;
	background-color: var(--context-hover) !important;
}

/* Icons */
#back-button menuitem > .menu-iconic-left,
#back-button > menupopup menuitem > .menu-iconic-left,
#backForwardMenu menuitem > .menu-iconic-left,
#contentAreaContextMenu menuitem > .menu-iconic-left,
#customizationPaletteItemContextMenu menuitem > .menu-iconic-left,
#customizationPanelItemContextMenu menuitem > .menu-iconic-left,
#customization-toolbar-menu menuitem > .menu-iconic-left,
#downloadsContextMenu menuitem > .menu-iconic-left,
#forward-button menuitem > .menu-iconic-left,
#forward-button > menupopup menuitem > .menu-iconic-left,
#main-menubar menupopup .menu-iconic-left,
#new-tab-button-popup menuitem > .menu-iconic-left,
#pageActionContextMenu menuitem > .menu-iconic-left,
#PlacesChevronPopup menuitem > .menu-iconic-left,
#placesContext menuitem > .menu-iconic-left,
#PlacesToolbarItems .bookmark-item menupopup menuitem > .menu-iconic-left,
.search-one-offs-context-menu menuitem > .menu-iconic-left,
#SyncedTabsSidebarContext menuitem > .menu-iconic-left,
#tabContextMenu menuitem > .menu-iconic-left,
#tabs-newtab-button-popup menuitem > .menu-iconic-left,
.textbox-contextmenu menuitem > .menu-iconic-left,
#toolbar-context-menu menuitem > .menu-iconic-left,
#toolbox-menu menuitem > .menu-iconic-left,
.urlbar-input-box .textbox-contextmenu menuitem > .menu-iconic-left,
#viewButton > menupopup menuitem > .menu-iconic-left,
#widget-overflow > #customizationPanelItemContextMenu menuitem > .menu-iconic-left
{
	-moz-appearance: none !important;
	padding: 0px 6px 0px 8px !important;
}

#back-button > menupopup .menu-right, #backForwardMenu .menu-right,
#contentAreaContextMenu .menu-right, #customizationPaletteItemContextMenu .menu-right,
#customizationPanelItemContextMenu .menu-right, #customization-toolbar-menu .menu-right,
#downloadsContextMenu .menu-right, #forward-button > menupopup .menu-right,
#main-menubar menupopup .menu-right, #new-tab-button-popup .menu-right,
#pageActionContextMenu .menu-right, #PlacesChevronPopup .menu-right,
#placesContext .menu-right, #PlacesToolbarItems .bookmark-item menupopup .menu-right,
.search-one-offs-context-menu .menu-right, #SyncedTabsSidebarContext .menu-right,
#tabContextMenu .menu-right, #tabs-newtab-button-popup .menu-right,
.textbox-contextmenu .menu-right, #toolbar-context-menu .menu-right,
#toolbox-menu .menu-right, .urlbar-input-box .textbox-contextmenu .menu-right,
#viewButton > menupopup .menu-right,
#widget-overflow #customizationPanelItemContextMenu .menu-right {
	-moz-appearance: none !important;
	margin-right: 6px !important;
	padding: 7.5px !important;
	color: var(--context-text) !important;
	border: solid var(--context-text);
	border-width: 0px 5px 5px 0px;
	transform: rotate(-45deg) scale(.4);
}

/* ------------------------------------------------------------------ */

/*
*    ╔╦╗╔═╗╦ ╦╔╗╔╦  ╔═╗╔═╗╔╦╗╔═╗  ╔═╗╔═╗╔═╗╦ ╦╔═╗
*     ║║║ ║║║║║║║║  ║ ║╠═╣ ║║╚═╗  ╠═╝║ ║╠═╝║ ║╠═╝
*    ═╩╝╚═╝╚╩╝╝╚╝╩═╝╚═╝╩ ╩═╩╝╚═╝  ╩  ╚═╝╩  ╚═╝╩
*		 -----  Downloads Popup -----
*/

#downloadsPanel-mainView .panel-view-body-unscrollable {
	background: var(--context-background) !important;
}
#downloadsListBox > richlistitem[state="1"][exists] .downloadMainArea:hover,
#downloadsListBox > richlistitem:not([verdict]) > .downloadButton:hover,
#downloadsListBox > richlistitem[verdict]:hover {
	background-color: var(--context-hover) !important;
}
.download-state {
	border-color: var(--context-separator) !important;
}
.downloadProgress {
	background-color: var(--context-hover) !important;
	border-color: var(--context-border) !important;
}
.downloadProgress::-moz-progress-bar {
	-moz-appearance: none;
	background-color: var(--urlbar-popup-action-color) !important;
}
.download-state > toolbarseparator {
	background-color: var(--context-separator) !important;
}
.downloadsPanelFooterButton {
	background-color: var(--context-hover) !important;
	border-top: 1px solid var(--context-border) !important;
}
.downloadsPanelFooterButton:hover {
	background-image: var(--context-gradient) !important;
	outline: 1px solid transparent !important;
}

/* Downloads Confirmation */
@-moz-document url(chrome://mozapps/content/downloads/unknownContentType.xhtml) {
	#unknownContentType {
		background: var(--context-background);
		color: var(--context-text);
	}
}

/* Dropdown */
#openHandler {
	appearance: none !important;
	padding: 5px;
	background: var(--context-hover);
	border: 1px solid var(--context-border);
}
#label-box {
	background: transparent !important;
	border-color: var(--context-border) !important;
	color: var(--context-text) !important;
}
#label-box + dropmarker {
	appearance: none !important;
	list-style-image: url("chrome://global/skin/icons/arrow-dropdown-16.svg");
	-moz-context-properties: fill;
	fill: var(--context-text);
}
#openHandler:-moz-any(:hover, [_moz-menuactive="true"]) {
	appearance: none !important;
	background: var(--context-background-2) !important;
}
#openHandler .in-menulist {
	background: var(--context-background) !important;
	border-top: none !important;
	border-color: var(--context-border) !important;
}
#openHandler :-moz-any(/*.menu-iconic-left, */.menu-iconic-text) {
	color: var(--context-text);
}
#openHandler .menuitem-iconic:-moz-any(:hover, [_moz-menuactive="true"]) {
	background: var(--context-hover) !important;
}
#openHandler menuseparator {
	appearance: none !important;
	border-top: 1px solid var(--context-separator) !important;
	padding: 0px !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
}

menulist > menupopup > menuitem[_moz-menuactive="true"],
menulist > menupopup > menu[_moz-menuactive="true"] {
  background-color: var(--context-hover) !important;
	border-color: transparent !important;
  color: var(--context-text) !important;
}


/* ------------------------------------------------------------------ */

/*
*    ╔═╗╦╔╦╗╔═╗╔╗ ╔═╗╦═╗
*    ╚═╗║ ║║║╣ ╠╩╗╠═╣╠╦╝
*    ╚═╝╩═╩╝╚═╝╚═╝╩ ╩╩╚═
*		 ----- Sidebar -----
*/

#sidebar-box, .sidebar-panel[lwt-sidebar] {
	background: var(--context-background) !important;
	color: var(--context-text) !important;
}
#sidebar-header, #sidebar-splitter {
	border-color: var(--context-border) !important;
}
#search-box {
	-moz-appearance: none !important;
	cursor: text !important;
	margin: 5px 2px !important;
	padding: 5px !important;
	padding-inline-start: 10px !important;
	background-color: var(--context-background-2) !important;
	border-radius: 3px !important;
	border: 1px solid var(--context-border) !important;
	color: var(--context-text) !important;
}
#viewButton {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	border-radius: 3px !important;
	color: var(--context-text) !important;
}
#viewButton > .button-box > .button-menu-dropmarker {
	margin-left: 5px !important;
	fill: var(--context-text) !important;
}
#sidebar-switcher-target:-moz-any(:hover, .active),
#viewButton:-moz-any(:hover, [open="true"]) {
	background: var(--context-background) !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╦═╗╔═╗╔╦╗╔═╗╔═╗╔╦╗╦╔═╗╔╗╔╔═╗  ╔═╗╔═╗╔═╗╦ ╦╔═╗
*    ╠═╝╠╦╝║ ║ ║ ║╣ ║   ║ ║║ ║║║║╚═╗  ╠═╝║ ║╠═╝║ ║╠═╝
*    ╩  ╩╚═╚═╝ ╩ ╚═╝╚═╝ ╩ ╩╚═╝╝╚╝╚═╝  ╩  ╚═╝╩  ╚═╝╩
*		 ----- Protections Popup -----
*/

#identity-popup-mainView, #protections-popup-mainView,
#protections-popup-socialblockView, #protections-popup-cookiesView,
#protections-popup-trackersView, #identity-popup-securityView {
	background-color: var(--context-background) !important;
}
.protections-popup-category:-moz-focusring, .protections-popup-category:hover, 
.protections-popup-footer-button:-moz-focusring, .protections-popup-footer-button:hover, 
#protections-popup-show-report-stack:hover > .protections-popup-footer-button {
	background-color: var(--context-hover) !important;
}
#identity-popup-more-info, #identity-popup-clear-sitedata-button, 
#protections-popup-trackersView-settings-button {
	background-color: var(--context-hover) !important;
	border-color: var(--context-border) !important;
}
#identity-popup-more-info:hover, #identity-popup-clear-sitedata-button:hover, 
#protections-popup-trackersView-settings-button:hover {
	background-image: var(--context-gradient) !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔╗ ╔═╗╔═╗╦╔═╔╦╗╔═╗╦═╗╦╔═╔═╗  ╔═╗╔═╗╔═╗╦ ╦╔═╗
*    ╠╩╗║ ║║ ║╠╩╗║║║╠═╣╠╦╝╠╩╗╚═╗  ╠═╝║ ║╠═╝║ ║╠═╝
*    ╚═╝╚═╝╚═╝╩ ╩╩ ╩╩ ╩╩╚═╩ ╩╚═╝  ╩  ╚═╝╩  ╚═╝╩
*		 ----- Bookmarks Popup -----
*/

#editBookmarkPanel {
	--arrowpanel-background: var(--context-background) !important;
}
/* expanded panel */
#editBMPanel_folderTreeRow tree,
#editBMPanel_tagsSelectorRow richlistbox {
	-moz-appearance: none !important;
	background: var(--context-background-2) !important;
	border: 1px solid var(--context-border) !important;
	color: var(--context-text) !important;
}
#editBMPanel_folderTree treechildren:not(.autocomplete-treebody)::-moz-tree-row(selected,current,focus) {
	-moz-appearance: none !important;
	background: var(--context-hover) !important;
	border-color: var(--context-border) !important;
}

/* dialog box */
#editBookmarkPanelRows input {
	-moz-appearance: none !important;
	background: var(--context-background-2) !important;
	padding: 3px !important;
	padding-inline-start: 10px !important;
	border: 1px solid var(--context-border) !important;
	border-radius: 3px !important;
	color: var(--context-text) !important;
}
#editBookmarkPanelRows input:hover, #editBMPanel_tagsField::selection {
	-moz-appearance: none !important;
	background: var(--context-hover) !important;
}

/* dropdown list */
#editBMPanel_folderMenuList {
	-moz-appearance: none !important;
	background: var(--context-background-2) !important;
	padding: 3px !important;
	border-radius: 3px !important;
	border: 1px solid var(--context-border) !important;
}
#editBMPanel_folderMenuList:-moz-any(:hover, [_moz-menuactive="true"])/*, #label-box */{
	-moz-appearance: none !important;
	background: var(--context-hover) !important;
	color: var(--context-text) !important;
}
#editBMPanel_folderMenuList .in-menulist {
	background: var(--context-background) !important;
	border-color: var(--context-border) !important;
}
#editBMPanel_folderMenuList :-moz-any(.menu-iconic-left, .menu-iconic-text) {
	color: var(--context-text) !important;
}
#editBMPanel_folderMenuList .menuitem-iconic:-moz-any(:hover, [_moz-menuactive="true"]) {
	background: var(--context-hover) !important;
}
#editBMPanel_folderMenuList menuseparator {
	-moz-appearance: none !important;
	border-top: 1px solid var(--context-separator) !important;
	padding: 0px !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
}

/* buttons */
#editBookmarkPanelRows button {
	-moz-appearance: none !important;
	background: var(--context-hover) !important;
	color: var(--context-text) !important;
	padding: 4px !important;
	border-radius: 5px !important;
	border: 1px solid var(--context-border) !important;
}
#editBookmarkPanelRows button:hover {
	background: var(--context-border) !important;
	cursor: pointer;
}
#editBMPanel_foldersExpander.expander-up, #editBMPanel_tagsSelectorExpander.expander-up {
	padding-bottom: 5px !important;
	padding-top: 3px !important;
}
#editBMPanel_foldersExpander .button-icon, #editBMPanel_tagsSelectorExpander .button-icon {
	filter: invert(.75) !important;
}
#editBookmarkPanelRemoveButton {
	background: var(--context-background-2) !important;
	border-color: var(--context-border) !important;
}
#editBookmarkPanelRemoveButton:hover {
	background: var(--context-hover) !important;
}

/* tree */
treechildren::-moz-tree-row(selected) {
	background-color: var(--context-hover) !important;
}
treechildren::-moz-tree-cell-text,
treechildren::-moz-tree-image(selected, focus),
treechildren::-moz-tree-twisty(selected, focus),
treechildren::-moz-tree-cell-text(selected, focus) {
	color: var(--context-text) !important;
}
treechildren::-moz-tree-image {
	fill: var(--context-text) !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╦  ╔═╗╦═╗╔╦╗╔═╗  ╔═╗╔═╗╔═╗╦ ╦╔═╗
*    ╠═╣║  ║╣ ╠╦╝ ║ ╚═╗  ╠═╝║ ║╠═╝║ ║╠═╝
*    ╩ ╩╩═╝╚═╝╩╚═ ╩ ╚═╝  ╩  ╚═╝╩  ╚═╝╩
*		 ----- Alerts Popup -----
*/

#alertBox {
	background: var(--context-background) !important;
	color: var(--context-text) !important;
}
#alertSettings {
	-moz-context-properties: fill, fill-opacity !important;
	padding: 3px !important;
	margin: 0px 2px -3px 0px !important;
	color: inherit !important;
	border-radius: 2px !important;
	transform: scale(0.91, 0.91) !important;
}
#alertSettings:hover,
#alertSettings[open] {
	background-color: var(--context-hover) !important;
}

/* Screenshot Alert Image */
#alertImage[src$="copied-notification.svg"] {
	filter: invert(0.75);
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╔═╗╔╗╔╔═╗╦╦═╗╔╦╗╔═╗╔╦╗╦╔═╗╔╗╔  ╔═╗╦═╗╔═╗╔╦╗╔═╗╔╦╗
*    ║  ║ ║║║║╠╣ ║╠╦╝║║║╠═╣ ║ ║║ ║║║║  ╠═╝╠╦╝║ ║║║║╠═╝ ║
*    ╚═╝╚═╝╝╚╝╚  ╩╩╚═╩ ╩╩ ╩ ╩ ╩╚═╝╝╚╝  ╩  ╩╚═╚═╝╩ ╩╩   ╩
*		 ----- Confirmation Prompt ----
*/

.tabmodalprompt-mainContainer {
	background-color: var(--context-background) !important;
	border-color: var(--context-border) !important;
	color: var(--context-text) !important;
}

/* Buttons */
.tabmodalprompt-mainContainer button {
	-moz-appearance: none !important;
	background-color: var(--context-hover) !important;
	border: 1px solid var(--context-border) !important;
	border-radius: 3px !important;
	color: var(--context-text) !important;
	padding: 3px !important;
}
.tabmodalprompt-mainContainer button[label="Leave Page"]:not(:hover) {
	background-color: var(--context-separator) !important;
	border-color: var(--context-separator) !important;
}
.tabmodalprompt-mainContainer button:hover {
	background-color: var(--context-border) !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╦  ╦╔╗ ╦═╗╔═╗╦═╗╦ ╦
*    ║  ║╠╩╗╠╦╝╠═╣╠╦╝╚╦╝
*    ╩═╝╩╚═╝╩╚═╩ ╩╩╚═ ╩
* 	 ----- Library -----
*/
@-moz-document url(chrome://browser/content/places/places.xhtml), 
	url-prefix(chrome://global/content/alerts) {
	menupopup {
		-moz-appearance: none !important;
		background-color: var(--context-background) !important;
		border: 1px solid var(--context-border) !important;
		padding: 2px !important;
	}
	menu, menuitem, menucaption {
		-moz-appearance: none !important;
		background-color: var(--context-background) !important;
		color: var(--context-text) !important;
		padding: 3px !important;
	}
	menubar > menu {
		background-color: transparent !important;
	}
	menu:not([disabled="true"])[_moz-menuactive="true"],
	menuitem:not([disabled="true"])[_moz-menuactive="true"], #label-box {
		-moz-appearance: none !important;
		background: var(--context-hover) !important;
		color: var(--context-text) !important;
	}
	menu[disabled="true"], menuitem[disabled="true"], menu[_moz-menuactive="true"][disabled="true"],
	menuitem[_moz-menuactive="true"][disabled="true"] {
		color: var(--context-disabled) !important;
	}
	menuseparator {
		-moz-appearance: none !important;
		margin: 3px 5px -4px;
		border-top: 1px solid var(--context-separator) !important;
		border-bottom: none !important;
	}
	.menu-right {
		-moz-appearance: none !important;
		margin-right: 6px !important;
		padding: 7.5px !important;
		color: var(--context-text) !important;
		border: solid var(--context-text);
		border-width: 0px 5px 5px 0px;
		transform: rotate(-45deg) scale(.4);
	}
	menuitem[checked="true"][type="checkbox"] > .menu-iconic-left	{
		-moz-appearance: none !important;
		padding: 7px 0px 0px 0px !important;
		margin-left: 7px !important;
		margin-right: 7px !important;
		border: solid var(--context-text);
		border-width: 0px 0px 2px 2px;
		transform: rotate(-45deg) scale(.75);
	}
	menuitem[checked="true"][type="radio"] > .menu-iconic-left {
		-moz-appearance: none !important;
		border: solid var(--context-text);
		height: 17px !important;
		border-radius: 100%;
		background: var(--context-text);
		margin-left: 7px !important;
		margin-right: 7px !important;
		margin-top: 1px !important;
		padding: 1px !important;
		transform: scale(0.5);
	}
}
