/*
*    ╔═╗╔═╗╔╗╔╔╦╗╔═╗═╗ ╦╔╦╗  ╔╦╗╔═╗╔╗╔╦ ╦  ╦╔╦╗╔═╗╔╦╗╔═╗
*    ║  ║ ║║║║ ║ ║╣ ╔╩╦╝ ║   ║║║║╣ ║║║║ ║  ║ ║ ║╣ ║║║╚═╗
*    ╚═╝╚═╝╝╚╝ ╩ ╚═╝╩ ╚═ ╩   ╩ ╩╚═╝╝╚╝╚═╝  ╩ ╩ ╚═╝╩ ╩╚═╝
*/
/* Remove Navigation & Bookmark Buttons, "Open Link in New Window", 
   "Email Image", "Email Video", "Email Audio",
   "Inspect Accessibility Properties" from context menu.
*/
/* Navigation & Bookmark */
#context-sep-navigation, #context-navigation,
/* Open Link in New Window*/ 
#context-openlink, 
/* Email Image, Video, Audio */
#context-sendimage, #context-sendvideo, #context-sendaudio, 
/* Inspect Accessibility Properties */ 
#context-inspect-a11y 
{
  display: none !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╦ ╦╦ ╦╦╔╦╗╔═╗  ╔═╗╦  ╔═╗╔═╗╦ ╦  ╔═╗╦═╗ ╦
*    ║║║╠═╣║ ║ ║╣   ╠╣ ║  ╠═╣╚═╗╠═╣  ╠╣ ║╔╩╦╝
*    ╚╩╝╩ ╩╩ ╩ ╚═╝  ╚  ╩═╝╩ ╩╚═╝╩ ╩  ╚  ╩╩ ╚═
*/
/* Prevents White pre-load flash */
#browser vbox#appcontent tabbrowser, #content, #tabbrowser-tabpanels,
browser[type=content-primary], browser[type=content] > html,
.browserContainer, .tabbrowser tabpanels {
  background-color: #2a2a2a !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╦ ╦╦═╗╦  ╔╗ ╔═╗╦═╗
*    ║ ║╠╦╝║  ╠╩╗╠═╣╠╦╝
*    ╚═╝╩╚═╩═╝╚═╝╩ ╩╩╚═
*/
/* Rounded URLbar */
#urlbar-background {
  --toolbarbutton-border-radius: 100vw;
}

#urlbar[open="true"] #urlbar-background{
  --toolbarbutton-border-radius: 0;
}

#urlbar:not([focused="true"]):not([open="true"])  {
  padding-inline: calc((var(--urlbar-height) / 2) - 3px) !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-background {
  animation: none !important;
  border-color: var(--lwt-toolbar-field-border-color, rgb(18, 18, 18)) !important;
}

#urlbar[breakout][breakout-extend] {
  /* top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important; */
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: 100% !important;
  padding-block: 0 !important;
  padding-inline: calc((var(--urlbar-height) / 2) - 3px) !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container[pageproxystate="invalid"] {
  height: var(--urlbar-height) !important;
}

#urlbar[breakout][breakout-extend][open] > #urlbar-input-container {
  margin-bottom: 5px;
}

.urlbarView-row {
  padding-inline: 3px !important;
}

#urlbar-results {
  padding-block: 0 !important;
}

/* URLbar text selection fix for Dark Vintage Theme */
#urlbar-input-container:focus-within #urlbar-input::selection {
  background-color: var(--accent-dark) !important;
  color: var(--text) !important;
}

/* URLbar Separators */
:root {
  --urlbar-separator-color: var(--urlbarView-button-background-hover) !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔╗╔╔═╗╦  ╦╔╗ ╔═╗╦═╗  ╔╗ ╔═╗╦═╗╔╦╗╔═╗╦═╗
*    ║║║╠═╣╚╗╔╝╠╩╗╠═╣╠╦╝  ╠╩╗║ ║╠╦╝ ║║║╣ ╠╦╝
*    ╝╚╝╩ ╩ ╚╝ ╚═╝╩ ╩╩╚═  ╚═╝╚═╝╩╚══╩╝╚═╝╩╚═
*/
/* Navbar bottom border */
#navigator-toolbox {
  border-bottom: 1px solid var(--toolbar-bgcolor) !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╦ ╦╦  ╦    ╔═╗╔═╗╦═╗╔═╗╔═╗╔╗╔  ╔╦╗╔═╗╔═╗
*    ╠╣ ║ ║║  ║    ╚═╗║  ╠╦╝║╣ ║╣ ║║║  ║║║╚═╗║ ╦
*    ╚  ╚═╝╩═╝╩═╝  ╚═╝╚═╝╩╚═╚═╝╚═╝╝╚╝  ╩ ╩╚═╝╚═╝
*/
/* Full screen message */
#fullscreen-warning {
  background-color: #323030 !important;
  border-color: #131313 !important;
  scale: 0.75 !important;
  opacity: 0.7 !important;
}

#fullscreen-exit-button {
  display: none !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╔╦╗╦═╗╦    ╔╦╗╔═╗╔╗
*    ║   ║ ╠╦╝║     ║ ╠═╣╠╩╗
*    ╚═╝ ╩ ╩╚═╩═╝   ╩ ╩ ╩╚═╝
*/
/* Tweaks for Ctrl+Tab */
#ctrlTab-panel {
  --panel-background: hsla(0, 2%, 19.2%, 0.85) !important;
  --panel-color: #ddd !important;
}

.ctrlTab-preview-inner {
  padding: 8px !important;
}

.ctrlTab-preview:focus > .ctrlTab-preview-inner {
  background-color: #454545 !important;
  border-color: transparent !important;
  color: #fff !important;
  transform: scale(1.1);
  transition: transform 150ms ease !important;
}

.ctrlTab-preview > .ctrlTab-preview-inner {
  background-color: transparent !important;
  transition: transform 400ms ease !important;
}

.ctrlTab-favicon[src] {
  background-color: var(--panel-background) !important;
}
