/*
*    ╔╦╗╔═╗╔╗   ╔╦╗╦╔╦╗╦  ╔═╗
*     ║ ╠═╣╠╩╗   ║ ║ ║ ║  ║╣
*     ╩ ╩ ╩╚═╝   ╩ ╩ ╩ ╩═╝╚═╝
*/
/* Centered text */
.tab-label-container { 
  display: grid; 
  justify-content: safe center;
}

.tab-label, .tab-secondary-label {
  overflow: hidden;
}

.tabbrowser-tab:not([pinned], :hover) .tab-label-container {
  margin-inline-end: 7px !important;
} /* Note 1 */

#tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
  height: auto !important;
} /* Note 2 */

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╦  ╔═╗╔═╗╔═╗  ╔╗ ╦ ╦╔╦╗╔╦╗╔═╗╔╗╔
*    ║  ║  ║ ║╚═╗║╣   ╠╩╗║ ║ ║  ║ ║ ║║║║
*    ╚═╝╩═╝╚═╝╚═╝╚═╝  ╚═╝╚═╝ ╩  ╩ ╚═╝╝╚╝
*/
/* Close button opacity */
/* Only show close buttons on background tabs when hovering with the mouse */
.tabbrowser-tab:not([pinned]) > .tab-stack > .tab-content > .tab-close-button:not([selected="true"]) {
  display: -moz-inline-box !important;
  display: inline !important;
  opacity: 0;
} /* Note 1 */

.tabbrowser-tab:not([pinned]):hover > .tab-stack > .tab-content > .tab-close-button:not([selected="true"]) {
  opacity: 1;
} /* Note 1 */

.close-icon {
  transition: filter 175ms ease-in-out !important;
}

.close-icon:hover {
  background-color: transparent !important;
  filter: brightness(1.6);
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╔═╗╦  ╦╦╔═╗╔═╗╔╗╔╔═╗
*    ╠╣ ╠═╣╚╗╔╝║║  ║ ║║║║╚═╗
*    ╚  ╩ ╩ ╚╝ ╩╚═╝╚═╝╝╚╝╚═╝
*/
/* Inactive tabs favicons */
.tabbrowser-tab:not([selected="true"]):not([pinned]) .tab-icon-image {
  filter: opacity(0.5) !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╔═╗╔═╗╔═╗╦═╗╔═╗╔╦╗╔═╗╦═╗
*    ╚═╗║╣ ╠═╝╠═╣╠╦╝╠═╣ ║ ║ ║╠╦╝
*    ╚═╝╚═╝╩  ╩ ╩╩╚═╩ ╩ ╩ ╚═╝╩╚═
*/
/* Tab separators */
.tabbrowser-tab:not([pinned])::before {
  content: "";
  width: 1px;
  height: 36px;
  background-image: linear-gradient(transparent 18%, currentColor 18%, currentColor 82%, transparent 82%);
  opacity: 0.2;
  transition: opacity 180ms linear;
}

.tabbrowser-tab:is(:hover, [selected], [multiselected])::before, 
.tabbrowser-tab:is(:hover, [selected], [multiselected]) + .tabbrowser-tab::before, 
.tabbrowser-tab:is(:hover, [selected], [multiselected]) + .tabbrowser-tab[hidden] + .tabbrowser-tab::before, 
tab-group + .tabbrowser-tab::before, 
tab-group > .tabbrowser-tab[aria-posinset="1"]::before {
  opacity: 0 !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔╦╗╔═╗╔╗   ╔═╗╦╔═╗╔═╗
*     ║ ╠═╣╠╩╗  ╚═╗║╔═╝║╣ 
*     ╩ ╩ ╩╚═╝  ╚═╝╩╚═╝╚═╝
*/
/* Tab size fix for FF v147 */
#tabbrowser-tabs[orient="horizontal"] .tabbrowser-tab:not([pinned]):is([muted], [soundplaying], [activemedia-blocked]):not([tab-note]) {
  --tab-min-width-extra-icons: unset !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╦ ╦╔═╗╦═╗╔═╗  ╔╦╗╔═╗╔╗ ╔═╗
*    ╚═╗╠═╣╠═╣╠╦╝╠═╝   ║ ╠═╣╠╩╗╚═╗
*    ╚═╝╩ ╩╩ ╩╩╚═╩     ╩ ╩ ╩╚═╝╚═╝
*/
/* Restore tabs to the former Firefox style with sharp corners */
:root {
  --tab-block-margin: 0px !important;
  --tabs-shadow-size: 1px !important;
  --tab-selected-bgcolor: var(--toolbar-bgcolor) !important;
}

toolbarbutton {
  --tab-border-radius: 0.2rem;
}

.tabbrowser-tab {
  padding-inline: 0 !important;
}

.tabbrowser-tab[selected] {
  position: relative;
  z-index: 1;
}

.tab-content[pinned] {
  padding-inline: 12px !important;
}

.tab-background {
  border-top: 0 !important;
  border-radius: 0.5rem 0.5rem 0 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  outline: none !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔╦╗╔═╗╔╗ ╦  ╦╔╗╔╔═╗╔═╗
*     ║ ╠═╣╠╩╗║  ║║║║║╣ ╚═╗
*     ╩ ╩ ╩╚═╝╩═╝╩╝╚╝╚═╝╚═╝
*/
/* Tablines */
/* Selected tab */
.tab-background[selected]::before, 
.tabbrowser-tab:hover > stack > .tab-background::before {
  content: "";
  height: 2.5px;
  display: flex;
  background: var(--lwt-tab-line-color);
  border-radius: inherit;
}

.tab-stack:hover > .tab-background::before {
  background-color: inherit;
  animation: --tabline-hover-animation 175ms cubic-bezier(0, 0.55, 0.45, 1);
}

.tabbrowser-tab:is([pinned], [selected]) > .tab-stack > .tab-background::before {
  animation: none;
}

/* These next two rules set a color for border around tabs and between tabs & navigation toolbars. Set to transparent to remove the border.*/
#nav-bar {
  border-top: none !important;
  box-shadow: 0 -1px 0 0 color-mix(in srgb, var(--lwt-tab-line-color) 70%, transparent) !important;
}

.tab-background[selected] {
  border-bottom-color: transparent !important;
  border-inline: 1px solid color-mix(in srgb, var(--lwt-tab-line-color) 70%, transparent) !important;
}

@keyframes --tabline-hover-animation {
  from {
    margin-inline: 50%;
  }

  to {
    margin-inline: 0;
  }
}

/* Container type */
.tab-context-line {
  order: 2;
  height: 4px !important;
  margin-block: 0px !important;
  margin-inline: 10px !important;
  border-radius: 100vw !important;
}

.tab-background:not([selected]) .tab-context-line {
  opacity: 0.5;
}

/* Group */
#tabbrowser-tabs {
  --tab-group-line-thickness: 2px;
}

.tab-group-label-container::after, 
#tabbrowser-tabs[orient="horizontal"] .tab-group-line, 
#tabbrowser-tabs[orient="horizontal"] tab-group[hasactivetab][hasmultipletabs] > .tab-group-overflow-count-container::after {
  inset-block: 0 auto !important;
}

#tabbrowser-tabs[orient="horizontal"] .tab-group-line {
  z-index: -1;
}

/* ------------------------------------------------------------------ */

/*
*    ╔╦╗╦═╗╔═╗╔╗╔╔═╗╔═╗╔═╗╦═╗╔═╗╔╗╔╔═╗╦ ╦
*     ║ ╠╦╝╠═╣║║║╚═╗╠═╝╠═╣╠╦╝║╣ ║║║║  ╚╦╝
*     ╩ ╩╚═╩ ╩╝╚╝╚═╝╩  ╩ ╩╩╚═╚═╝╝╚╝╚═╝ ╩ 
*/
/* Disable transparency effect when focus is lost from the browser */
:where(#navigator-toolbox) > #TabsToolbar {
  will-change: unset !important;
  transition: none !important;
  opacity: 1 !important;
}

/* ------------------------------------------------------------------ */

/*   
    ---- Note 1 ----
  In order to center the tab title all three of the rules need to be added.
  If the close icon does not occupy space, there is a "jump" when hovering tabs with short titles.
  Therefore, the close icon has a display area, but has been hidden with opacity only to be shown
  when the tab is hovered (unless the tab is selected or pinned) 
  
    ---- Note 2 ----
  Firefox v96.0.2 added the following code. 
    #tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
      height: 2.7em;
    }
  This code causes the text to be aligned to the top of the tab.
  By setting height to auto fixes this bug
*/
