/*
*    ╔╦╗╔═╗╔╗   ╔╦╗╦╔╦╗╦  ╔═╗
*     ║ ╠═╣╠╩╗   ║ ║ ║ ║  ║╣
*     ╩ ╩ ╩╚═╝   ╩ ╩ ╩ ╩═╝╚═╝
*/
/* Centered text */
.tab-label-container { 
  display: grid; 
  justify-content: safe center;
}

.tab-label, .tab-secondary-label {
  overflow: hidden;
}

.tabbrowser-tab:not([pinned], :hover) .tab-label-container {
  margin-inline-end: 7px !important;
} /* Note 1 */

#tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
  height: auto !important;
} /* Note 2 */

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╦  ╔═╗╔═╗╔═╗  ╔╗ ╦ ╦╔╦╗╔╦╗╔═╗╔╗╔
*    ║  ║  ║ ║╚═╗║╣   ╠╩╗║ ║ ║  ║ ║ ║║║║
*    ╚═╝╩═╝╚═╝╚═╝╚═╝  ╚═╝╚═╝ ╩  ╩ ╚═╝╝╚╝
*/
/* Close button opacity */
/* Only show close buttons on background tabs when hovering with the mouse */
.tabbrowser-tab:not([pinned]) > .tab-stack > .tab-content > .tab-close-button:not([selected="true"]) {
  display: -moz-inline-box !important;
  display: inline !important;
  opacity: 0;
} /* Note 1 */

.tabbrowser-tab:not([pinned]):hover > .tab-stack > .tab-content > .tab-close-button:not([selected="true"]) {
  opacity: 1;
} /* Note 1 */

.close-icon {
  transition: filter 175ms ease-in-out !important;
}

.close-icon:hover {
  background-color: transparent !important;
  filter: brightness(1.6);
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╔═╗╦  ╦╦╔═╗╔═╗╔╗╔╔═╗
*    ╠╣ ╠═╣╚╗╔╝║║  ║ ║║║║╚═╗
*    ╚  ╩ ╩ ╚╝ ╩╚═╝╚═╝╝╚╝╚═╝
*/
/* Inactive tabs favicons */
.tabbrowser-tab:not([selected="true"]):not([pinned]) .tab-icon-image {
  filter: opacity(0.5) !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╔═╗╔═╗╔═╗╦═╗╔═╗╔╦╗╔═╗╦═╗
*    ╚═╗║╣ ╠═╝╠═╣╠╦╝╠═╣ ║ ║ ║╠╦╝
*    ╚═╝╚═╝╩  ╩ ╩╩╚═╩ ╩ ╩ ╚═╝╩╚═
*/
/* Tab separators */
/* .tabbrowser-tab:not([pinned], [first-visible-unpinned-tab])::before {
  content: "";
  display: inherit;
  position: absolute;
  width: 1px;
  background-image: linear-gradient(transparent 30%, currentColor 30%, currentColor 70%, transparent 70%);
  opacity: 0.4;
  transform: translateX(-2px);
  transition: opacity 180ms linear;
}

.tabbrowser-tab:is(:hover, :hover + .tabbrowser-tab, :hover + .tabbrowser-tab[hidden] + .tabbrowser-tab,
  [selected], [selected] + .tabbrowser-tab, [selected] + .tabbrowser-tab[hidden] + .tabbrowser-tab
  [multiselected], [multiselected] + .tabbrowser-tab, [multiselected] + .tabbrowser-tab[hidden] + .tabbrowser-tab)::before {
  opacity: 0;
} */

/* ------------------------------------------------------------------ */

/* Tab size fix for FF v136 */
.tabbrowser-tab {
  &:is([muted], [soundplaying], [activemedia-blocked]) {
    #tabbrowser-tabs[orient="horizontal"] &:not([pinned]) {
      --tab-min-width: unset !important;
    }
  }
}

/*   
    ---- Note 1 ----
  In order to center the tab title all three of the rules need to be added.
  If the close icon does not occupy space, there is a "jump" when hovering tabs with short titles.
  Therefore, the close icon has a display area, but has been hidden with opacity only to be shown
  when the tab is hovered (unless the tab is selected or pinned) 
  
    ---- Note 2 ----
  Firefox v96.0.2 added the following code. 
    #tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
      height: 2.7em;
    }
  This code causes the text to be aligned to the top of the tab.
  By setting height to auto fixes this bug
*/