/*
*    ╔╦╗╔═╗╔═╗╔═╗╦ ╦╦ ╔╦╗  ╔═╗╔═╗╔╗╔╔╦╗
*     ║║║╣ ╠╣ ╠═╣║ ║║  ║   ╠╣ ║ ║║║║ ║ 
*    ═╩╝╚═╝╚  ╩ ╩╚═╝╩═╝╩   ╚  ╚═╝╝╚╝ ╩ 
*/
/* Set default UI font across Firefox */
:root {
  --ff-main: Lexend, sans-serif !important;
}

body, 
menubar, 
menupopup, 
popupnotification, 
.panel-body, 
#tab-group-default-header, 
#tabgroup-preview-panel, 
#appMenu-popup, 
#editBookmarkPanel {
  font-family: var(--ff-main) !important;
}

@-moz-document url-prefix("chrome://browser/content/places") {
  :root {
    --ff-main: Lexend, sans-serif;
    font-family: var(--ff-main) !important;
  }
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╔═╗╔╗╔╔╦╗╔═╗═╗ ╦╔╦╗  ╔╦╗╔═╗╔╗╔╦ ╦  ╦╔╦╗╔═╗╔╦╗╔═╗
*    ║  ║ ║║║║ ║ ║╣ ╔╩╦╝ ║   ║║║║╣ ║║║║ ║  ║ ║ ║╣ ║║║╚═╗
*    ╚═╝╚═╝╝╚╝ ╩ ╚═╝╩ ╚═ ╩   ╩ ╩╚═╝╝╚╝╚═╝  ╩ ╩ ╚═╝╩ ╩╚═╝
*/
/* 
  Remove Navigation & Bookmark Buttons, "Open Link in New Window", 
  "Email Image", "Email Video", "Email Audio",
  "Inspect Accessibility Properties" from context menu.
*/
/* Navigation & Bookmark */
#context-sep-navigation, #context-navigation,
/* Open Link in New Window*/ 
#context-openlink, 
/* Email Image, Video, Audio */
#context-sendimage, #context-sendvideo, #context-sendaudio, 
/* Inspect Accessibility Properties */ 
#context-inspect-a11y 
{
  display: none !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╦ ╦╦ ╦╦╔╦╗╔═╗  ╔═╗╦  ╔═╗╔═╗╦ ╦  ╔═╗╦═╗ ╦
*    ║║║╠═╣║ ║ ║╣   ╠╣ ║  ╠═╣╚═╗╠═╣  ╠╣ ║╔╩╦╝
*    ╚╩╝╩ ╩╩ ╩ ╚═╝  ╚  ╩═╝╩ ╩╚═╝╩ ╩  ╚  ╩╩ ╚═
*/
/* Prevents White pre-load flash */
#browser vbox#appcontent tabbrowser, #content, #tabbrowser-tabpanels,
browser[type=content-primary], browser[type=content] > html,
.browserContainer, .tabbrowser tabpanels {
  background-color: #2a2a2a !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╦ ╦╔╦╗╔═╗╦ ╦╦╔╦╗╔═╗  ╔╦╗╔═╗╔╗╔╦ ╦╔╗ ╔═╗╦═╗
*    ╠═╣║ ║ ║ ║ ║╠═╣║ ║║║╣   ║║║║╣ ║║║║ ║╠╩╗╠═╣╠╦╝
*    ╩ ╩╚═╝ ╩ ╚═╝╩ ╩╩═╩╝╚═╝  ╩ ╩╚═╝╝╚╝╚═╝╚═╝╩ ╩╩╚═
*/
/* Autohide menubar when window is maximized */
#main-window[sizemode="maximized"] #navigator-toolbox > #toolbar-menubar:not(:hover) {
  height: 1px;
  margin-block-start: -19px;
  
  > * {
    display: none;
  }
}

#main-window[sizemode="maximized"] #navigator-toolbox > #toolbar-menubar {
  transition-property: opacity, margin !important;
  transition-duration: 250ms !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╦ ╦╦═╗╦  ╔╗ ╔═╗╦═╗
*    ║ ║╠╦╝║  ╠╩╗╠═╣╠╦╝
*    ╚═╝╩╚═╩═╝╚═╝╩ ╩╩╚═
*/
/* Rounded URLbar */
.urlbar-background {
  --toolbarbutton-border-radius: 100vw;
}

#urlbar[open] .urlbar-background {
  --toolbarbutton-border-radius: 0;
}

#urlbar:not([focused="true"]):not([open="true"])  {
  padding-inline: calc((var(--urlbar-height) / 2) - 3px) !important;
}

#urlbar[breakout][breakout-extend] > .urlbar-background {
  animation: none !important;
  border-color: var(--lwt-toolbar-field-border-color, rgb(18, 18, 18)) !important;
}

#urlbar[breakout][breakout-extend] {
  width: var(--urlbar-width) !important;
  margin-top: var(--urlbar-margin-inline) !important;
  margin-inline: 0 !important;
}

#urlbar[breakout][breakout-extend] > .urlbar-input-container {
  --urlbar-container-height: 31px !important;
  padding: var(--urlbar-container-padding) !important;
}

#urlbar[breakout][breakout-extend] > .urlbar-input-container[pageproxystate="invalid"] {
  height: var(--urlbar-height) !important;
}

#urlbar[breakout][breakout-extend][open] > .urlbar-input-container {
  margin-bottom: 5px;
}

.urlbarView-row {
  padding-inline: 3px !important;
}

#urlbar-results {
  padding-block: 0 !important;
}

/* URLbar text selection fix for Dark Vintage Theme */
.urlbar-input-container:focus-within #urlbar-input::selection {
  background-color: var(--accent-dark) !important;
  color: var(--text) !important;
}

/* URLbar Separators */
:root {
  --urlbar-separator-color: var(--urlbarView-button-background-hover) !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔╗╔╔═╗╦  ╦╔╗ ╔═╗╦═╗  ╔╗ ╔═╗╦═╗╔╦╗╔═╗╦═╗
*    ║║║╠═╣╚╗╔╝╠╩╗╠═╣╠╦╝  ╠╩╗║ ║╠╦╝ ║║║╣ ╠╦╝
*    ╝╚╝╩ ╩ ╚╝ ╚═╝╩ ╩╩╚═  ╚═╝╚═╝╩╚══╩╝╚═╝╩╚═
*/
/* Navbar bottom border */
#navigator-toolbox {
  border-bottom: 1px solid var(--toolbar-bgcolor) !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╦ ╦╦  ╦    ╔═╗╔═╗╦═╗╔═╗╔═╗╔╗╔  ╔╦╗╔═╗╔═╗
*    ╠╣ ║ ║║  ║    ╚═╗║  ╠╦╝║╣ ║╣ ║║║  ║║║╚═╗║ ╦
*    ╚  ╚═╝╩═╝╩═╝  ╚═╝╚═╝╩╚═╚═╝╚═╝╝╚╝  ╩ ╩╚═╝╚═╝
*/
/* Full screen message */
#fullscreen-warning {
  background-color: #323030 !important;
  border-color: #131313 !important;
  scale: 0.75 !important;
  opacity: 0.7 !important;
}

#fullscreen-exit-button {
  display: none !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╔╦╗╦═╗╦    ╔╦╗╔═╗╔╗
*    ║   ║ ╠╦╝║     ║ ╠═╣╠╩╗
*    ╚═╝ ╩ ╩╚═╩═╝   ╩ ╩ ╩╚═╝
*/
/* Tweaks for Ctrl+Tab */
#ctrlTab-panel {
  --panel-background: hsla(0, 2%, 19.2%, 0.85) !important;
  --panel-color: #ddd !important;
}

.ctrlTab-preview-inner {
  padding: 8px !important;
}

.ctrlTab-preview:focus > .ctrlTab-preview-inner {
  background-color: #454545 !important;
  border-color: transparent !important;
  color: #fff !important;
  transform: scale(1.1);
  transition: transform 150ms ease !important;
}

.ctrlTab-preview > .ctrlTab-preview-inner {
  background-color: transparent !important;
  transition: transform 400ms ease !important;
}

.ctrlTab-favicon[src] {
  background-color: var(--panel-background) !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╦╔╦╗╦ ╦╦ ╦╔╗   ╦╔═╗╔═╗╔╗╔
*    ║ ╦║ ║ ╠═╣║ ║╠╩╗  ║║  ║ ║║║║
*    ╚═╝╩ ╩ ╩ ╩╚═╝╚═╝  ╩╚═╝╚═╝╝╚╝
*/
/* Change github icon in bookmarks bar to white color one */
/* Original Source: https://github.com/datguypiko/Firefox-Mod-Blur/blob/master/EXTRA%20MODS/Icon%20and%20Button%20Mods/White%20github%20icon/white_github_icon_in_bookmarks.css */
.bookmark-item[image^="page-icon:https://github.com/"] > :is(.toolbarbutton-icon, .menu-icon) {
	width: 0px !important;
	height: 0px !important;
	padding: 0 0 16px 16px !important;
	background-image: url("./icons/github-icon.svg") !important;
	background-size: cover !important;
}
