/*
*    ╔═╗╔═╗╔═╗╔═╗  ╦╔╗╔╔═╗╔═╗
*    ╠═╝╠═╣║ ╦║╣   ║║║║╠╣ ║ ║
*    ╩  ╩ ╩╚═╝╚═╝  ╩╝╚╝╚  ╚═╝
*    ----- Page Info -----
*/

@-moz-document url(chrome://browser/content/pageinfo/pageInfo.xhtml) {
  :root {
    --context-background: #393838;
    --context-background-2: #323030;
    --context-border: #151515;
    --context-disabled: #6d6d6d;
    --context-text: #ccc;
    --context-hover: #252525;
    --context-separator: #555;
    --context-link: #3498db;
  }

  ::selection {
    background: var(--context-disabled) !important;
  }

  /* Header */
  #topBar {
    appearance: none !important;
    background: var(--context-hover) !important;
    border-color: var(--context-border) !important;
  }

  #viewGroup>radio {
    color: var(--context-text) !important;
  }

  #viewGroup>radio[selected="true"],
  #viewGroup>radio:hover {
    background-color: var(--context-link) !important;
    color: var(--context-border) !important;
  }

  /* Body */
  #mainDeck {
    background: var(--context-background) !important;
    color: var(--context-text) !important;
  }

  input {
    color: var(--context-text) !important;
  }

  separator.thin {
    margin-top: 8px;
    border-top: 1px solid var(--context-separator);
  }

  /* Table tree */
  tree {
    appearance: none !important;
    background: var(--context-background-2) !important;
    border: 1px solid var(--context-border) !important;
    color: var(--context-text) !important;
    scrollbar-width: thin;
    scrollbar-color: var(--disabled) var(--bg-darkest);
  }

  treechildren::-moz-tree-row(multicol, odd) {
    background-color: var(--context-background) !important;
  }

  treechildren::-moz-tree-row(selected) {
    background-color: var(--bg-dark-hover) !important;
  }

  treecol {
    appearance: none !important;
    padding: 4px !important;
    padding-inline-start: 8px !important;
    background: var(--context-hover) !important;
    border-bottom: 1px solid var(--context-border) !important;
    color: var(--context-text) !important;
  }

  treecol:first-of-type {
    border-right: 1px solid var(--context-border) !important;
  }

  treecolpicker {
    appearance: none !important;
    border: 1px solid transparent !important;
    color: var(--context-text) !important;
  }

  /* Media Tab */
  #imagecontainerbox {
    background: url(check-bg.png) var(--context-background-2) !important;
    border-color: var(--context-border) !important;
  }

  /* Permissions Tab */
  #permList {
    appearance: none !important;
    color: var(--context-text) !important;
    border: 1px solid var(--context-border) !important;
  }

  #permList vbox {
    background-color: var(--context-background-2) !important;
    color: var(--context-text) !important;
    border-color: var(--context-separator) !important;
  }

  #permList vbox:hover {
    background-color: var(--context-hover) !important;
  }

  #permList radio {
    color: var(--context-text) !important;
  }
}