/*
*    ╔╦╗╔═╗╔═╗╦ ╔╦╗╦╔═╗╔═╗
*     ║ ║ ║║ ║║  ║ ║╠═╝╚═╗
*     ╩ ╚═╝╚═╝╩═╝╩ ╩╩  ╚═╝
*      ---- Tooltips ----
*/

tooltip {
  appearance: none;
  padding: 4px 10px;
  background: var(--bg-dark);
  border-color: var(--bg-dark-hover);
  color: var(--text);
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╦ ╦╔═╗╔═╗╦╔═╔╗ ╔═╗═╗ ╦╔═╗╔═╗
*    ║  ╠═╣║╣ ║  ╠╩╗╠╩╗║ ║╔╩╦╝║╣ ╚═╗
*    ╚═╝╩ ╩╚═╝╚═╝╩ ╩╚═╝╚═╝╩ ╚═╚═╝╚═╝
*		 ----- Checkboxes -----  
*/

.checkbox-check {
  --checkbox-border-color: var(--cb-border);
  --checkbox-unchecked-bgcolor: var(--cb-bg);
}

checkbox:not([disabled="true"]):hover > .checkbox-check {
  background: var(--cb-hover-bg) var(--check) no-repeat center / 11px;
}

.checkbox-check[checked] {
  --checkbox-checked-border-color: var(--cb-checked-border);
  --checkbox-checked-bgcolor: var(--cb-checked-bg);
  background-image: var(--check) !important;
  background-size: 11px;
}

checkbox:not([disabled="true"]):hover > .checkbox-check[checked] {
  --checkbox-checked-hover-bgcolor: var(--cb-checked-hover-bg);
}

.checkbox-check[disabled] {
  background-color: var(--cb-disabled-background);
  border-color: var(--cb-disabled-border);
}

/* ------------------------------------------------------------------ */

/*
*    ╦═╗╔═╗╔╦╗╦╔═╗╔═╗
*    ╠╦╝╠═╣ ║║║║ ║╚═╗
*    ╩╚═╩ ╩═╩╝╩╚═╝╚═╝
*   ----- Radios -----  
*/

.radio-check {
  appearance: none !important;
  margin-right: 2px !important;
  padding: 6px;
  background-color: var(--cb-bg);
  border: 1px solid var(--cb-border);
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px var(--cb-bg);
}

.radio-check[selected] {
  background-color: var(--cb-checked-bg);
  border-color: var(--cb-hover-border);
}

radio:hover .radio-check {
  background: var(--cb-checked-bg);
  border-color: var(--cb-hover-border);
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╦ ╦╔╦╗╔═╗  ╔═╗╔═╗╔╦╗╔═╗╦  ╔═╗╔╦╗╔═╗  ╦  ╦╔═╗╔╦╗╔═╗
*    ╠═╣║ ║ ║ ║ ║  ║  ║ ║║║║╠═╝║  ║╣  ║ ║╣   ║  ║╚═╗ ║ ╚═╗
*    ╩ ╩╚═╝ ╩ ╚═╝  ╚═╝╚═╝╩ ╩╩  ╩═╝╚═╝ ╩ ╚═╝  ╩═╝╩╚═╝ ╩ ╚═╝
*            ----- Auto Complete List Boxes ----- 
*/

#PopupAutoComplete {
  --panel-border-color: var(--border) !important;
}

#PopupAutoComplete > richlistbox {
  background: var(--bg) !important;
  color: var(--text) !important;
}

#PopupAutoComplete > richlistbox richlistitem {
  padding: 4px 8px 6px !important;
  color: var(--text) !important;
}

#PopupAutoComplete > richlistbox richlistitem:is(:hover, :active) {
  background-color: var(--accent-light) !important;
}

#PopupAutoComplete > richlistbox richlistitem[selected="true"] {
  background-color: var(--accent) !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╦═╗╦═╗╔═╗╦ ╦  ╔═╗╔═╗╔╗╔╔═╗╦  ╔═╗
*    ╠═╣╠╦╝╠╦╝║ ║║║║  ╠═╝╠═╣║║║║╣ ║  ╚═╗
*    ╩ ╩╩╚═╩╚═╚═╝╚╩╝  ╩  ╩ ╩╝╚╝╚═╝╩═╝╚═╝
*		  ----- Arrow Panels ----- 
*/

panel[type="arrow"] {
  --lwt-text-color: var(--text) !important;
  --arrowpanel-color: var(--text) !important;
  
  --arrowpanel-background: var(--bg) !important;
  --arrowpanel-dimmed: var(--bg-hover) !important;
  --arrowpanel-dimmed-further: var(--bg-dark-hover) !important;
  --arrowpanel-dimmed-even-further: var(--bg-darkest) !important;
  --arrowpanel-border-color: var(--border) !important;
  
  --panel-description-color: var(--text-light) !important;
  --panel-disabled-color: var(--disabled) !important;
  
  --panel-item-hover-bgcolor: var(--arrowpanel-dimmed);
  --panel-item-active-bgcolor: var(--arrowpanel-dimmed-further);
  
  --panel-separator-color: var(--separator) !important;
  
  --panel-banner-item-background-color: var(--bg-darker) !important;
  --panel-banner-item-hover-bgcolor: var(--bg-dark-hover) !important;
  --panel-banner-item-active-bgcolor: var(--bg-darkest) !important;
  --panel-banner-item-color: var(--text) !important;
  
  
  --button-primary-bgcolor: var(--accent);
  --button-primary-hover-bgcolor: var(--accent-light);
  --button-primary-active-bgcolor: var(--accent-dark);
  --button-primary-color: var(--text);
  
  --button-bgcolor: var(--bg-darker);
  --button-hover-bgcolor: var(--bg-dark-hover);
  --button-active-bgcolor: var(--border);
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╔═╗╔╗╔╔╦╗╔═╗═╗ ╦╔╦╗  ╔╦╗╔═╗╔╗╔╦ ╦╔═╗
*    ║  ║ ║║║║ ║ ║╣ ╔╩╦╝ ║   ║║║║╣ ║║║║ ║╚═╗
*    ╚═╝╚═╝╝╚╝ ╩ ╚═╝╩ ╚═ ╩   ╩ ╩╚═╝╝╚╝╚═╝╚═╝
*		   ----- Context Menus ----- 
*/

menupopup {
  --panel-background: var(--bg) !important;
  --panel-color: var(--text) !important;
  appearance: none !important;
  min-width: 220px !important;
  margin: 0 !important;
  padding: 4px 4px;
  background: var(--panel-background) !important;
  border: 1px solid var(--border) !important;
}

menupopup#contentAreaContextMenu {
  min-width: 240px !important;
}

menupopup > :is(menuitem, menu) {
  appearance: none !important;
  min-height: 22px !important;
  margin: 0 !important;
  padding: 2px 0 !important;
}

menupopup > menugroup {
  padding: 0 !important;
  background-color: transparent !important;
}

menupopup menuseparator {
  appearance: none !important;
  margin: 3px 5px !important;
  padding: 0 !important;
  border-top: 1px solid var(--separator) !important;
  border-bottom: none !important;
}

/* Disabled */
menupopup :is(menuitem, menu)[disabled="true"] {
  background-color: var(--panel-background) !important;
  color: var(--disabled) !important;
}

menupopup :is(menuitem, menu)[disabled="true"]:is(:hover, [_moz-menuactive="true"]) {
  background-color: var(--bg-dark) !important;
}

/* Hover */
menupopup :is(menu, menuitem):is(:hover, [_moz-menuactive="true"]):not([disabled="true"]) {
  background-color: var(--bg-hover) !important;
  color: currentColor !important;
}

/* Main menu selected */
#main-menubar > menu[_moz-menuactive="true"] {
  background-color: var(--bg-hover) !important;
}

/* Keyboard Shortcut Text */
.menu-accel, .menu-iconic-accel {
  color: var(--disabled);
}

/* Checkbox & Radio */
menuitem[checked="true"][type="checkbox"]>.menu-iconic-left {
  appearance: none !important;
  margin-inline: 7px 6px !important;
  padding: 7px 0 0 !important;
  border: solid var(--text);
  border-width: 0 0 2px 2px;
  transform: rotate(-45deg) scale(.75);
}

menuitem[checked="true"][type="radio"] > .menu-iconic-left {
  appearance: none !important;
  height: 17px !important;
  margin-inline: 7px 6px !important;
  background: var(--text);
  border: solid var(--text);
  border-radius: 100%;
  transform: scale(0.5);
}

/* Menu Left Icon */
.menuitem-iconic:not([hidden="true"]) .menu-iconic-left {
  appearance: none !important;
  padding-block: 3px !important;
  padding-inline: 8px 6px !important;
}

/* Menu Right Arrow Icon */
menupopup .menu-right {
  appearance: none !important;
  margin-right: 6px !important;
  padding: 7.5px !important;
  border: solid var(--text);
  border-width: 0 3px 3px 0;
  color: var(--text) !important;
  transform: rotate(-45deg) scale(.4);
}

/* ------------------------------------------------------------------ */

/*
*    ╦ ╦╔═╗╔╦╗╔╗ ╦ ╦╦═╗╔═╗╔═╗╦═╗  ╔╦╗╔═╗╔╗╔╦ ╦
*    ╠═╣╠═╣║║║╠╩╗║ ║╠╦╝║ ╦║╣ ╠╦╝  ║║║║╣ ║║║║ ║
*    ╩ ╩╩ ╩╩ ╩╚═╝╚═╝╩╚═╚═╝╚═╝╩╚═  ╩ ╩╚═╝╝╚╝╚═╝
*		    ----- Hamburger menu -----
*/
#appMenu-multiView panelview {
  min-width: 300px !important;
}

.panel-header {
  background: var(--bg-hover) !important;
  border-bottom: 1px solid var(--border) !important;
}

.PanelUI-subView .panel-header .subviewbutton {
  cursor: pointer;
}

.subviewbutton[shortcut]::after {
  color: var(--disabled) !important;
}

#appMenu-multiView toolbarseparator {
  appearance: none !important;
  margin: 6px 5px !important;
  border-top: 1px solid var(--separator) !important;
}

#PanelUI-whatsNew .panelMenu-toggleWhatsNew-checkbox {
  border-top-color: var(--border) !important;
}

#PanelUI-whatsNew:not(:hover) .checkbox-check {
  background-color: var(--bg-dim) !important;
  border-color: var(--bg-hover) !important;
}

#PanelUI-whatsNew:hover .checkbox-check {
  background-color: var(--bg-dim) !important;
}

/* -- Zoom & Fullscreen Buttons -- */
#appMenu-zoomReset-button {
  background-color: var(--bg) !important;
  border-color: var(--text) !important;
}

#appMenu-zoomReduce-button2:not(:hover) > .toolbarbutton-icon, 
#appMenu-zoomEnlarge-button2:not(:hover) > .toolbarbutton-icon {
  background-color: var(--bg-dim) !important;
  stroke: none !important;
}

#appMenu-fullscreen-button2:not(:hover) > .toolbarbutton-icon {
  background-color: var(--bg-dim) !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔╗ ╔═╗╔═╗╦╔═╔╦╗╔═╗╦═╗╦╔═╔═╗  ╔═╗╔═╗╔═╗╦ ╦╔═╗
*    ╠╩╗║ ║║ ║╠╩╗║║║╠═╣╠╦╝╠╩╗╚═╗  ╠═╝║ ║╠═╝║ ║╠═╝
*    ╚═╝╚═╝╚═╝╩ ╩╩ ╩╩ ╩╩╚═╩ ╩╚═╝  ╩  ╚═╝╩  ╚═╝╩
*		    ----- Bookmarks Popup -----
*/
#editBookmarkPanelFavicon[src] {
  background-color: var(--bg) !important;
}

#editBookmarkPanel .expander-up, #editBookmarkPanel .expander-down {
  border-radius: var(--arrowpanel-menuitem-border-radius);
}

/* -- Inputs -- */
#editBookmarkPanelRows input {
  --input-bgcolor: var(--bg-dark);
  --input-border-color: var(--bg-dark-hover);
}

#editBookmarkPanelRows input:hover,
#editBMPanel_tagsField::selection {
  --input-border-color: var(--accent) !important;
}

#editBMPanel_tagsField::selection {
  background-color: var(--accent) !important;
}

/* -- Dropdown -- */
#editBMPanel_folderMenuList[open="true"] {
  background-color: var(--bg-darkest) !important;
}

#editBMPanel_folderMenuList menupopup {
  --panel-background: var(--bg-darker) !important;
  --panel-border-color: var(--border) !important;
}

#editBMPanel_folderMenuList menupopup menuitem {
  background-color: transparent !important;
}

#editBMPanel_folderMenuList menuitem:is(:hover, :active) {
  background-color: var(--accent-light) !important;
}

#editBMPanel_folderMenuList menuitem[_moz-menuactive="true"] {
  background: var(--accent) !important;
}

/* -- Location & Tags Expanded Panels -- */
#editBMPanel_folderTreeRow tree,
#editBMPanel_tagsSelectorRow richlistbox {
  appearance: none !important;
  background: var(--bg-dark) !important;
  border: 1px solid var(--border) !important;
  color: var(--text) !important;
}
#editBMPanel_tagsSelectorRow richlistitem {
  border: 1px solid var(--bg-dark);
}

#editBMPanel_folderTreeRow treechildren::-moz-tree-row(hover),
#editBMPanel_tagsSelectorRow richlistitem:hover {
  background-color: var(--bg-dark-hover) !important;
  border-color: var(--bg-dark-hover) !important;
}

#editBMPanel_folderTreeRow treechildren::-moz-tree-row(selected) {
  background-color: var(--accent-dark) !important;
}

#editBMPanel_folderTreeRow treechildren::-moz-tree-row(selected, focus),
#editBMPanel_tagsSelectorRow richlistitem[selected="true"] {
  background-color: var(--accent) !important;
  border-color: var(--accent-dark) !important;
  color: currentColor !important;
}

#editBMPanel_folderTreeRow treechildren::-moz-tree-cell-text(selected),
#editBMPanel_folderTreeRow treechildren::-moz-tree-image(selected),
#editBMPanel_folderTreeRow treechildren::-moz-tree-twisty(selected) {
  color: currentColor !important;
}

/* -- Tags Auto Complete List -- */
#editBMPanel_tagsAutocomplete {
  --panel-border-color: var(--border) !important;
}

#editBMPanel_tagsAutocomplete richlistbox {
  background-color: var(--bg-darker) !important;
}

#editBMPanel_tagsAutocomplete richlistbox richlistitem {
  padding: 4px 8px 6px !important;
}

#editBMPanel_tagsAutocomplete richlistbox richlistitem:is(:hover, :active) {
  background-color: var(--accent-light) !important;
}

#editBMPanel_tagsAutocomplete richlistbox richlistitem[selected="true"] {
  background-color: var(--accent) !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╦ ╦╔═╗╔╦╗╔═╗╔╦╗╦╔═╗╔═╗  ╔╦╗╔═╗╔╗╔╦ ╦
*    ║  ║ ║╚═╗ ║ ║ ║║║║║╔═╝║╣   ║║║║╣ ║║║║ ║
*    ╚═╝╚═╝╚═╝ ╩ ╚═╝╩ ╩╩╚═╝╚═╝  ╩ ╩╚═╝╝╚╝╚═╝
*		   ----- Customize Menu ----- 
*/

#customization-container {
  background-color: var(--bg) !important;
  background-image: linear-gradient(var(--bg-hover), var(--bg) 45px) !important;
  color: var(--text) !important;
}

#customization-header {
  text-shadow: 0 0 1em var(--border), 0 0 1em var(--border), 0 0 .5em var(--border) !important;
}

/* -- Overflow Menu -- */
#customization-panelWrapper>.panel-arrowbox>.panel-arrow[side="top"] {
  fill: var(--bg-dark) !important;
  stroke: var(--border) !important;
}

#customization-panelWrapper > .panel-arrowcontent {
  background-color: var(--bg-dark) !important;
  border-color: var(--border) !important;
  color: var(--text) !important;
  box-shadow: 0 0 4px var(--border) !important;
}

#customization-panelHolder>#widget-overflow-fixed-list:not(:empty) {
  border-color: var(--separator) !important;
}

/* -- Footer -- */
#customization-footer {
  margin-inline: 10px;
  padding-inline: 0 !important;
  border-top-color: var(--separator) !important;
}

.customizationmode-button:not(#customization-done-button) {
  background-color: var(--bg-darker) !important;
  border-color: var(--bg-darker) !important;
  border-radius: 4px !important;
  color: var(--text) !important;
}

.customizationmode-button:not(#customization-done-button, [disabled]):hover {
  background-color: var(--bg-dark-hover) !important;
  border-color: var(--bg-dark-hover) !important;
}

.customizationmode-button:not(#customization-done-button, [disabled]):active {
  background-color: var(--bg-darkest) !important;
  border-color: var(--bg-darkest) !important;
}

#customization-done-button {
  background-color: var(--accent) !important;
  border-color: var(--accent) !important;
  color: var(--text) !important;
}

#customization-done-button:not([disabled]):hover {
  background-color: var(--accent-light) !important;
  border-color: var(--accent-light) !important;
}

#customization-done-button:not([disabled]):active {
  background-color: var(--accent-dark) !important;
  border-color: var(--accent-dark) !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╦╔╦╗╔═╗╔╗ ╔═╗╦═╗
*    ╚═╗║ ║║║╣ ╠╩╗╠═╣╠╦╝
*    ╚═╝╩═╩╝╚═╝╚═╝╩ ╩╩╚═
*    ----- Sidebar -----
*/

#sidebar-box {
  background: var(--bg) !important;
  color: var(--text) !important;
}

#sidebar-header,
#sidebar-splitter {
  border-color: var(--border) !important;
}

#search-box {
  appearance: none !important;
  margin: 5px 2px !important;
  padding: 5px 10px !important;
  background-color: var(--bg-darker) !important;
  border: 1px solid var(--border) !important;
  border-radius: 4px;
  color: var(--text) !important;
}

#viewButton {
  margin-block: 5px !important;
  border-radius: 3px !important;
  color: var(--text) !important;
}

#viewButton >.button-box > .button-menu-dropmarker {
  margin-left: 5px !important;
  fill: var(--text) !important;
}

#sidebar-switcher-target:is(:hover, .active),
#viewButton:is(:hover, [open="true"]) {
  background: var(--bg) !important;
  cursor: pointer;
}

/* -- Tree -- */
tree.sidebar-placesTree {
  color: var(--text) !important;
}

.sidebar-placesTree treechildren::-moz-tree-row(hover) {
  background: var(--bg-darker) !important;
  border-block-color: var(--accent) !important;
}

.sidebar-placesTree treechildren::-moz-tree-row(selected) {
  background-color: var(--accent-dark) !important;
}

.sidebar-placesTree treechildren::-moz-tree-row(selected, focus) {
  background-color: var(--accent) !important;
}

.sidebar-placesTree treechildren::-moz-tree-row(selected, current, focus) {
  border-color: currentColor !important;
}

.sidebar-placesTree treechildren::-moz-tree-cell-text(selected),
.sidebar-placesTree treechildren::-moz-tree-image(selected),
.sidebar-placesTree treechildren::-moz-tree-twisty(selected) {
  color: var(--text) !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╦╔╗╔╔╦╗╔╗ ╔═╗╦═╗
*    ╠╣ ║║║║ ║║╠╩╗╠═╣╠╦╝
*    ╚  ╩╝╚╝═╩╝╚═╝╩ ╩╩╚═
*    ----- Findbar ----- 
*/

.browserContainer > findbar {
  background: var(--bg) !important;
  border-top-color: var(--border) !important;
  color: var(--text) !important;
}

.findbar-textbox {
  background: var(--cb-bg) !important;
  border: 1px solid var(--cb-border) !important;
  color: var(--text) !important;
}

.findbar-find-previous,
.findbar-find-next {
  background-color: var(--bg-darker) !important;
}

.findbar-find-previous {
  margin-right: 5px !important;
}

.findbar-find-previous[disabled="true"] > .toolbarbutton-icon,
.findbar-find-next[disabled="true"] > .toolbarbutton-icon {
  opacity: 1 !important;
  fill: var(--disabled) !important;
}

.findbar-find-previous:not([disabled="true"]):hover,
.findbar-find-next:not([disabled="true"]):hover {
  background-color: var(--bg-dark-hover) !important;
  fill: #fff !important;
}

/* ------------------------------------------------------------------ */

/*
*    ╔═╗╦  ╔═╗╦═╗╔╦╗╔═╗  ╔═╗╔═╗╔═╗╦ ╦╔═╗
*    ╠═╣║  ║╣ ╠╦╝ ║ ╚═╗  ╠═╝║ ║╠═╝║ ║╠═╝
*    ╩ ╩╩═╝╚═╝╩╚═ ╩ ╚═╝  ╩  ╚═╝╩  ╚═╝╩
*		 ----- Alerts Popup -----
*/

#alertBox {
  background: var(--bg) !important;
  border-color: var(--border) !important;
  border-radius: 4px !important;
  color: var(--text) !important;
}

#alertSettings {
  -moz-context-properties: fill, fill-opacity !important;
  margin: 0px 2px -3px 0px !important;
  padding: 3px !important;
  color: inherit !important;
  border-radius: 2px !important;
  transform: scale(0.91, 0.91) !important;
}

#alertSettings:hover,
#alertSettings[open] {
  background-color: var(--hover) !important;
}

/* Close Icons */
#alertBox .close-icon {
  box-sizing: border-box;
  margin-block: 2px -2px !important;
  margin-inline-end: 4px !important;
  scale: 0.9;
}

/* Screenshot Alert Image */
#alertImage[src$="copied-notification.svg"] {
  filter: invert(0.75);
}