/*
*    ╔═╗╔═╗╔═╗╔═╗  ╦╔╗╔╔═╗╔═╗
*    ╠═╝╠═╣║ ╦║╣   ║║║║╠╣ ║ ║
*    ╩  ╩ ╩╚═╝╚═╝  ╩╝╚╝╚  ╚═╝
*    ----- Page Info -----
*/

@-moz-document url(chrome://browser/content/pageinfo/pageInfo.xhtml) {
  ::selection {
    background: var(--disabled) !important;
  }

  /* Header */
  #topBar {
    appearance: none !important;
    background: var(--bg-hover) !important;
    border-color: var(--border) !important;
  }

  #viewGroup > radio {
    color: var(--text) !important;
  }

  #viewGroup > radio:is([selected="true"], :hover) {
    background-color: var(--accent) !important;
    color: var(--border) !important;
  }

  /* Body */
  #mainDeck {
    background: var(--bg) !important;
    color: var(--text) !important;
  }

  input {
    color: var(--text) !important;
  }

  separator.thin {
    margin-top: 8px;
    border-top: 1px solid var(--separator);
  }

  /* Table tree */
  tree {
    appearance: none !important;
    background: var(--bg-dark) !important;
    border: 1px solid var(--border) !important;
    color: var(--text) !important;
    scrollbar-width: thin;
    scrollbar-color: var(--disabled) var(--bg-darkest);
  }

  treechildren::-moz-tree-row(multicol, odd) {
    background-color: var(--bg) !important;
  }

  treechildren::-moz-tree-row(selected) {
    background-color: var(--accent-dark) !important;
    color: var(--text) !important;
  }
  
  treechildren::-moz-tree-row(selected, focus) {
    background-color: var(--accent) !important;
  }
  
  treechildren::-moz-tree-row(selected, current, focus) {
    border-color: currentColor !important;
  }

  treecol {
    appearance: none !important;
    padding: 4px !important;
    padding-inline-start: 8px !important;
    background: var(--bg-hover) !important;
    border-inline-color: var(--border) !important;
    color: var(--text) !important;
    box-shadow: inset 0 -1px var(--border) !important;
  }

  treecolpicker {
    appearance: none !important;
    border: 1px solid transparent !important;
    color: var(--text) !important;
  }
  
  treechildren::-moz-tree-cell-text(selected),
  treechildren::-moz-tree-image(selected),
  treechildren::-moz-tree-twisty(selected) {
    color: var(--text) !important;
  }

  /* Media Tab */
  #imagecontainerbox {
    background: url(check-bg.png) var(--bg-dark) !important;
    border-color: var(--border) !important;
  }
  
  #mediaSaveBox {
    margin-block: 5px;
  }

  /* Permissions Tab */
  #permList {
    appearance: none !important;
    color: var(--text) !important;
    border: 1px solid var(--border) !important;
  }

  #permList vbox {
    background-color: var(--bg-dark) !important;
    color: var(--text) !important;
    border-color: var(--separator) !important;
  }

  #permList vbox:hover {
    background-color: var(--bg-hover) !important;
  }

  #permList radio {
    color: var(--text) !important;
  }

  /* Checkboxes */
  .checkbox-check {
    appearance: none !important;
    height: 15px;
    width: 15px;
    background: var(--cb-bg) !important;
    border: 1px solid var(--cb-border) !important;
  }

  checkbox:not([disabled="true"]):hover > .checkbox-check:not([checked]) {
    border-color: var(--cb-hover-border) !important;
  }

  .checkbox-check[checked] {
    background: var(--cb-checked-bg) var(--check) no-repeat center / 10px !important;
    border-color: var(--cb-checked-border) !important;
  }

  checkbox:not([disabled="true"]):hover > .checkbox-check[checked] {
    background-color: var(--cb-checked-hover-bg) !important;
  }

  .checkbox-check[disabled] {
    background-color: var(--cb-disabled-background) !important;
    border-color: var(--cb-disabled-border) !important;
  }

  /* Radios */
  .radio-check {
    appearance: none !important;
    margin-right: 2px !important;
    padding: 6px;
    background-color: var(--cb-bg);
    border: 1px solid var(--cb-border);
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px var(--cb-bg);
  }

  .radio-check[selected] {
    background-color: var(--cb-checked-bg);
    border-color: var(--cb-hover-border);
  }

  radio:hover .radio-check {
    border-color: var(--cb-hover-border);
  }

  /* Buttons */
  button {
    appearance: none !important;
    min-width: 0 !important;
    padding: 8px 16px !important;
    border: 0 !important;
    border-radius: 4px !important;
  }
  
  button:not([disabled]) {
    background-color: var(--accent) !important;
    color: var(--text) !important;
  }
  
  button:not([disabled]):hover {
    background-color: var(--accent-light) !important;
  }
  
  button:not([disabled]):active {
    background-color: var(--accent-dark) !important;
  }
  
  button[disabled] {
    background-color: var(--disabled) !important;
    color: var(--bg) !important;
  }
}