@import "colors.css";

@import "chr_default.css";
/* - DEFAULT -
   * Set default UI font across Firefox
   * Hide unwanted context menu items
   * White flash fix
   * Rounded URLbar
   * URLbar text selection fix for Dark Vintage Theme
   * Fix URLbar separators color
   * Navbar bottom border
   * Full screen message on HTML5 videos
   * Ctrl-Tab tweaks
*/

@import "chr_menus.css";
/* - MENUS -
   * Tooltips
   * Checkboxes
   * Radios
   * Auto Complete List Boxes
   * Arrow Panels
   * Context Menus
   * Hamburger menu
   * Bookmarks Popup
   * Customize Menu
   * Sidebar
   * Findbar
   * Alerts Popup
*/

@import "chr_pages.css";
/* - PAGES -
   * Page Info
*/

@import "chr_tabs.css";
/* - TABS -
   * Centered text
   * Close button opacity
   * Close button auto-hide
   * Reduce favicons opacity of inactive tabs
   * Added tab separators
*/
