/* extensions */
@import "extensions/auto tab discard.css";
@import "extensions/panorama tab groups.css";
@import "extensions/ublock origin.css";
@import "extensions/violentmonkey.css";


@import "con_default.css";
/* con_default.css
  * Set default UI font across Firefox
	* Remove white loading page
  * about:addons Options tab white flash fix
  * view-source pages
  * about:webrtc
  * about:debugging
*/

/* addons.mozilla.org */
/* @import "con_amo.css"; */