
/* Links for various about: pages */
/*
@-moz-document url-prefix(about:) {
  .aboutPageWideContainer a, #outside a, #serviceworkers a, #UI_goUp a {
    color: #3498db !important;
  }
}
@-moz-document url-prefix(file:) {
  a {
    color: #3498db !important;
  }
}
*/

/* ---------------------------------------------- */
/* Text color of quotes on about: pages & mozilla */
/* ---------------------------------------------- */
/*
@-moz-document url-prefix(https://discovery.addons.mozilla.org),
url-prefix(chrome://),
url-prefix(about:),
url-prefix(file:),
url(https://www.mozilla.org/credits/),
url-prefix(https://addons.mozilla.org),
url-prefix(http://addons.mozilla.org),
url-prefix(https://raw.githubusercontent.com),
url-prefix(moz-extension),
url-prefix(view-source),
regexp(".*\\.(p|P)(d|D)(f|F).*") {
	:root {
		--in-content-deemphasized-text: #9b59b6 !important;
	}
}
*/

/* ---------------------------------------------- */
/* Reskin about:webrtc                            */
/* ---------------------------------------------- */
/*
@-moz-document url-prefix(about:webrtc) {
	:root {
		--color1: #303030;
    --color2: #393838;
    --color3: #575757;
    --color4: #909090;
    --color5: #363535;
	}

	html {
		background-color: var(--back-3)!important;
		color: var(--text-1)!important
	}
	#content > div, .peer-connection > h3 {
		background-color: var(--back-4)!important;
		border-color: var(--border-3) !important;
	}
	.section-heading > button:hover {
		border: 1px solid var(--border-2) !important;
	}
	.fold-trigger {
		color: var(--text-1) !important;
	}
	table {
		color: var(--text-1) !important;
		background-color: var(--back-2) !important;
	}
	.peer-connection table tr {
		background-color: var(--back-4) !important;
	}
	.trickled {
		background-color: var(--back-2) !important;
		color: var(--text-1) !important;
	}
	.peer-connection table tr:first-of-type {
		background-color: var(--back-3) !important;
		color: var(--text-1) !important;
	}
}
*/

/* ---------------------------------------------- */
/* Dialog boxes          	                   		  */
/* ---------------------------------------------- */
@-moz-document url-prefix(chrome://) {
  #ColorsDialogPane,
  #ConnectionsDialogPane,
  #FontsDialogPane,
  #LanguagesDialogPane,
  .windowDialog,
  dialog,
  prefpane,
  prefpane > .content-box,
  prefwindow,
  window {
    background-color: #2f2f2f /*#393838*/ !important;
    color: #ccc !important
  }
  #cookieInfoGrid .textbox-input {
    background-color: #393838 !important
  }
  #historyItems {
    -moz-appearance: none!important
  }
}

/* ---------------------------------------------- */
/* Change view-source pages           	     		  */
/* ---------------------------------------------- */
/*
@-moz-document url-prefix(view-source) {
	:root {
		--theme-highlight-green: #86DE74;
    --theme-highlight-blue: #75BFFF;
    --theme-highlight-purple: #B98EFF;
    --theme-highlight-red: #FF7DE9;
	}
  :root {
    background-color: #363535 !important;
    color: #ccc !important
  }
  pre[id]:before,
  span[id]:before {
    color: #555 !important
  }
  .highlight .end-tag,
  .highlight .start-tag {
    color: var(--theme-highlight-purple)!important
  }
  .highlight .comment {
    color: var(--theme-highlight-green)!important
  }
  .highlight .cdata {
    color: #c06 !important
  }
  .highlight .doctype {
    color: #e67e22 !important
  }
  .highlight .pi {
    color: var(--theme-highlight-red)!important
  }
  .highlight .entity {
    color: #dea174!important
  }
  .highlight .attribute-name {
    color: var(--theme-highlight-green)!important
  }
  .highlight .attribute-value {
    color: var(--theme-highlight-blue)!important
  }
  .highlight .markupdeclaration {
    color: #4682b4!important
  }
  .highlight .error,
  .highlight .error > :-moz-any(.start-tag,.end-tag,.comment,.cdata,.doctype,.pi,.entity,.attribute-name,.attribute-value) {
    color: #de7474!important
  }
}
*/

/* ---------------------------------------------- */
/* Checkboxes & radio buttons 			              */
/* ---------------------------------------------- */
@-moz-document url-prefix(about:),
url-prefix(chrome://browser) {
	:root {
		--in-content-border-highlight: #111 !important;
		--in-content-box-border-color: #222 !important;
		--in-content-box-background: #393838 !important;
		--in-content-text-color: #aaa !important;
	}
  .checkbox-check,
  .prefs-pane [type=checkbox]:checked + label::before,
  .prefs-pane [type=checkbox]:not(:checked) + label::before,
  .radio-check, input[type=checkbox] {
    -moz-appearance: none !important;
    border: 1px solid !important;
    background-color: var(--in-content-box-background) !important;
    background-image: none !important;
    box-shadow: none !important;
    border-color: var(--in-content-box-border-color) !important;
  }
  radio[disabled=true] {
    color: var(--in-content-text-color)!important;
  }
  .radio-check[selected] {
    list-style-image: url(chrome://global/skin/in-content/radio.svg);
    fill: var(--in-content-border-highlight) !important;
    -moz-context-properties: fill,stroke;
    /* stroke: none; */
    border-radius: 50%!important;
  }
  .checkbox-check[checked] {
    list-style-image: url(data:image/svg+xml;base64,PCEtLSBUaGlzIFNvdXJjZSBDb2RlIEZvcm0gaXMgc3ViamVjdCB0byB0aGUgdGVybXMgb2YgdGhlIE1vemlsbGEgUHVibGljCiAgIC0gTGljZW5zZSwgdi4gMi4wLiBJZiBhIGNvcHkgb2YgdGhlIE1QTCB3YXMgbm90IGRpc3RyaWJ1dGVkIHdpdGggdGhpcwogICAtIGZpbGUsIFlvdSBjYW4gb2J0YWluIG9uZSBhdCBodHRwOi8vbW96aWxsYS5vcmcvTVBMLzIuMC8uIC0tPgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjIxIiBoZWlnaHQ9IjIxIiB2aWV3Qm94PSIwIDAgMjEgMjEiPgogIDxwYXRoIGZpbGw9ImNvbnRleHQtZmlsbCIgc3Ryb2tlPSJjb250ZXh0LXN0cm9rZSIgc3Ryb2tlLXdpZHRoPSIwLjUiIGQ9Ik0gOS4zOSwxNi41IDE2LjI4LDYgMTQuNzcsNC41IDkuMzcsMTIuNyA2LjI4LDkuMiA0LjcsMTAuNyB6Ii8+Cjwvc3ZnPg==);
    fill: var(--in-content-border-highlight)!important;
    -moz-context-properties: fill,stroke!important;
    /* stroke: none */
  }
  html body div.ancillary div div.opsRow div.opsRowLabel label input,
  html body div.ancillary div div.opsRow div.opsRowLabel label input#verbose {
    -moz-appearance: checkbox!important;
    min-height: 10px!important;
    min-width: 10px!important;
    margin-top: -5px;
    margin-bottom: -1px
  }
}

/* ---------------------------------------------- */
/* about: pages reskin						 	      				*/
/* ---------------------------------------------- */
@-moz-document url-prefix(about:),
url-prefix(chrome://browser/content/preferences/),
url(chrome://passwordmgr/content/passwordManager.xul),
url(chrome://formautofill/content/manageAddresses.xhtml),
url-prefix(chrome://pippki),
url(chrome://browser/content/pageinfo/pageInfo.xul) {
	:root {
		/* background colors */
		--in-content-box-background: #393838 !important;
		--in-content-page-background: #2f2f2f !important;
    --in-content-dialog-header-background: #2f2f2f !important;
		--in-content-category-header-background: #323030 !important;
		--theme-selection-background-hover: rgba(52, 152, 219, 0.4) !important;
    --in-content-table-background: #393838 !important;

		/* text colors & borders */
		--in-content-page-color: #ccc !important;
		--in-content-text-color: #aaa !important;
		--in-content-category-text: #eee !important;
		--in-content-link-color: #3498db !important;
		--in-content-deemphasized-text: #aaa !important;
		--table-border: #393838 !important;
		--in-content-border-color: #323030 !important;
    --in-content-table-border-dark-color: #323030 !important;

		--theme-selection-background: #0a84ff !important; /* highlights suggestions dropdown forms */

		/* unidentified colors */
		--in-content-selected-text: #232323 !important;
	}
  ::-moz-tree-row(selected) {
    -moz-appearance: none!important;
    background-color: red!important
  }
  treechildren::-moz-tree-row,
  treechildren:not(.autocomplete-treebody)::-moz-tree-row(multicol,odd) {
    background-color: var(--in-content-box-background)!important
  }
  treechildren:not(.autocomplete-treebody)::-moz-tree-row(hover) {
    background-color: var(--theme-selection-background-hover)!important
  }
  tree {
    background-color: var(--in-content-box-background)!important;
    color: var(--in-content-page-color)!important
  }
  treechildren::-moz-tree-cell-text(hover),
  treechildren::-moz-tree-cell-text(selected) {
    color: var(--in-content-text-color)!important
  }
  treechildren:not(.autocomplete-treebody)::-moz-tree-row(selected) {
    background-color: var(--theme-selection-background)!important
  }
  treecol:not([hideheader=true]):not(:first-child),
  treecolpicker {
    border-image: linear-gradient(transparent 0,transparent 20%,var(--table-border) 20%,var(--table-border) 80%,transparent 80%,transparent 100%) 1 1!important
  }
  menulist:not([editable=true]) > .menulist-dropmarker,
  treecol:not([hideheader=true]) > .treecol-sortdirection[sortDirection] {
    fill: var(--in-content-category-text)!important
  }
  fieldset > legend,
  treecol:not([hideheader=true]),
  treecolpicker {
    background-color: var(--in-content-category-header-background)!important;
    color: var(--in-content-page-color)!important
  }
  prefpane#mainPrefPane groupbox#applicationsGroup richlistbox#handlersView richlistitem[selected=true] {
    background: var(--in-content-page-background)!important;
    color: var(--in-content-page-color)!important
  }
  tab {
    color: var(--in-content-page-color)!important
  }
  tab:hover {
    color: var(--in-content-selected-text)!important
  }
  tab[selected] {
    color: var(--in-content-link-color)!important
  }
  textbox[type=search] > moz-input-box > .textbox-search-sign {
    filter: invert(65%)
  }
	#updateSettingsContainer, #policies-container, .info-box-content {
		background-color: var(--in-content-box-background) !important;
	}
  /*
	vbox.box-inherit, .dialog-button-box {
		background-color: var(--in-content-page-background) !important;
	}
  */
	.dialogTitleBar {
			background-color: var(--in-content-dialog-header-background) !important;
			border-bottom: 1px solid var(--in-content-border-color) !important;
		}
  @media screen and (-moz-os-version:windows-win7) {
    treechildren {
      --treechildren-outline: none!important
    }
  }
}

/* ---------------------------------------------- */
/* Directoty listings					 	      				*/
/* ---------------------------------------------- */
/*
@-moz-document regexp("^[file:///].*[^(html|svg)]$") {
  :root {
		--in-content-page-background: #323030 !important;
		--in-content-box-background: #393838 !important;
		--in-content-page-color: #ccc !important;
		--in-content-box-border-color: #2a2a2a !important;
		--in-content-box-background-hover: #2f2f2f !important;
		--in-content-link-color: #3498db !important;

    background-color: var(--in-content-page-background)!important
  }
  body {
    border-color: var(--in-content-box-background)!important;
    background-color: var(--in-content-box-background)!important;
    color: var(--in-content-page-color)!important
  }
  h1 {
    border-color: var(--in-content-box-border-color)!important
  }
  body > table > tbody > tr:hover {
    outline-color: var(--in-content-box-background-hover)!important;
    background-color: var(--in-content-box-background-hover)!important
  }
  .dir, .file, .symlink, .up {
    color: var(--in-content-link-color)!important
  }
}
*/

@-moz-document url-prefix(chrome://) {
	:root {
		--in-content-page-background: #323030 !important;
		--in-content-page-color: #ccc !important;
		--in-content-link-color: #3498db !important;
		--in-content-box-background-hover: #2f2f2f !important;
	}
  #ColorsDialogPane, #ConnectionsDialogPane, #FontsDialogPane,
	#LanguagesDialogPane, .windowDialog, dialog, prefpane,
	prefpane > .content-box, prefwindow, window {
    background-color: var(--in-content-page-background)!important;
    color: var(--in-content-page-color)!important
  }
  #cookieInfoGrid .textbox-input {
    background-color: var(--in-content-page-background)!important
  }
  #historyItems {
    -moz-appearance: none!important
  }
	a {
		color: var(--in-content-link-color) !important;
	}
	body > table > tbody > tr:hover {
    outline-color: var(--in-content-box-background-hover)!important;
    background-color: var(--in-content-box-background-hover)!important
  }
}
