/* extensions */
@import "extensions/auto tab discard.css";
@import "extensions/dashlane.css";
@import "extensions/ublock origin.css";
@import "extensions/violentmonkey.css";

@import "about.css";
/* about.css
	* color vars of multiple elements in the about pages
	* view-source pages
	* file manager
	* about:webrtc
	* about:debugging
*/

/* Main menubar remove shadow */
@-moz-document url(chrome://browser/content/places/places.xul) {
#main-menubar, toolbar#toolbar-menubar {
	text-shadow: 0 0 .5em red, 0 0 .5em red, 0 1px 0 red !important;
  }
}

/* Removes white loading page */
@-moz-document url-prefix(about:blank) {
	html > body:empty {
		background-color: #323030 !important;
		margin: 0 !important;
	}
}

/* Background image new tab page */
@-moz-document url(about:newtab), url(about:home) {
  .outer-wrapper {
    background-image: url(dark.jpg) !important;  /* <<< IMAGE NAME IN chrome/ folder */
    background-size: cover !important;
    background-attachment: fixed !important;
  }
/* Hide scrollbar */
:root{
  scrollbar-width: none !important;
  }
}
@-moz-document url(about:privatebrowsing) {
:root{
  scrollbar-width: none !important;
  }
}
