/*! Alters the webextension Auto Tab Discard
  IMPORTANT: change the Internal UUID */

/* Popup */
@-moz-document url-prefix("moz-extension://57ab5f62-ff54-46ac-b76a-f82c15140ed5/") {
	body {
		background-color: #393838 !important;
		color: #ccc !important;
		overflow: hidden;
	}
	header {
		border-bottom-color: #151515 !important;
	}
	.button {
		background-color: #323030 !important;
		border-top: 1px solid #151515 !important;
	}
	.nav > span, .mlt > span[data-cmd] {
		background-color: #323030 !important;
	}
	li span[data-cmd^="release"] {
		width: 24px !important;
		background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='16.000000pt' height='16.000000pt' viewBox='0 0 512.000000 512.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,512.000000) scale(0.100000,-0.100000)'%0Afill='%23ccc' stroke='none'%3E%3Cpath d='M960 4176 c-43 -13 -76 -71 -65 -114 4 -18 251 -272 748 -769 l742%0A-743 -737 -737 c-431 -432 -742 -750 -748 -767 -24 -65 27 -136 98 -136 35 0%0A67 30 784 747 l748 748 748 -748 c686 -686 750 -747 780 -747 86 0 136 76 98%0A148 -8 15 -343 355 -745 757 l-731 730 508 510 c279 280 615 619 746 752 l239%0A242 -6 41 c-3 23 -13 50 -23 61 -20 23 -69 37 -102 31 -15 -3 -307 -289 -765%0A-749 l-741 -744 -741 741 c-519 519 -749 743 -770 749 -20 5 -43 4 -65 -3z'/%3E%3C/g%3E%3C/svg%3E") !important;
	}
	[data-cmd="move-previous"]::before, [data-cmd="move-next"]::after {
		filter: invert(1) !important;
	}
	[data-cmd="close"]::before, [data-cmd="close"]::after, .mlt span:last-child::before {
		background-color: #555 !important;
	}
	.button:hover, [data-cmd]:hover, .hbox:not([data-disabled="true"]):hover,
	.nav > span:hover, .mlt > span[data-cmd]:hover {
		background-color: #252525 !important;
	}
	.hbox:not([data-disabled="true"]) .flex:hover {
		cursor: pointer !important;
	}
	#rate {
		color: #3498db !important;
	}


	input[type="number"] {
		-moz-appearance: none !important;
		border: 1px solid #252525 !important;
		background: #323030 !important;
		padding: 2px !important;
		border-radius: 2px !important;
	}

	/* Checkbox */
	input[type="checkbox"] {
		-moz-appearance: none !important;
		border: 1px solid #666 !important;
		background-color: #444 !important;
		transition: color 0.3s;
		min-width: 14px;
		min-height: 14px;
	}
	input[type="checkbox"]:hover, .hbox:hover input[type="checkbox"] {
		box-shadow: 0 0 4px #0084ff !important;
		border-color: #0084ff !important;
	}
	input[type="checkbox"]:checked {
		background-color: #444 !important;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12px' height='16px' viewBox='0 0 12 16' version='1.1'%3E%3Cg id='check' fill='%23fff'%3E%3Cpath id='Shape' d='M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z'/%3E%3C/g%3E%3C/svg%3E") !important;
		background-size: 10px !important;
		background-repeat: no-repeat !important;
		background-position: center center !important;
	}
	/* Radio button */
	input[type="radio"] {
		-moz-appearance: none !important;
		margin-top: 0 !important;
		border: 1px solid #666 !important;
		list-style-image: none !important;
		border-radius: 10em;
		background-color: #444 !important;
		transition: color 0.3s;
		min-width: 12px;
		min-height: 12px;
	}
	input[type="radio"]:hover,
	#printPageSetupDialog radio:not([disabled]):hover .radio-check {
		box-shadow: 0 0 4px #0084ff !important;
		border-color: #0084ff !important;
	}
	input[type="radio"]:checked {
		background: #444 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10px" height="10px" viewBox="0 0 16 16" ><path fill="rgb(200,200,200)" d="M 6.17,3.01 C -0.84,6.78 4.35,15.22 9.89,13.22 15.68,11.20 13.99,1.10 6.17,3.01 Z" /></svg>') no-repeat center center !important;
	}
	radio[disabled], checkbox[disabled] {
		opacity: 0.8;
	}

	/* Text area  */
	textarea {
		-moz-appearance: none !important;
		border: 1px solid #252525 !important;
		background: #323030 !important;
		color: #ccc !important;
	}
	textarea:hover {
		border-color: #151515 !important;
	}

	/* Buttons */
	[type="button"] {
		-moz-appearance: none !important;
		background-color: #252525 !important;
		border: 1px solid #151515 !important;
		border-radius: 3px !important;
		color: #ccc !important;
		padding: 5px !important;
	}
	[type="button"]:hover {
		background-color: #151515 !important;
	}

	/* Options Page */
	th {
		background-color: #323030 !important;
	}
	.admin {
		color: #222 !important;
		background-color: #e6e6c8 !important;
	}
}
