/* --------------------------------------------------------------------------------------------

Dark Blue Theme for the webextension Fast Forward

author: ushruff
version: 1.0.0

IMPORTANT: change the Internal-UUID within the url-prefix("moz-extension://Internal-UUID/)

--------------------------------------------------------------------------------------------- */

@-moz-document url-prefix("moz-extension://13d52b5a-2cb5-4172-bacf-d48fd3f13970/") {
  :root {
    scrollbar-width: thin;
  }
  .uk-background-secondary {
    background-color: #1d3557 !important;
  }
  .uk-alert-primary {
    background: #a9d4ff !important;
  }
  .uk-alert-warning {
    background: #ffdbbb !important;
    color: #e67721 !important;
  }
  .uk-notification-message {
    background-color: #6EB2F6 !important;
    border-radius: 4px;
    color: #feffff !important;
  }
  .uk-checkbox:is(:checked, :indeterminate), .uk-radio:checked {
    background-color: #1e87f0 !important;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A") !important;
    border-color: #1e87f0 !important;
  }
  .uk-button-primary {
    background-color: #1e87f0 !important;
    color: #feffff !important;
  }
  .uk-button-primary:is(:focus, :hover) {
    background-color: #4EA1F4 !important;
  }
}
