/*! Alters the webextension Panorama Tab Groups
  IMPORTANT: change the Internal UUID */
@-moz-document url-prefix("moz-extension://e174e885-e716-4f14-b75c-b71b59fd087d/options") {
  html, body {
    background: #202023 !important;
    color: #ccc !important;
  }
  h2, h3 {
    color: #ddd !important;
    border-color: #4c4c4e !important;
  }
  a:link {
    color: #3498db !important;
  }
  a:hover, a:active {
    color: #0a8dff !important;
  }
  a:visited {
    color: #9b59b6 !important;
  }
  #saveBackupButton, #resetAddon {
    background: #3e3e42 !important;
    border-color: #3e3e42 !important;
    cursor: pointer !important;
  }
  #saveBackupButton:hover, #saveBackupButton:active,
  #resetAddon:active, #resetAddon:hover {
    background: rgba(249,249,250,0.15) !important;
  }
}
