/* --------------------------------------------------------------------------------------------

Dark Theme for the webextension Panorama Tab Groups

author: ushruff
version: 1.0.0

IMPORTANT: change the Internal-UUID within the url-prefix("moz-extension://Internal-UUID/)

--------------------------------------------------------------------------------------------- */

@-moz-document url-prefix("moz-extension://3f1ba85a-1317-4969-a313-9acbc6add762/options") {
  html, body {
    background: #202023 !important;
    color: #ccc !important;
  }

  h2, h3 {
    border-color: #4c4c4e !important;
    color: #ddd !important;
  }

  a:link {
    color: #3498db !important;
  }

  a:is(:hover, :focus-visible, :active) {
    color: #0a8dff !important;
  }

  a:visited {
    color: #9b59b6 !important;
  }

  .keyboardShortcuts input {
    appearance: none !important;
    background-color: #444 !important;
    border-color: #5c5c5e !important;
    color: #ddd !important;
  }

  .keyboardShortcuts button {
    appearance: none !important;
  }

  .keyboardShortcuts button, 
  #saveBackupButton, #resetAddon {
    padding: 0.3em 0.75em !important;
    background: #0a8dff !important;
    border: none !important;
    border-radius: 0.25rem !important;
    color: #eee !important;
    cursor: pointer !important;
  }
  
  .keyboardShortcuts button:is(:hover, :focus-visible), 
  #saveBackupButton:is(:hover, :focus-visible), 
  #resetAddon:is(:hover, :focus-visible) {
    background-color: #3498db !important;
  }
}