/*! Alters the webextension Auto Tab Discard
  IMPORTANT: change the Internal UUID */
@-moz-document url-prefix("moz-extension://c9c514e6-403e-40fb-b9b3-8fe8f0551b87/") {
	body {
	  background-color: #393838 !important;
		color: #ccc !important;
		border-color: #323030 !important;
	}
	header {
	  border-bottom: solid 1px #323030 !important;
	}
	.button {
	  background-color: #393838 !important;
	  border-top: solid 1px #323030 !important;
	}
	[data-cmd]:hover {
	  background-color: #202020 !important;
	}
	#rate {
		color: #3498db !important;
	}
	[data-cmd="move-previous"] {
		background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256' style='enable-background:new 0 0 256 256;' fill='%23ccc' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpolygon points='207.093,30.187 176.907,0 48.907,128 176.907,256 207.093,225.813 109.28,128 '/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
		background-size: 12px 12px !important;
	}
	[data-cmd="move-next"] {
		background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256' style='enable-background:new 0 0 256 256;' fill='%23ccc' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpolygon points='79.093,0 48.907,30.187 146.72,128 48.907,225.813 79.093,256 207.093,128 '/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
		background-size: 12px 12px !important;
	}
	ul li.hbox:last-of-type:hover {
		background-color: #202020 !important;
		cursor: pointer !important;
	}
	ul li .flex:hover, ul li #allowed:hover {
		cursor: pointer !important;
	}
}
