/*! Alters the webextension Dashlane
  IMPORTANT: change the Internal UUID */
@-moz-document url-prefix("moz-extension://94a4550e-b32a-4996-9282-3ecad3535cc9/") {
	/* Loader */
	.loader {
		background-color: #0e353d !important;
	}
	/* Main Container */
	#tab-container, .content--2iptIeuNZi, .smoke--158rA5UZrT, .wrapper--3fceIoQdkc,
	.empty--2CuhnJFnMM, .generatorPanel--1MayTybA6z {
		background-color: #0e6476 !important;
	}
	.username--1oaQEDTQtF, .itemsNumber--1Zjoym_mXY, .message--3EZ0uZmsnj,
	.length--1f0xe4OeG_, .text--10QZSAPYiU, .limit--3M8wHBmk7k,
	.searchMessage--LdJ2jrzX5f {
		color: #94b5b5 !important;
	}
	.title--1-Rp3gjlf-, .radio--1PeQA86C99 {
		color: #042228 !important;
	}
	.listHeaderWrapper--1tn3FaVZXW,	.ghostButton--156WB5UWP6:hover,
	.ghostButton--156WB5UWP6:focus, .ghostButton--156WB5UWP6:active,
	.fhVZaY:hover:not(:disabled), .fhVZaY:focus:not(:disabled) {
		border-color: #0e353d !important;
	}
	.listHeaderWrapper--1tn3FaVZXW {
		background-color: #0e353d !important;
		padding: 16px 36px !important;
		margin: 0 !important;
		box-shadow: 1px 3px 5px #0e353d65 !important;
		z-index: 2 !important;
	}
	.dropdownTitle--1LfumfCUSh {
		color: #94b5b5 !important;
		fill: #94b5b5 !important;
	}
	.dropdownTitle--1LfumfCUSh:hover,	.dropdownTitle--1LfumfCUSh:focus  {
		color: #d9e6e9 !important;
		fill: #d9e6e9 !important;
	}
	.credentialContainer--JYsC9ct0uf:hover,
	.credentialContainer--JYsC9ct0uf:focus {
		cursor: pointer !important;
		border-bottom-color: #0e353d !important;
	}
	.credentialContainer--JYsC9ct0uf:not(:first-of-type):hover,
	.credentialContainer--JYsC9ct0uf:not(:first-of-type):focus {
		border-top-color: #0e353d !important;
	}
	.actionList--2k_pSpNV9W {
		background: linear-gradient(90deg, transparent 0%, #025c6f 25%) !important;
		border-radius: 5px !important;
	}
	.ghostButton--156WB5UWP6:active, .fhVZaY:active:not(:disabled) {
		background-color: #0e353d !important;
	}
	.bar--1ahuOanrLx:nth-child(1), .handle--1JcICygjWI {
		background-color: #0e353d !important;
	}
	.noResultsTitle--3bcpdhM9ou {
		color: #0e353d !important;
	}

	/* Dropdown List */
	.menuList--2Q9cCiMRXq, .dropdownItem--1wcqteISKw {
		background-color: #0e353d !important;
	}
	.dropdownItem--1wcqteISKw, .secondaryItem--qxTZBSzqes {
		color: #d9e6e9 !important;
	}
	.subtitleItem--2TqvuXH1UD {
		color: #87a0a6 !important;
		border-bottom: 1px solid #87a0a6 !important;
	}
	.dropdownItem--1wcqteISKw:active, .dropdownItem--1wcqteISKw[aria-selected="true"] {
		color: #27b1d0 !important;
		font-weight: bold !important;
	}
	.dropdownItem--1wcqteISKw:hover {
		background: #277777 !important;
	}

	/* Footer */
	.footer--20YqnRARda {
		color: #94b5b5 !important;
		border-top: 1px solid #0e353d !important;
		background-color: #0e353d !important;
	}
	.link--_KNUP9GQEb:hover, .link--_KNUP9GQEb:focus {
		color: #d9e6e9 !important;
	}

	/* This Website */
	.container--2lnRoLHako {
		background-color: #bbdee6 !important;
	}
	.label--AUcxZh3fhp:not(.activeLabel--2eAHpth1ju) {
		color: #698282 !important;
	}
	.navigation--29-kekunCq > div:first-child {
		border-color: #94b5b5 !important;
	}
	.shown--3520F4QMNz svg path {
		stroke: #0e353d !important;
	}
	.empty--2CuhnJFnMM .dQcmlI {
		color: #d9e6e9 !important;
		background-color: #0e353d !important;
	}
	.empty--2CuhnJFnMM .dQcmlI:hover:not(:disabled),
	.empty--2CuhnJFnMM .dQcmlI:focus:not(:disabled) {
		color: #0e353d !important;
		background-color: #bbdee6 !important;
	}
	.action--xlk-3VcmBW {
		background-color: transparent !important;
	}
	.secondaryButton--14jrlyIT3G, .cbEDom {
		border-color: transparent !important;
	}
	.container--2lnRoLHako .action--xlk-3VcmBW .cbEDom .kdyCPA {
		z-index: 2 !important;
	}
	.container--2lnRoLHako .action--xlk-3VcmBW .secondaryButton--14jrlyIT3G:hover,
	.container--2lnRoLHako .action--xlk-3VcmBW .secondaryButton--14jrlyIT3G:focus,
	.container--2lnRoLHako .cbEDom:hover:not(:disabled),
	.container--2lnRoLHako .cbEDom:focus:not(:disabled) {
		background: #0e353d !important;
		color: #d9e6e9 !important;
		border-color: #0e353d !important;
	}
	.label--2Bmvx7Cr7M, .password--2elNaPrpWa {
		color: #d9e6e9 !important;
	}
	.account--aj1s9svYP0 {
		background-color: #4d9b9b !important;
		color: #0e353d !important;
		border-color: #0e353d !important; 16px 36px
	}
	.dialog--3r1htwnqgV {
		background-color: #94b5b5 !important;
	}
	.body--1yNr7pQxxo {
		color: #0e353d !important;
	}

	/* Generator */
	.saveDefault--1UsnZGBa5j:not([disabled]):hover,
	.saveDefault--1UsnZGBa5j:not([disabled]):focus {
		border-color: #0e353d !important;
		background-color: #0e353d !important;
		color: #d9e6e9 !important;
	}
	.optionsSeparator--3-jIPOo3M4 {
		border-color: #0e353d !important;
	}
	.tickboxChecked--Qn88Uk_RVS {
		background-color: #0e353d !important;
	}
	.tickbox--3-Du8KU2iD {
		border-color: #0e353d !important;
	}

	/* Other Options */
	.li--3Beyun2AWV {
		background-color: #6aa8b7 !important;
		color: #3e5d64 !important;
	}
	.toolExplanation--3TVSGYiprv {
		color: #d3dfe1 !important;
	}
	.tool--3CyHkZQVLg:hover, .tool--3CyHkZQVLg:focus, .tool--3CyHkZQVLg:active {
		background-color: #0e353d !important;
	}
	.li--3Beyun2AWV:hover .toolTitle--_c5mbQThoI,
	.li--3Beyun2AWV:focus .toolTitle--_c5mbQThoI {
		color: #d3dfe1 !important;
	}
	.li--3Beyun2AWV:hover .toolExplanation--3TVSGYiprv,
	.li--3Beyun2AWV:focus .toolExplanation--3TVSGYiprv {
		color: #6a8f97 !important;
	}
	.li--3Beyun2AWV:hover .toolIcon--2aT4VSXAgV,
	.li--3Beyun2AWV:focus .toolIcon--2aT4VSXAgV  {
		filter: invert(1) hue-rotate(180deg) !important;
	}

	/* Report an Issue */
	.container--38z9i5UZkt .header--UqRezoKb25 {
		background-color: #e35939 !important;
	}
	.warning--3ojpGO9cxv {
		background-size: 58px 58px !important;
		border-color: transparent !important;
	}
	.warning--3ojpGO9cxv .cCEOKG {
		width: 58px !important;
		height: 58px !important;
	}
	.form--187LeUcMuy {
		background-color: #6aa8b7 !important;
	}
	.form--187LeUcMuy .inputField--1HZFtfONhI,
	.form--187LeUcMuy .fields--3KLMOk94J4 div div textarea {
		border-color: #0e353d !important;
		color: #94b5b5 !important;
		background-color: #0e6476 !important;
	}
	.form--187LeUcMuy .fields--3KLMOk94J4 div label + div:not(.notice--3SvAGExF-r) {
		color: #94b5b5 !important;
		z-index: 2 !important;
	}
	.form--187LeUcMuy .fields--3KLMOk94J4 div div textarea,
	.form--187LeUcMuy .dropdownTitleTextSelected--y6mFhJfiog {
		color: #d9e6e9 !important;
	}
	.form--187LeUcMuy .menuList--2Q9cCiMRXq {
		z-index: 3 !important;
	}
	.form--187LeUcMuy .primaryButton--3o1mdp4i-b:not(:-moz-any(:hover,:focus,:disabled)) {
		background-color: #044755 !important;
	}
	.form--187LeUcMuy .primaryButton--3o1mdp4i-b:disabled {
		background-color: #0e6476 !important;
		color: #888 !important;
	}
	.form--187LeUcMuy .secondaryButton--14jrlyIT3G {
		color: #042228 !important;
	}
	.form--187LeUcMuy .text--10QZSAPYiU,
	.fields--3KLMOk94J4 .optIn--1ZngM-bGxZ .notice--3SvAGExF-r {
		color: #0e353d !important;
	}

	/* Autologin Popup*/
	#autologin-selection, .card-classic, .card-add,
	.autofill-dropdown-wrapper #autofill-dropdown,
	.autofill-dropdown-wrapper #autologin-selection,
	.autofill-dropdown-wrapper .autofill-dropdown-container, .card-generate:not(.popup-button),
	.dashlane-dialog, .dashlane-dialog .form-container {
		background: #bbdee6 !important;
	}
	.autofill-dropdown-wrapper #autofill-dropdown .ps-container,
	.autofill-dropdown-wrapper #autologin-selection .ps-container {
		padding-top: 8px !important;
	}
	.dashlane-dialog .header .header-text,
	.autofill-dropdown-wrapper .autofill-dropdown-header .header-panel {
		color: #0e353d !important;
	}
	.dashlane-dialog hr, .autofill-dropdown-wrapper hr,
	.autofill-dropdown-footer .footer-contents,
	.autofill-dropdown-footer .footer-contents {
		border-color: #0e353d !important;
	}
	.card-classic .card-classic-content, .card-add .card-classic-content {
		color: #0b2e35 !important;
	}
	.card-classic:hover, .card-add:hover {
		background: #0e353d !important;
	}
	.card-classic:hover .card-classic-header, .card-add:hover .card-classic-header,
	.card-classic:hover .card-classic-header-text, .card-add:hover .card-classic-header-text,
	.autofill-dropdown-container .card-add:hover .card-title {
		color: #94b5b5 !important;
	}
	.card-classic:hover .card-classic-content, .card-add:hover .card-classic-content {
		color: #d9e6e9 !important;
	}
	.card-classic:hover svg path, .card-add:hover svg path {
		fill: #94b5b5 !important;
	}
	.card-classic:hover .wrapper, .card-add:hover .wrapper {
		border: 2px solid #94b5b5 !important;
		border-radius: 50% !important;
		padding: 4px !important;
		left: 10px !important;
		top: 52% !important;
	}
	.ps-container .card-classic:hover .card-classic-content ,
	.ps-container .card-add:hover .card-classic-content,
	.ps-container .card-classic:hover .card-classic-header,
	.ps-container .card-add:hover .card-classic-header {
		margin-left: 4px !important;
	}
	#save-password-wrapper .other-link, .checkbox-label,
	.dashlane-dialog .toggler:not(:-moz-any(:hover,:focus)) {
		color: #0e6476 !important;
	}
	.dashlane-dialog .toggler .closed:not(:-moz-any(:hover,:focus))::before,
	.dashlane-dialog .toggler .open:not(:-moz-any(:hover,:focus))::before {
		border-color: transparent transparent transparent #0e6476 !important;
	}
	#save-password-wrapper #email-selector .filterable-list .filterable-text,
	#save-password-wrapper #email-selector .filterable-list-dropdown-content,
	#save-password-wrapper .filterable-list .filterable-list-dropdown {
		color: #d9e6e9 !important;
		background-color: #0e353d !important;
	}
	#save-password-wrapper #category-selector .filterable-list .filterable-text {
		background-color: #0e353d !important;
	}
	#save-password-wrapper input {
		color: #d9e6e9 !important;
	}
	#save-password-wrapper .filterable-list .filterable-list-item:hover {
		background-color: #277777 !important;
	}
	#save-password-wrapper .checkbox.unchecked rect {
		stroke: #0b2e35 !important;
	}
	#save-password-wrapper .checkbox:hover.unchecked rect {
		stroke: #0e6476 !important;
	}
	.ps-container.ps-active-x > .ps-scrollbar-x-rail,
	.ps-container.ps-active-y > .ps-scrollbar-y-rail, .ps-scrollbar-y-rail {
		background-color: #94b5b5 !important;
	}
	.ps-container.ps-active-x > .ps-scrollbar-x-rail .ps-scrollbar-y,
	.ps-container.ps-active-y > .ps-scrollbar-y-rail .ps-scrollbar-y,
	.ps-scrollbar-y-rail .ps-scrollbar-y {
		background-color: #0e6476 !important;
	}
}

/* ------- Addon preferences ------- */

@-moz-document url-prefix("moz-extension://94a4550e-b32a-4996-9282-3ecad3535cc9/options.html") {
	html, body {
		background-color: #2a2a2a !important;
		color: #ccc !important;
		font-family: 'Public Sans' , 'Helvetica Neue' , Helvetica , Arial , 'Lucida Grande' , sans-serif; !important;
		font-weight: 400 !important;
	}
	#mode_selector_form {
		padding: 2em !important;
	}
	button.browser-style {
		/* background: #0e6476 !important; */
		padding: 10px !important;
		border: 1px solid #0e6476 !important;
		border-radius: 4px !important;
	}
	/*button.browser-style:hover {
		background-color: #0e353d !important;
		border-color: #0e353d !important;
	}*/
}
