/*! Alters the webextension Facebook Container
  IMPORTANT: change the Internal UUID */
@-moz-document url-prefix("moz-extension://11261ad8-e0b6-477f-b4de-c8e06c7a1eed/") {
  html, body {
    background-color: #393838 !important;
    color: #ccc !important;
  }
  body {
    --blue60: #0a8dff !important;
    --blue70: #0652DD !important;
    --primaryText: #ccc !important;
    --secondaryText: #aaa !important;
    --grey20: #323030 !important;
    --borders: 1px solid #323030 !important;
  }
  .btn-return.arrow-left {
    background-color: transparent !important;
    filter: invert(1) !important;
  }
  .highlight-on-hover::after, .Facebook-text::after, .remove-site, .add-site {
    filter: invert(1) brightness(1.5) !important;
  }
  .highlight-on-hover:not(:-moz-any(.add-site-to-container, .remove-site-from-container))::after {
    transform: scale(1.7) !important;
  }
  .in-fbc-subhead::before, .trackers-detected-subhead::before {
    filter: invert(1) hue-rotate(180deg) !important;
  }
  .bottom-btn:first-of-type {
    background-color: var(--grey20) !important;
  }
  .bottom-btn:first-of-type:hover {
    background-color: #4a4a4a !important;
  }
  .bottom-btn:last-of-type:hover, .remove-btn:hover, .allow-btn:hover {
  	border-color: var(--blue70) !important;
  }

}
