/* Main menubar remove shadow */
@-moz-document url(chrome://browser/content/places/places.xul) {
#main-menubar, toolbar#toolbar-menubar {
	text-shadow: 0 0 .5em red, 0 0 .5em red, 0 1px 0 red !important;
  }
}

/* ------------------------------------------------------------------ */

/* Removes white loading page */
@-moz-document url-prefix(about:blank) {
	html > body:empty {
		background-color: #323030 !important;
		margin: 0 !important;
	}
}

/* ------------------------------------------------------------------ */

/* Background image new tab page */
@-moz-document url(about:newtab), url(about:home) {
  .outer-wrapper {
    background-image: url(dark.jpg) !important;  /* <<< IMAGE NAME IN chrome/ folder */
    background-size: cover !important;
    background-attachment: fixed !important;
  }
/* Hide scrollbar */
:root{
  scrollbar-width: none !important;
  }
}
@-moz-document url(about:privatebrowsing) {
:root{
  scrollbar-width: none !important;
  }
}

/* ------------------------------------------------------------------ */

/* about:addons - Small Hamburger Menu */
@-moz-document url("chrome://mozapps/content/extensions/aboutaddons.html") {
  :root {
    --in-content-button-background: var(--back-1) !important;
  }

	.card-contents button.more-options-button {
		background: transparent !important;
		background-image: url("chrome://global/skin/icons/more.svg") !important;
		background-repeat: no-repeat !important;
		background-position: center center !important;
	}

	.card-contents button.more-options-button:hover,
	.card-contents button.more-options-button:active,
	.card-contents button.more-options-button[aria-expanded="true"] {
		background-color: var(--in-content-button-background) !important;
	}
}
