.tab-bottom-line,
/*.tabbrowser-tab::before,
.tabbrowser-tab::after,*/
#alltabs-button {
  display: none !important;
}
#navigator-toolbox::after {
	border-bottom: 0px !important;
}

/* ------------------------------------------------------------------ */

/* Selected tab */
.tab-background[selected="true"] {
  border: none !important;
  background-image: none !important;
  background-color: rgba(51, 50, 48, 0.6) !important;         /* <<< COLOR */
}

/* Inactive tabs */
#TabsToolbar, #browser-panel {
	background: rgba(57, 56, 56, 0.3) !important;            /* <<< COLOR */
}

/* ------------------------------------------------------------------ */

/* URL bar */
#nav-bar {
  background-image: none !important;
  background-color: #323030 !important;         /* <<< COLOR */
  box-shadow: none !important;
}
#urlbar {
  border: none !important;
  background-color: #393838 !important;         /* <<< URL BAR BACKGROUND COLOR */
}

/* ------------------------------------------------------------------ */

/* Inactive tabs favicons */
.tab-icon-image:not([selected="true"]):not([pinned]) {
  /* filter: grayscale(1) brightness(0.5) contrast(1) invert(1) !important;
  opacity: 0.4 !important; */
  filter: opacity(0.4) !important;
}

/* ------------------------------------------------------------------ */

/* Full screen message */
@-moz-document url(chrome://browser/content/browser.xul),
url(chrome://browser/content/browser.xhtml) {
#fullscreen-warning {
  background-color: rgba(35, 35, 35, 0.5) !important;
  border-color: #131313 !important;
}

/* ------------------------------------------------------------------ */

/* ---------- PanelUI ---------- */
/* Hamburger menu */
.panel-arrow {
	fill: #393838 !important;
}
.panel-subview-body, #appMenu-zoomReset-button {
	color: #ccc !important;
	border-color: #ccc !important;
	background-color: #393838 !important;
}
.subviewbutton.panel-subview-footer {
	background-color: #393838 !important;
	border-top: 0px solid !important;
}
.panel-header {
	border-bottom: 1px solid #393838 !important;
	background: #202020 !important;
}
.panel-subview-footer, [class^="PanelUI-"], .subviewbutton {
	color: #ccc !important;
	/*background: #393838 !important;*/
}
.subviewbutton:hover {
	background-color: #202020 !important;
}
:root {
	--panel-separator-color: #555 !important;
}
.subviewbutton[shortcut]::after {
	color: #666 !important;
}
#appMenu-popup .subviewbutton .toolbarbutton-text, #appMenu-popup .panel-arrowcontent,
panelmultiview .toolbaritem-combined-buttons>label, .subviewbutton[shortcut]::after {
/*	font-family: Fira Sans !important; */
	font-size: 12px !important;
}

/* More tools dropdown */
panelview .toolbarbutton-1:not(:-moz-any([disabled], [open], :active)):-moz-any(:hover, :focus) {
  background: #323030 !important;
}
.subviewbutton.panel-subview-footer {
  background-color: #323030 !important;
  border-top: 1px solid #2a2a2a !important;
  transition: ease 0.5s !important;
}
.subviewbutton.panel-subview-footer:hover {
  background-image: linear-gradient(#2a2a2a, #323030) !important;
}

/* ------------------------------------------------------------------ */

/* Toolbar icons - hover & active */
toolbar .toolbarbutton-1:not(:-moz-any([disabled="true"], [checked], [open], #back-button, #forward-button)):active > :-moz-any(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack) {
  background: #323030 !important;
}
toolbar .toolbarbutton-1:not(:-moz-any([disabled="true"], [checked], [open], :active, #back-button, #forward-button)):-moz-any(:hover, :focus) > :-moz-any(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack) {
  background: #202020 !important;
}
toolbar .toolbarbutton-1:not(:-moz-any([disabled="true"], [checked], #back-button, #forward-button))[open="true"] > :-moz-any(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack) {
  background: #202020 !important;
}

/* ------------------------------------------------------------------ */

/* Bookmarks dropdown */
.panel-arrowcontent {
	color: #ccc !important;
	background: #464646 !important;
	border: 1px solid #2a2a2a !important;
	box-shadow: 0 0 4px #2a2a2a !important;
}
#editBookmarkPanelRows .textbox-input {
  padding: 1px !important;
}
.expander-down {
  list-style-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='16px' height='12px' fill='%23ccc' viewBox='0 0 306 306' style='enable-background:new 0 0 306 306;' xml:space='preserve'%3E%3Cg%3E%3Cg id='expand-more'%3E%3Cpolygon points='270.3,58.65 153,175.95 35.7,58.65 0,94.35 153,247.35 306,94.35 '/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") !important;
}
.expander-up {
  list-style-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='16px' height='12px' fill='%23ccc' viewBox='0 0 306 306' style='enable-background:new 0 0 306 306;' xml:space='preserve'%3E%3Cg%3E%3Cg id='expand-less'%3E%3Cpolygon points='153,58.65 0,211.65 35.7,247.35 153,130.05 270.3,247.35 306,211.65 '/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
}

/* ------------------------------------------------------------------ */

/* Downloads dropdown */
#downloadsListBox .downloadMainArea:hover, .downloadButton:hover  {
  background: #323030 !important;
}
.downloadsPanelFooterButton {
  background: #323030 !important;
  border-top: 1px solid #2a2a2a !important;
  transition: ease 0.5s !important;
  outline: 1px solid transparent !important;
}
.downloadsPanelFooterButton:hover {
  background: #2a2a2a !important;
  background-image: linear-gradient(#2a2a2a, #323030) !important;
}
