/* Close button opacity */
#TabsToolbar .close-icon {
  filter: opacity(40%) !important;
  transition: ease 0.6s all !important;
}
#TabsToolbar .close-icon:hover {
	fill-opacity: 0 !important;
	fill: #ccc !important;
	filter: opacity(1) !important;
}

/* ------------------------------------------------------------------ */

/* Centered text */
.tab-text {
  text-align: center !important;
}
.tab-label {
  -moz-box-flex: 1 !important;
  text-align: center !important;
}

/* ------------------------------------------------------------------ */

/* Tab line colour in normal mode and private mode*/
#main-window #tabbrowser-tabs{
  --tab-line-color: #3498db !important;         /* <<<< CHANGE COLOR */
  /*height: 0px !important;*/
}
/* Create a gradient for the tab line */
/*
tab.tabbrowser-tab .tab-line[selected="true"] {
  background-image: linear-gradient(to right, #a55eea, #4b7bec, #45aaf2, #26de81) !important;
}
*/
#main-window[privatebrowsingmode] #tabbrowser-tabs {
  --tab-line-color: #8e44ad !important;         /* <<<< CHANGE COLOR */
  height: 0px !important;
}

/* ------------------------------------------------------------------ */

/* Removes the side borders from active and inactive tabs.
 * Contributor(s): Madis0
 */
.tabbrowser-tab::after, .tabbrowser-tab::before {
   border-left: none !important; /* Remove borders from inactive tabs */
}
:root {
  --tabs-border: transparent !important; /* Remove borders from active tab and below tabs */
}

/* ------------------------------------------------------------------ */

/* Only show close buttons on background tabs when hovering with the mouse
 * Contributor(s): Timvde
 */
.tabbrowser-tab:not([selected]):not([pinned]) .tab-close-button {
  display: none !important;
}
.tabbrowser-tab:not([selected]):not([pinned]):hover .tab-close-button {
  display: -moz-box !important;
}

/* ------------------------------------------------------------------ */

/* Override vertical shifts when moving a tab */
#navigator-toolbox[movingtab] > #titlebar > #TabsToolbar {
  padding-bottom: unset !important;
}
#navigator-toolbox[movingtab] #tabbrowser-tabs {
  padding-bottom: unset !important;
  margin-bottom: unset !important;
}
#navigator-toolbox[movingtab] > #nav-bar {
  margin-top: unset !important;
}
