/*! Alters the webextension Universal Bypass
  IMPORTANT: change the Internal UUID */
@-moz-document url-prefix("moz-extension://995b35f1-5afe-411b-8f16-4d8c0abb050a/") {
  .uk-background-secondary {
  	background-color: #1d3557 !important;
  }
  .uk-alert-primary {
  	background: #a9d4ff !important;
  }
  .uk-alert-warning {
  	background: #ffdbbb !important;
    color: #e67721 !important;
  }
  .uk-card-primary.uk-card-body .uk-checkbox:checked,
  .uk-card-primary.uk-card-body .uk-checkbox:indeterminate,
  .uk-card-primary.uk-card-body .uk-radio:checked,
  .uk-card-primary > :not([class*="uk-card-media"]) .uk-checkbox:checked,
  .uk-card-primary > :not([class*="uk-card-media"]) .uk-checkbox:indeterminate,
  .uk-card-primary > :not([class*="uk-card-media"]) .uk-radio:checked,
  .uk-card-secondary.uk-card-body .uk-checkbox:checked,
  .uk-card-secondary.uk-card-body .uk-checkbox:indeterminate,
  .uk-card-secondary.uk-card-body .uk-radio:checked,
  .uk-card-secondary > :not([class*="uk-card-media"]) .uk-checkbox:checked,
  .uk-card-secondary > :not([class*="uk-card-media"]) .uk-checkbox:indeterminate,
  .uk-card-secondary > :not([class*="uk-card-media"]) .uk-radio:checked, .uk-light .uk-checkbox:checked,
  .uk-light .uk-checkbox:indeterminate, .uk-light .uk-radio:checked,
  .uk-offcanvas-bar .uk-checkbox:checked, .uk-offcanvas-bar .uk-checkbox:indeterminate,
  .uk-offcanvas-bar .uk-radio:checked, .uk-overlay-primary .uk-checkbox:checked,
  .uk-overlay-primary .uk-checkbox:indeterminate, .uk-overlay-primary .uk-radio:checked,
  .uk-section-primary:not(.uk-preserve-color) .uk-checkbox:checked,
  .uk-section-primary:not(.uk-preserve-color) .uk-checkbox:indeterminate,
  .uk-section-primary:not(.uk-preserve-color) .uk-radio:checked,
  .uk-section-secondary:not(.uk-preserve-color) .uk-checkbox:checked,
  .uk-section-secondary:not(.uk-preserve-color) .uk-checkbox:indeterminate,
  .uk-section-secondary:not(.uk-preserve-color) .uk-radio:checked,
  .uk-tile-primary:not(.uk-preserve-color) .uk-checkbox:checked,
  .uk-tile-primary:not(.uk-preserve-color) .uk-checkbox:indeterminate,
  .uk-tile-primary:not(.uk-preserve-color) .uk-radio:checked,
  .uk-tile-secondary:not(.uk-preserve-color) .uk-checkbox:checked,
  .uk-tile-secondary:not(.uk-preserve-color) .uk-checkbox:indeterminate,
  .uk-tile-secondary:not(.uk-preserve-color) .uk-radio:checked {
  	background-color: #1e87f0 !important;
  	border-color: #1e87f0 !important;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A") !important;
  }
}
