/* Change Font of entire browser */
* {
  font-family: Fira Sans, Arial;
  font-size: 12px;
}

/* ------------------------------------------------------------------ */

/* Change icon colors */
.toolbarbutton-1[label="Forward"] {
  -moz-context-properties: fill, fill-opacity !important;
  fill: #606060 !important;
  fill-opacity: 100% !important;
}
.toolbarbutton-1[label="Forward"]:hover {
  -moz-context-properties: fill, fill-opacity !important;
  fill: #909090 !important;
  fill-opacity: 100% !important;
}
.toolbarbutton-1[disabled="true"][label="Forward"] {
  -moz-context-properties: fill, fill-opacity !important;
  fill: transparent !important;
  fill-opacity: 100% !important;
}

/* ------------------------------------------------------------------ */

/* Tweaks for Ctrl+Tab
 * Contributor(s): difool2nice, MotherStylus
*/
#ctrlTab-previews {
  border-radius: 0% !important;
  box-shadow: none !important;
}
#ctrlTab-panel {
  -moz-appearance: none !important;
  color: white !important;
  border-style: none !important;
  padding: 20px 10px 10px !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-weight: normal !important;
  text-shadow: 0 0 2px hsl(0, 0%, 8%), 0 0 2px hsl(0, 0%, 8%) !important;
  box-shadow: none !important;
  background: transparent !important;
}
.ctrlTab-preview:not(#ctrlTab-showAll)>*>.ctrlTab-preview-inner {
  margin: -10px -10px 0 !important;
  box-shadow: none !important;
}
.ctrlTab-canvas {
  box-shadow: none !important;
}
.ctrlTab-preview-inner {
  padding: 8px transparent !important;
  border: 2px solid transparent !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  background-color: rgba(12, 12, 13, 0.3) !important;
}
.ctrlTab-preview:focus > .ctrlTab-preview-inner {
  background-color: rgba(0,0,0,.65) !important;
  transition: all 0.15s ease 0s !important;
}
.ctrlTab-preview > .ctrlTab-preview-inner {
  background-color: rgba(12, 12, 13, 0.3) !important;
  transition: all 0.4s ease 0s !important;
}
tabPreview-canvas element {
  max-width: 272px !important;
  min-width: 272px !important;
  max-height: 153px !important;
  min-height: 153px !important;
  box-shadow: none !important;
}
.ctrlTab-favicon-container {
  -moz-box-align: start !important;
  -moz-box-pack: start !important;
  box-shadow: none !important;
}
.ctrlTab-favicon[src] {
  background-color: transparent !important;
  width: 25px !important;
  height: 25px !important;
  padding: 2px !important;
  box-shadow: none !important;
}
